<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <title>竞猜记录</title>
        <link rel="stylesheet" href="../css/frozen.css">
        <link rel="stylesheet" href="../css/OG_gussing.css">

    <style type="text/css">
        .Info_header{
            color:#a28900;
            height:50px;
            border:0;
            font-size: 15px;
        }
        .Info_body{
            font-size: 13px;
            height: 50px;
            border:0;
        }
        .zhandui{
            float:left;
            line-height:60px;
        }
        .zhandui_info{
            float:left;
            height:50px;
            line-height:50px;
            text-indent:6px;
        }
    </style>

    </head>
    <body style="background:white">
        <header class="ui-header ui-header-positive ui-border-b">
            <i class="ui-icon-return" onclick="history.back()"></i><h1>竞猜记录</h1>
        </header>
        <section class="ui-container">
            <section id="tab">
                    <div class="demo-block">
                            <ul class="ui-tab-content">
                                <li>
                                    <table class="ui-table ui-border-tb">
                                        <thead>
                                        <tr class="Info_header" style="border-bottom:1px solid #eee;">
                                        <th>项目</th>
                                        <th>赔率</th>
                                        <th>时间</th>
                                        <th>金币数</th>
                                        <th>结果</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="Info_body" style="border-bottom:1px solid #eee;">
                                        <td>欧冠赛<p>(周四101)</p></td>
                                        <td>1.10</td>
                                        <td>2016-07-19 12:00</td>
                                        <td>1000</td>
                                        <td><a href="#" style="color:#10a64f">详情</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                    </div>
            </section>
        </section>
        </body>
</html>