<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <title>欧冠杯</title>
        <link rel="stylesheet" href="__CSS__/frozen.css">
        <link rel="stylesheet" href="__CSS__/OG_gussing.css">

    <style type="text/css">
        .Info_header{
            color:#a28900;
            height:50px;
            border:0;
            font-size: 15px;
        }
        .Info_body{
            font-size: 13px;
            height: 50px;
            border:0;
        }
        .tupian{
            width: 30px;
            height: 30px;
            vertical-align:middle;
            margin-top: 10px;
        }
        .zhandui{
            float:left;
            line-height:60px;
        }
        .zhandui_info{
            float:left;
            height:50px;
            line-height:50px;
            text-indent:6px;
        }
    </style>

    </head>
    <body style="background:#efefef;">
        <header class="ui-header ui-header-positive ui-border-b">
            <i class="ui-icon-return" onclick="history.back()"></i><h1>欧冠杯</h1>
        </header>
        <section class="ui-container">
            <section id="tab">
                    <div class="demo-block">
                        <div class="ui-tab" style="background:#efefef;">
                            <ul class="ui-tab-nav ui-border-b" style="font-size:18px">
                                <li>2015-2016赛季</li>
                            </ul>
                            <ul class="ui-tab-content">
                                <li>
                                    <table class="ui-table ui-border-tb">
                                        <thead>
                                        <tr class="Info_header" style="border-bottom:1px solid #eee;">
                                        <th>组别</th>
                                        <th>球队</th>
                                        <th>胜</th>
                                        <th>平</th>
                                        <th>负</th>
                                        <th>净胜球</th>
                                        <th>积分</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="Info_body" style="border-bottom:1px solid #eee;">
                                        <td>A</td>
                                        <td><a ="team.php?id=157&l_type=5&dpc=1" target="_blank">皇家马德里</a></td>
                                        <td>5</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>16</td>
                                        <td>16</td>
                                        </tr>
                                        <tr class="Info_body" style="border-bottom:1px solid #eee;">
                                        <td>A</td>
                                        <td><a ="team.php?id=316&l_type=5&dpc=1" target="_blank">巴黎圣日耳曼</a></td>
                                        <td>4</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>11</td>
                                        <td>13</td>
                                        </tr>
                                        <tr class="Info_body" style="border-bottom:1px solid #eee;">
                                        <td>A</td>
                                        <td><a ="team.php?id=3258&l_type=5&dpc=1" target="_blank">顿涅茨克矿工</a></td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>5</td>
                                        <td>-7</td>
                                        <td>3</td>
                                        </tr>
                                        <tr class="Info_body" style="border-bottom:1px solid #eee;">
                                            <td>A</td>
                                            <td><a href="team.php?id=5365&l_type=5&dpc=1" target="_blank">马尔默</a></td>
                                            <td>1</td>
                                            <td>0</td>
                                            <td>5</td>
                                            <td>-20</td>
                                            <td>3</td>
                                        </tr>
                                        <tr class="Info_body" style="border-bottom:1px solid #eee;">
                                            <td>B</td>
                                            <td><a ="team.php?id=84&l_type=5&dpc=1" target="_blank">沃尔夫斯堡</a></td>
                                            <td>4</td>
                                            <td>0</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>12</td>
                                        </tr>
                                        <tr class="Info_body" style="border-bottom:1px solid #eee;">
                                            <td>B</td><td><a ="team.php?id=718&l_type=5&dpc=1" target="_blank">埃因霍温</a></td><td>3</td><td>1</td><td>2</td><td>1</td><td>10</td>
                                        </tr>
                                        <tr class="Info_body" style="border-bottom:1px solid #eee;">
                                            <td>B</td><td><a ="team.php?id=52&l_type=5&dpc=1" target="_blank">曼联</a></td><td>2</td><td>2</td><td>2</td><td>0</td><td>8</td>
                                        </tr>
                                        <tr class="Info_body" style="border-bottom:1px solid #eee;">
                                            <td>B</td><td><a ="team.php?id=3967&l_type=5&dpc=1" target="_blank">莫斯科中央</a></td><td>1</td><td>1</td><td>4</td><td>-4</td><td>4</td>
                                        </tr>
                                        <tr class="Info_body" style="border-bottom:1px solid #eee;">
                                            <td>C</td><td><a ="team.php?id=15652&l_type=5&dpc=1" target="_blank">根特</a></td><td>2</td><td>1</td><td>4</td><td>-3</td><td>6</td>
                                        </tr>
                                        <tr class="Info_body" style="border-bottom:1px solid #eee;">
                                            <td>C</td><td><a ="team.php?id=162&l_type=5&dpc=1" target="_blank">马德里竞技</a></td><td>4</td><td>1</td><td>1</td><td>8</td><td>13</td>
                                        </tr>
                                        <tr class="Info_body" style="border-bottom:1px solid #eee;">
                                            <td>C</td><td><a ="team.php?id=1366&l_type=5&dpc=1" target="_blank">本菲卡</a></td><td>3</td><td>1</td><td>2</td><td>2</td><td>10</td>
                                        </tr>
                                        <tr class="Info_body" style="border-bottom:1px solid #eee;">
                                            <td>C</td><td><a ="team.php?id=843&l_type=5&dpc=1" target="_blank">加拉塔萨雷</a></td><td>1</td><td>2</td><td>3</td><td>-4</td><td>5</td>
                                        </tr>
                                        <tr class="Info_body" style="border-bottom:1px solid #eee;">
                                            <td>D</td><td><a ="team.php?id=216&l_type=5&dpc=1" target="_blank">曼城</a></td><td>4</td><td>0</td><td>2</td><td>4</td><td>12</td>
                                        </tr>
                                        <tr class="Info_body" style="border-bottom:1px solid #eee;">
                                           <td>D</td><td><a ="team.php?id=108&l_type=5&dpc=1" target="_blank">尤文图斯</a></td><td>3</td><td>2</td><td>1</td><td>3</td><td>11</td>    
                                        </tr>
                                        <tr class="Info_body" style="border-bottom:1px solid #eee;">
                                           <td>D</td><td><a ="team.php?id=166&l_type=5&dpc=1" target="_blank">塞维利亚</a></td><td>2</td><td>0</td><td>4</td><td>-3</td><td>6</td>
                                        </tr>
                                        <tr class="Info_body" style="border-bottom:1px solid #eee;">
                                           <td>D</td><td><a ="team.php?id=1305&l_type=5&dpc=1" target="_blank">门兴</a></td><td>1</td><td>2</td><td>3</td><td>-4</td><td>5</td>
                                        </tr>
                                    
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <script class="demo-script">
                    
                    </script>
                </div>
            </section>
        </section>
        <script src="/Public/Home/lib/zepto.min.js"></script>
        <script src="__JS__/frozen.js"></script>
        <script>
        (function (){
            var tab = new fz.Scroll('.ui-tab', {
                role: 'tab',
            });
            /* 滑动开始前 */
            tab.on('beforeScrollStart', function(fromIndex, toIndex) {
                console.log(fromIndex,toIndex);// from 为当前页，to 为下一页
            })
        })();
        </script>
        </body>
</html>