@charset "utf-8";
	* {
	margin:0;
	padding:0;
}
body {
	font:12px/1.5 Tahoma,Arial,"宋体",Helvetica,sans-serif;
	_background-image:url(about:blank);
	_background-attachment:fixed;
}
div {
	margin:0 auto;
}
:focus {
	outline:0;
}
img {
	border:0;
}
ul,li {
	list-style:none;
}
div,ul,li,dl,dt,dd,table,td,input {
	font-size:12px;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
	font-size:12px;
}
a {
	color:#333;
	text-decoration:none;
}
a:hover {
	color:#f60;
}
a:active {
	star:expression(this.onFocus=this.blur());
}
.clear {
	width:100%;
	height:0;
	clear:both;
	overflow:hidden;
}
.clear1 {
	width:100%;
	height:15px;
	clear:both;
	overflow:hidden;
}
i,em {
	font-style:normal;
}
.Fb {
	font-weight:bold;
}
.fl,.fl-img {
	float:left;
}
.fr {
	float:right;
}
.mat10 {
	margin-top:10px;
}
.mab10 {
	margin-bottom:10px;
}
.blank10 {
	height:10px;
	font-size:0;
	overflow:hidden;
	line-height:0;
	background:none;
}
.hidden {
	display:none;
}
.show {
	display:block;
}
.Current_nav {
	width:980px;
	font-size:12px;
	color:#bbb;
	font-family:宋体;
	height:25px;
	margin:0 auto;
}
.Current_nav span {
	font-family:宋体;
}
.Current_nav a {
	color:#bbb;
}
.Current_nav a:hover {
	color:#f60;
}
.red {
	color:#f00;
}
a.red:hover {
	text-decoration:underline;
	color:#f00;
}
.orange {
	color:#f60;
}
.blue {
	color:#2af;
}
a.blue:hover {
	text-decoration:underline;
	color:#2af;
}
.green {
	color:#3b0;
}
.red {
	color:#F00;
}
.gray {
	color:#333;
}
.gray01 {
	color:#666;
}
.gray02 {
	color:#999;
}
.gray03 {
	color:#bbb;
}
.rmb {
	background:url(../images/arrow_button.png) -178px -57px no-repeat;
	padding-left:8px;
}
.orangebut,.bluebut,.graybut,.cancelBtn,.greenbut {
	display:inline-block;
	font-size:12px;
	border-radius:2px;
	text-align:center;
	padding:0 19px;
	*overflow:visible;
	cursor:pointer;
}
input.orangebut,input.bluebut,input.graybut,input.cancelBtn {
	padding:4px 19px;
	padding:6px 19px 2px\9;
	*padding:5px 19px 1px;
	_padding:5px 19px 1px;
}
a.orangebut,a.bluebut,a.graybut,a.cancelBtn,a.greenbut {
	height:23px;
	line-height:23px;
	line-height:26px\9;
	_line-height:22px;
}
input[type=button]::-moz-focus-inner {
	border:0;
}
.greenbut {
	background:#49b8ff;
	border:1px solid #1ba3fa;
	color:#fff;
}
.greenbut:hover {
	background:#1ba3fa;
	color:#fff;
	color:#fff;
}
.orangebut {
	background:#f60;
	border:1px solid #f65802;
	color:#fff;
}
.orangebut:hover {
	background:#f65802;
	color:#fff;
}
.bluebut {
	background:#49b8ff;
	border:1px solid #1ba3fa;
	color:#fff;
}
.bluebut:hover {
	background:#1ba3fa;
	color:#fff;
	color:#fff;
}
.graybut {
	background:#f3f3f3;
	border:#cfcfcf 1px solid;
	color:#999;
}
.graybut:hover {
	background:#bbb;
	color:#fffeee;
}
.cancelBtn {
	background:#f4f4f4;
	border:#ddd 1px solid;
	color:#747474;
}
.cancelBtn:hover {
	background:#f4f4f4;
	border:#bbb 1px solid;
	color:#747474;
}
.tips-con i {
	background:url(../images/PublicIcon.png);
}
.tips-con {
	text-align:center;
	color:#666;
	margin:30px 0;
}
.tips-con i {
	width:17px;
	height:17px;
	background-position:0 -75px;
	display:inline-block;
	margin-right:4px;
	vertical-align:-4px;
	vertical-align:-2px\9;
	_vertical-align:-2px;
}
.msgNoMore {
	font-size:14px;
	padding:15px 0 0;
	text-align:center;
	color:#bbb;
}
.quick_cart s,.quick_service s,.quick_Collection s,.quick_Return s,.Close,.Roll_mycart li a.Close:hover,.quick_cart .Current s,.quick_service .Current s,.quick_Collection .Current s,.quick_Return .Current s {
	background:url(../images/quickBack.png) no-repeat;
}
.quickBack {
	position:fixed;
	_position:absolute;
}
.quickBack {
	position:fixed;
	bottom:40px;
	right:10px;
	width:60px;
	z-index:11;
}
* html .quickBack {
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)-40));
	_bottom:auto;
	_position:absolute;
}
.quickBack .quick_But {
	width:60px;
}
.quickBack .quick_But dd a.quick_cartA {
	width:58px;
	height:58px;
	position:relative;
	display:block;
	border:1px solid #E4E4E4;
	border-bottom:none;
	z-index:11;
}
.quickBack .quick_But dd a.quick_serviceA {
	width:58px;
	height:58px;
	position:relative;
	display:block;
	border:1px solid #E4E4E4;
	border-bottom:none;
	z-index:11;
}
.quickBack .quick_But dd a.quick_CollectionA {
	width:58px;
	height:58px;
	position:relative;
	display:block;
	border:1px solid #E4E4E4;
	border-bottom:none;
	z-index:11;
}
.quickBack .quick_But dd a.quick_ReturnA {
	width:58px;
	height:58px;
	position:relative;
	display:block;
	border:1px solid #E4E4E4;
	z-index:11;
}
.quickBack .quick_But dd a s {
	cursor:pointer;
	height:58px;
	left:0;
	position:absolute;
	top:0;
	width:58px;
}
.quickBack .quick_But dd a b {
	width:58px;
	text-align:center;
	font-weight:normal;
	color:#fff;
	position:absolute;
	top:32px;
	left:0;
	display:inline-block;
	font-family:微软雅黑;
	display:none;
	cursor:pointer;
	z-index:10;
}
.quickBack .quick_But dd a.Current b {
	display:block;
}
.quick_cart em {
	width:16px;
	padding-left:1px;
	height:17px;
	line-height:16px;
	font-size:11px;
	font-family:Arial;
	text-align:center;
	color:#fff;
	position:absolute;
	top:7px;
	right:5px;
	background:url(../images/quickBack_CartDig.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/quickBack_CartDig.png");
}
.quick_cart s {
	background-position:0 0;
}
.quick_service s {
	background-position:0 -59px;
}
.quick_Collection s {
	background-position:0 -118px;
}
.quick_Return s {
	background-position:0 -177px;
}
.quick_cart .Current s {
	background-position:-58px 0;
}
.quick_service .Current s {
	background-position:-58px -59px;
}
.quick_Collection .Current s {
	background-position:-58px -118px;
}
.quick_Return .Current s {
	background-position:-58px -177px;
}
.Roll_mycart {
	width:290px;
	height:234px;
	overflow:hidden;
	border:1px solid #2AF;
	position:absolute;
	right:59px;
	top:1px;
	background:#fff;
	z-index:18;
}
.Roll_mycart ul {
	width:282px;
	padding-left:8px;
	border-bottom:1px solid #EFEFEF;
	height:171px;
	float:left;
}
.Roll_mycart li {
	width:60px;
	float:left;
	text-align:center;
	position:relative;
	margin:8px 10px 0 0;
	_display:inline;
	line-height:14px;
}
.Roll_mycart li a {
	height:60px;
	display:block;
}
.Roll_mycart li a.Close {
	width:14px;
	height:14px;
	overflow:hidden;
	display:inline-block;
	background-color:#EEE;
	background-position:-14px -238px;
	position:absolute;
	top:0;
	right:0;
	z-index:18;
	border-bottom:none;
}
.Roll_mycart li a.Close:hover {
	width:14px;
	height:14px;
	overflow:hidden;
	display:inline-block;
	background-position:0 -238px;
	background-color:#F60;
	position:absolute;
	top:0;
	right:0;
	z-index:18;
}
.Roll_mycart li img {
	border:1px solid #EEE;
	width:58px;
	height:58px;
}
.Roll_mycart li span {
	font-family:Arial;
	font-weight:bold;
}
.Roll_mycart li.Roll_CartMore a {
	width:60px;
	height:60px;
	background:#F0F0F0;
	display:inline-block;
	line-height:60px;
	font-family:宋体;
	color:#999;
}
.Roll_mycart li.Roll_CartMore a:hover {
	background:#e8e8e8;
	color:#f60;
}
.Roll_mycart li.Roll_CartMore a i {
	font-weight:bold;
}
.Roll_mycart p {
	text-align:right;
	color:#999;
	width:260px;
	height:22px;
	overflow:hidden;
	float:right;
	padding-top:5px;
	padding-right:8px;
}
.Roll_mycart p span {
	color:#f60;
}
.Roll_mycart h3 {
	height:26px;
	padding-right:8px;
	padding-bottom:4px;
}
.Roll_mycart h3 input {
	width:112px;
	height:26px;
	text-align:center;
	color:#fff;
	display:block;
	border:none;
	cursor:pointer;
	font-family:微软雅黑;
	font-size:14px;
	background:#f60;
	border-radius:3px;
	float:right;
	padding:2px 0 5px;
	_padding:3px 0 2px;
}
.Roll_mycart h3 input[type=button]::-moz-focus-inner {
	border:0;
}

.rmbred,.rmbgray,.rmbwhite {
	background:url(../images/PublicIcon.png) no-repeat;
}
.rmbred {
	background-position:0 -49px;
	background-repeat:no-repeat;
	padding-left:10px;
}
.rmbgray {
	background-position:0 -3px;
	background-repeat:no-repeat;
	padding-left:10px;
}
.rmbwhite {
	background-position:0 -25px;
	background-repeat:no-repeat;
	padding-left:10px;
}



.h_news_tips {
	border:1px solid #BBB;
	width:170px;
	box-shadow:0 0 3px #DFDFDF;
	position:absolute;
	text-align:right;
	padding:5px 5px 2px 10px;
	background:#F7F7F7;
	border-radius:2px;
	z-index:11;
}
.h_news_tips .tipsCancel {
	position:absolute;
	right:3px;
	top:3px;
	width:7px;
	height:7px;
	overflow:hidden;
	display:inline-block;
	background-position:0 -124px;
}
.h_news_tips p {
	text-align:left;
	color:#666;
	height:22px;
	line-height:22px;
	padding-right:15px;
}
.h_news_tips p a {
	color:#2AF;
	text-align:right;
	float:right;
}
.h_news_tips p a:hover {
	text-decoration:underline;
}









.page_nav:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	overflow:hidden;
}
.page_nav {
	overflow:hidden;
	height:60px;
	clear:both;
}
.page_nav ul.pageUL {
	float:right;
	padding:20px 5px 0 0;
}
.page_nav ul.pageUL li {
	float:left!important;
	margin:0 5px;
	text-align:center;
}
.page_nav ul.pageUL li.total_page {
	color:#333;
	line-height:38px;
	padding-right:20px;
}
.page_nav ul.pageUL li.total_page i {
	color:#F00;
	font-style:normal;
}
.page_nav ul.pageUL li.curr_page {
	background-color:#FFEDE1;
	border:1px solid #FD6D01;
	color:#F50;
	display:block;
	font-weight:bold;
	height:25px;
	line-height:25px;
	width:25px;
}
.page_nav ul.pageUL li a {
	border:1px solid #DEDEDE;
	display:block;
	float:left;
	height:25px;
	line-height:25px;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
}
.page_nav ul.pageUL li a:hover {
	background-color:#FFF;
	border:1px solid #FD6D01;
	color:#FD6D01;
	display:block;
	height:25px;
	line-height:25px;
	text-decoration:none;
}
.page_nav ul.pageUL li.prev_page a {
	background:url("../images/arrow_button.png") no-repeat scroll -170px -13px transparent;
	padding:0 0 0 10px;
	white-space:nowrap;
	width:46px;
}
.page_nav ul.pageUL li.next_page a {
	background:url("../images/arrow_button.png") no-repeat scroll right 5px transparent;
	padding:0 10px 0 0;
	white-space:nowrap;
	width:46px;
}
.page_nav ul.pageUL li.prev_page a:hover,.page_nav ul.pageUL li.next_page a:hover {
	background-color:#FFF;
}
.page_nav {
	overflow:hidden;
	height:60px;
	clear:both;
}
.page_nav ul.pageULEx {
	float:right;
	padding:20px 0 0 0;
	margin-right:0;
	display:inline;
}
.page_nav ul.pageULEx li {
	line-height:32px;
}
.page_nav ul.pageULEx li.curr_page {
	padding:4px 0 5px 0;
	padding:4px 0 5px 0\9;
	_padding:4px 0 5px 0;
	font-size:14px;
	font-family:Arial;
	line-height:22px;
}
.page_nav ul.pageULEx li a {
	padding:3px 0 4px 0;
	padding:3px 0 4px 0\9;
	_padding:3px 0 4px 0;
	font-size:14px;
	font-family:Arial;
	line-height:22px;
}
.page_nav ul.pageULEx li.prev_page a,.page_nav ul.pageULEx li.next_page a {
	padding:4px 0 3px 0;
	padding:5px 0 2px 0\9;
	_padding:5px 0 2px 0;
	line-height:22px;
}
.page_nav ul.pageULEx li {
	float:left;
	list-style:none;
	margin:0 0 0 5px;
	text-align:center;
}
.page_nav ul.pageULEx li {
	float:left;
	text-align:center;
	color:#666;
	font-family:Arial;
}
.page_nav ul.pageULEx li.curr_page {
	display:block;
	font-weight:bold;
	text-align:center;
	width:30px;
	overflow:hidden;
	color:#666;
}
.page_nav ul.pageULEx li a {
	border:1px solid #DEDEDE;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
	border-radius:5px;
	color:#49B8FF;
}
.page_nav ul.pageULEx li a,.page_nav li a:hover {
	display:block;
	overflow:hidden;
}
.page_nav ul.pageULEx li a:hover {
	background-color:#49B8FF;
	border:1px solid #49B8FF;
	color:#FFF;
	text-decoration:none;
}
.page_nav ul.pageULEx li.prev_page a {
	border:1px solid #DEDEDE;
	display:block;
	text-align:center;
	overflow:hidden;
	width:55px;
	border-radius:5px;
	color:#49B8FF;
}
.page_nav ul.pageULEx li.next_page a {
	white-space:nowrap;
	width:55px;
	overflow:hidden;
}
.page_nav ul.pageULEx li.prev_page a:hover,.page_nav li.next_page a:hover {
	background-color:#49B8FF;
	color:#fff;
	border:1px solid #49B8FF;
	overflow:hidden;
}
.pagesx{font-size:14px;color:#333; margin:25px 0 0 0; float:right;}
#Page_Ul{ font-size:14px;}
#Page_Ul li{ float:left; margin-right:10px;}
#Page_Ul li a{color:#333;
	border:1px solid #DEDEDE;
	text-align:center;
	padding:5px 10px;
	border-radius:5px;
	color:#49B8FF;
	display:block;
}
#Page_Ul li a:hover {
	background-color:#49B8FF;
	border:1px solid #49B8FF;
	color:#FFF;
	text-decoration:none;
}
#Page_Ul #Page_Total{line-height:26px; display:none;}
#Page_Ul .Page_This{color:#333; line-height:26px;}
.mui-hidden{display: none;}
