<taglib name="html" />
<form class="form-horizontal" action="{$action}" role="form" method="post"  data-toggle="validator">
	<present name="data.gid">
		<input type="hidden" name="gid" value="{$data.gid}" />
	</present>
	<input type="hidden" name="type" value="{$type}" />
	<table class="table">
		<tr class="form-inline">
			<td class="col-sm-2 control-label">
				<label for="categorySelect" class="control-label"><r>*</r>所属分类</label>
			</td>
			<td>
				<select id="categorySelect" class="form-control" name="cid" required>
					<option>==请选择栏目==</option>
					<foreach name="allCategories" item="c">
						<option value="{$c.cid}">{$c.name}</option>
					</foreach>
				</select>
			</td>
		</tr>
		<tr class="form-inline">
			<td class="col-sm-2 control-label">
				<label for="brandSelect" class="control-label"><r>*</r>所属品牌</label>
			</td>
			<td>
				<select id="brandSelect" class="form-control" name="bid" required>
					<option>==请选择品牌==</option>
					<foreach name="allBrands" item="b">
						<option value="{$b.bid}">{$b.name}</option>
					</foreach>
				</select>
			</td>
		</tr>
		<tr>
			<td class="form-inline col-sm-2 control-label">
				<label for="inputTitle" class="control-label"><r>*</r>商品标题</label>
			</td>
			<td>
				<input class="form-control" id="inputTitle" name="title" value="{$data.title}"  required/>
			</td>
		</tr>
		<tr>
			<td class="col-sm-2 control-label">
				<label for="inputSubTitle" class="control-label">副标题</label>
			</td>
			<td>
				<input class="form-control" id="inputSubTitle" name="subtitle" value="{$data.subtitle}" />
			</td>
		</tr>
		<tr>
			<td class="col-sm-2 control-label">
				<label for="inputDescription" class="control-label">商品描述</label>
			</td>
			<td>
				<textarea class="form-control automaxlength" name="description" id="inputDescription" rows="2" maxlength="255">{$data.description}</textarea>
			</td>
		</tr>
		<tr class="form-inline">
			<td class="col-sm-2 control-label">
				<label for="inputZongjia" class="control-label"><r>*</r>商品总价</label>
			</td>
			<td>
				<input type="number" class="form-control" style="width:100px" id="inputZongjia" name="money" value="{$data.money}" maxlength="7" pattern="^(\d+\.\d+)|(\d+)$" required/>
				<label class="control-label">元</label>
			</td>
		</tr>
		<tr class="form-inline">
			<td class="col-sm-2 control-label">
				<label for="inputDanjia" class="control-label"><r>*</r>商品单价</label>
			</td>
			<td>
				<input type="number" class="form-control" style="width:100px" id="inputDanjia" name="danjia" value="{$data.danjia|default='1'}" maxlength="7" pattern="^\d+$" required/>
				<label class="control-label">元</label>
			</td>
		</tr>
		<tr class="form-inline">
			<td class="col-sm-2 control-label">
				<label for="inputXiangou" class="control-label"><r>*</r>限购次数</label>
			</td>
			<td>
				<input type="number" class="form-control" style="width:100px" id="inputXiangou" name="xiangou" value="{$data.xiangou|default='0'}" maxlength="7" pattern="^\d+$" required/>
				<label class="control-label">元</label>
				<span>设置限购次数（默认为0，表示不限购）</span>
			</td>
		</tr>
		<tr class="form-inline">
			<td class="col-sm-2 control-label">
				<label for="inputMaxQishu" class="control-label"><r>*</r>最大期数</label>
			</td>
			<td>
				<input type="number" class="form-control" style="width:100px" id="inputMaxQishu" name="maxqishu" value="{$data.maxqishu|default=100}" maxlength="7" pattern="^\d+$" required/>
				<label class="control-label">期，期数上限为65535期,每期揭晓后会根据此值自动添加新一期商品！</label>
			</td>
		</tr>
		<tr class="form-inline">
			<td class="col-sm-2 control-label">
				<label for="inputThumb" class="control-label">缩略图</label>
			</td>
			<td>
				<img src="{$data.thumb|default='__IMG__/goods.jpg'}" class="img-thumbnail thumb" alt="缩略图" />
				<input class="form-control" style="width:400px" id="inputThumb" name="thumb" readonly value="{$data.thumb|default='__IMG__/goods.jpg'}" />
				<button id="thumbButton" type="button" class="btn btn-default">上传图片</button>
			</td>
		</tr>
		<tr class="form-inline">
			<td class="col-sm-2 control-label">
				<label for="imagesButton" class="control-label">展示图片</label>
			</td>
			<td>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							最多上传10张图片
							<button id="imagesButton" type="button" class="btn btn-default">上传图片</button>
						</h3>
					</div>
					<div class="panel-body">
						<div id="photoTemplate" class="hidden col-xs-6 col-md-3">
							<a class="thumbnail">
								<img alt="" />
								<input type="hidden" class="hidden _file" />
								<input type="hidden" class="hidden _key" />
								<button type="button" class="btn btn-link">删除</button>
							</a>
						</div>
						<div id="imagesBody" class="row">
							<foreach name="images" item="image">
								<div class="col-xs-6 col-md-3">
									<a class="thumbnail">
										<img alt="" src="{$image.image_url}" />
										<input type="hidden" class="hidden _file" name="imageUrls[]" value="{$image.image_url}" />
										<input type="hidden" class="hidden _key" name="imageKeys[]" value="{$image.image_key}" />
										<button type="button" class="btn btn-link">删除</button>
									</a>
								</div>
							</foreach>
						</div>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td class="col-sm-2 control-label">
				<label for="contentEdtior" class="control-label">商品内容详情</label>
			</td>
			<td>
				<html:editor id="contentEdtior" name="content" type="UEDITOR">{$data.content}</html:editor>
			</td>
		</tr>
		<tr class="form-inline">
			<td class="col-sm-2 control-label">
				<label for="jishiButton" class="control-label">即时揭晓</label>
			</td>
			<td>
  				<div class="btn-group dropup">
					<button id="jishiButton" <if condition="$isAllCategories">disabled="true"</if> type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						参与即时揭晓 <span class="caret"></span>
					</button>
					<ul id="jishiMenus" class="dropdown-menu">
						<li hours="1"><a>1小时</a></li>
						<li hours="2"><a>2小时</a></li>
						<li hours="3"><a>3小时</a></li>
						<li hours="5"><a>5小时</a></li>
						<li hours="8"><a>10小时</a></li>
						<li hours="12"><a>12小时</a></li>
						<li hours="24"><a>1天</a></li>
						<li hours="48"><a>2天</a></li>
						<li hours="0"><a>不参与</a></li>
					</ul>
				</div>
				<span id="jishiSpan" class="label <if condition="$data.jishijiexiao eq 0">label-default<else/>label-success</if>">
					<switch name="data.jishijiexiao">
					    <case value="1">1小时</case>
					    <case value="2">2小时</case>
					    <case value="3">3小时</case>
					    <case value="5">5小时</case>
					    <case value="12">12小时</case>
					    <case value="24">1天</case>
					    <case value="240">2天</case>
					    <default />不参与
					</switch>
				</span>
				<input id="jishiInput" type="text" name="jishijiexiao" value="{$data.jishijiexiao}" class="hidden" />
			</td>
		</tr>
		<tr>
			<td class="col-sm-2 control-label">
				<label class="control-label">商品属性</label>
			</td>
			<td>
				<label class="checkbox-inline">
					<input type="checkbox" id="checkTuijian" boolean name="tuijian" <if condition = "$data.tuijian eq 1" >checked="true"</if>  value="{$data.tuijian}">人气
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="checkBaoyou" boolean name="baoyou" <if condition = "$data.baoyou eq 1" >checked="true"</if>  value="{$data.baoyou}">包邮
				</label>
			</td>
		</tr>
		<tr>
			<td class="col-sm-2">
			</td>
			<td>
				<button type="submit" class="btn btn-primary"> 提交 </button>
				<a class="btn btn-default" href="{:U('index','','')}"> 取消 </a>
			</td>
		</tr>
	</table>
	<div class="form-group">
		<p id="checkTips" class="check-tips text-danger"></p>
	</div>
</form>
<include file="Public:upload" />
<script type="text/javascript">
	//表单提交
	$(document).ajaxStart(function() {
		$("button:submit").attr("disabled", true);
	}).ajaxStop(function() {
		$("button:submit").attr("disabled", false);
	});
	//刷新验证码
	$(function() {
		var brandSelect = $("#brandSelect");
		var categorySelect = $("#categorySelect").change(function(evt) {
			var value = $(this).val();
			brandSelect.empty();
			brandSelect.append("<option>==请选择品牌==</option>");
			if (value) {
				$.get("{$categoryAction}/" + value, null, ongetbrandsuccess);
			}
		});

		function ongetbrandsuccess(list) {
			if (list && list.length > 0) {
				for (var i = 0, len = list.length; i < len; i++) {
					var option = $("<option>").val(list[i].bid).text(list[i].name);
					brandSelect.append(option);
				}
				brandSelect.val(list[0].bid).change();
			}
		}
		var thumbButton = $("#thumbButton").click(function() {
			UI.upload("上传缩略图", {
				ok: function(files) {
					if (files.length > 0) {
						var url = files[0].url;
						$("img", thumbButton.parent()).attr("src", url);
						$("#inputThumb").val(url);
					}
				}
			});
		});
		$("form").submit(function() {
			var self = $(this);
			$.post(self.attr("action"), self.serialize(), success, "json");
			return false;

			function success(data) {
				if (data.status) {
					window.location.href = data.url;
				} else {
					$("#checkTips").text(data.info);
				}
			}
		});
		// 图片上传
		var photoTemplate = $("#photoTemplate");
		var imagesButton = $("#imagesButton").click(function() {
			var limit = 10 - imagesBody.children().length;
			UI.upload("上传展示图片", {
				limit: limit,
				ok: function(files) {
					for (var i = 0, len = files.length; i < len; i++) {
						var url = files[i].url;
						var key = files[i].key;
						var previewImage = photoTemplate
							.clone()
							.removeAttr("id")
							.removeClass("hidden");
						imagesBody.append(previewImage);
						$("input._file", previewImage).val(url).attr("name", "imageUrls[]");
						$("input._key", previewImage).val(key).attr("name", "imageKeys[]");
						$("img", previewImage).attr("src", url);
					}
					var length = imagesBody.children().length;
					if (length == 10) {
						imagesButton.attr("disabled", true);
					}
				}
			});
		});
		// 删除图片
		var imagesBody = $("#imagesBody").on("click", "button", function() {
			var self = $(this);
			var parent = self.parent();
			var file = $("input._file", parent).val();
			var key = $("input._key", parent).val();
			//			$.post("{:U('removefile','','')}/" + key);
			self.closest("div").remove();
			imagesButton.attr("disabled", false);
		}); 
		
		<present name="data.gid">
			// 设置下拉框选中
			categorySelect.val("{$data.cid}");
			brandSelect.val("{$data.bid}").change(); 
		</present>
		
		// 设置勾选狂value
		$("[boolean]").change(function() {
			var self = $(this);
			self.val(self.prop("checked") ? 1 : 0);
		});
		
		// 设置即时
		$("#jishiMenus").on("click", "li", function(){
			$this = $(this);
			var hours = $this.attr("hours");
			var text = $this.text();
			var css = hours > 0 ? "label-success" : "label-default";
			$("#jishiInput").val(hours);
			$("#jishiSpan").text(text)
				.removeClass("label-success")
				.removeClass("label-default")
				.addClass(css);
		});
	});
</script>