<div class="nav">
	<a type="button" href="{:U('add','','')}" class="btn btn-primary navbar-btn">{$addTitle}</a>
</div>
<table id="listTable" class="table table-bordered">
	<thead>
		<tr>
			<th>商品标题</th>
			<th>所属栏目</th>
			<th>已参与/总参</th>
			<th>单价/元</th>
			<th>期数/最大期数</th>
			<th>人气商品</th>
			<if condition="$type eq 2">
				<th>限购次数</th>
			</if>
			<th style="width:200px">操作</th>
		</tr>
	</thead>
	<tbody>
		<foreach name="list" item="good">
		<tr>
			<td>{$good.title}</td>
			<td>{$good.category.name}</td>
			<td>{$good.canyurenshu}/{$good.shengyurenshu}</td>
			<td>{$good.danjia}</td>
			<td>{$good.qishu}/{$good.maxqishu}</td>
			<td>{$good.renqi}</td>
			<if condition="$type eq 2">
				<td>{$good.xiangou}</td>
			</if>
			<td gid="{$good.gid}">
				<if condition="$good.status lt 2">
					<a type="button" class="edit btn btn-warning btn-sm" href='{:U('edit','','')}/{$good.gid}'>编辑</a>
				</if>
				<if condition="$good.status eq 0 AND $good.qishu eq 1">
					<button type="button" class="delete btn btn-danger btn-sm">删除</button>
				</if>
				<a type="button" class="edit btn btn-info btn-sm" href='{:U('history','','')}/{$good.gid}'>查看往期</a>
			</td>
		</tr>
		</foreach>
	</tbody>
</table>
<include file="Public:pager"/>
<script type="text/javascript">
	$(function(){
		$("#listTable").on("click",".delete", function(evt) {
			var ths = $(this);
			var gid = ths.parent().attr("gid");
			var tr = ths.closest("tr");
			UI.confirm("是否删除", {
				ok: function() {
					remove(tr, gid);
				}
			});
		});
		
		function remove(tr, gid) {
			$.post("{:U('remove','','')}/" + gid, null, function(data) {
				if(data.status) {
					tr.remove();
				} else {
					$("#tips").text(data.info);
				}
			}, "json");
		}
	});
</script>