<style type="text/css">
	.tuijian {
		display: flex;
		background: #fff;
		line-height: 1;
	}
	
	.tuijian-img-container {
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		display: -moz-box;
		-moz-box-orient: horizontal;
		-moz-box-pack: center;
		-moz-box-align: center;
		display: -o-box;
		-o-box-orient: horizontal;
		-o-box-pack: center;
		-o-box-align: center;
		display: -ms-box;
		-ms-box-orient: horizontal;
		-ms-box-pack: center;
		-ms-box-align: center;
		display: box;
		box-orient: horizontal;
		box-pack: center;
		box-align: center;
	}
	
	.tuijian-img {
		width: 30vw;
		margin-left:3vw;
	}
	
	.tuijian-content {
		flex: 1;
		margin: 3vw;
	}
	
	.tuijian-content-title {
		color: #333;
		line-height: 1;
		margin-bottom: 5px;
	}
	
	.tuijian-content h5,
	.tuijian-content .iconfont {
		line-height: 25px;
		font-size: 12px;
	}
	
	r {
		color: red;
	}
	
	.tuijian-content .larger {
		font-size: 24px
	}
	
	.tuijian-content .small {
		font-size: 8px
	}
	
	.tuijian-content label {
		margin-right: 1vw;
	}
	
	.mui-btn,
	button {
		border-radius: 0;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.mui-btn-red {
		color: #fff;
		border: 1px solid #FF002B;
		background-color: #FF002B;
	}
	
	d {
		font-family: "digitalfont"!important;
	  	-webkit-font-smoothing: antialiased;
	  	-webkit-text-stroke-width: 0.2px;
	  	-moz-osx-font-smoothing: grayscale;
	  	font-size:14px;
	  	display:inline-block;
	  	background-color: #333;
		color:#fff;
		padding: 2px 3px;
    		margin: 0px 2px;
    		line-height: 1;
	}
	
	@media only screen and (max-width: 330px) {
		d {
			font-size:13px;
			padding: 1px 1px;
	    		margin: 0px 1px;
    		}
	}
	
</style>
<present name="tuijian">
	<section class="mui-content-padded" style="display:flex;background-color: #fff;">
		<div class="tuijian-img-container">
			<img class="tuijian-img" src="{$tuijian.thumb}" />
		</div>
		<div class="tuijian-content">
			<p class="tuijian-content-title">{$tuijian.title}</p>
			<h5><i class="iconfont icon-renminbi"></i><label>当前价格</label><r class="small">¥</r> <r class="larger">{$tuijian.zuigaojia}</r></h5>
			<h5><i class="iconfont icon-add"></i><label>出价次数</label>{$tuijian.chujiacishu}次</h5>
			<h5><i class="iconfont icon-weibiaoti5"></i><label>剩余时间</label><time countdown="{$tuijian.end_time|strtotime}"></time></h5>
			<button type="button" class="mui-btn mui-btn-red">我要出价</button>
		</div>
	</section>
</present>
<script type="text/javascript">
	$(function(){
		
		var countdownHTML = "<d>0</d><d>0</d>:<d>0</d><d>0</d>:<d>0</d><d>0</d>";
		var countdowns = $("time").each(function() {
			$this = $(this);
			$this.append("<d>0</d><d>0</d>:<d>0</d><d>0</d>:<d>0</d><d>0</d>");
			this.countdown = Number($this.attr("countdown"));
			this.digits = this.getElementsByTagName("d");
		});
		window.setInterval(function() {
			var now = Math.floor(new Date().getTime() / 1000);
			countdowns.each(function(){
				$this = this;
				var time = this.countdown - now;
				var hours = Math.min(Math.floor(time / 3600), 99);
				var muintes = Math.floor(time / 60) % 60;
				var seconds = time%60;
				hours = hours > 9 ? String(hours) : "0" + hours;
				muintes = muintes > 9 ? String(muintes) : "0" + muintes;
				seconds = seconds > 9 ? String(seconds) : "0" + seconds;
				this.digits[0].innerHTML = hours[0];
				this.digits[1].innerHTML = hours[1];
				this.digits[2].innerHTML = muintes[0];
				this.digits[3].innerHTML = muintes[1];
				this.digits[4].innerHTML = seconds[0];
				this.digits[5].innerHTML = seconds[1];
			});
		}, 1000);
		
	});
</script>