<h5 style="position: relative;" class="yyg-cell-left">出价<span class="yyg-cell-right yyg-right-margin">时间</span></h5>
<table class="mui-table-view">
	<tr>
		<th>买家</th>
		<th>出价</th>
		<th>时间</th>
	</tr>
	<tbody id="recrodList">
	<foreach name="list" item="item">
		<tr class="mui-table-view-cell">
			<td class="username">{$item.mobile}</td>
			<td class="money">{$item.money}</td>
			<td class="time yyg-cell-right yyg-right-margin">{$item.time}</td>
		</tr>
	</foreach>
	</tbody>
</table>
<footer class="yyg-footer">
	<div class="yyg-footer-block">
		<a class="yyg-btn yyg-btn-link" href="javascript:history.back()"><i class="mui-icon mui-icon-back"></i></a>
		<a id="addCartButton" class="yyg-btn yyg-btn-disabed">
			获得者本商品出价记录
		</a>
		<a class="yyg-btn yyg-btn-link" href="{:U('Cart/index', '','')}"><i class="iconfont icon-yyg_cart mui-icon"></i></a>
	</div>
</footer>

<script>
	$(function() {
		var pageNum = 1;
		var goodList = $("#recrodList").swipe({
			swipeUp: onscrollend,
			threshold: 100,
			allowPageScroll: "vertical"
		});
		
		$(window).bind("scroll", onscrollend);
		
		function onscrollend() {
			if ($(window).scrollTop() + $(window).height() == $(document).height()) {
       			console.info("滚动到底了");
       			page();
			}
		}
		
		var recrodList = $("#recrodList");
		var template = $("li:first-child", recrodList);
		
		function page() {
			$.get("{:U('record', '', '')}/{$gid}/" + (++pageNum), null, function(list) {
				if(list && list.length > 0) {
		       		$.each(list, function() {
		       			var item = template.clone();
		       			$(".username", item).text(this.username);
		       			$(".money", item).text(this.money);
		       			$(".time", item).text(this.time);
		       			recrodList.append(item);
		       		});
		       	} else {
		       		pageNum--;	
		       	}
	        });
		}
	});
</script>