<link href="__CSS__/style.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/demo.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__JS__/jquery.Validform.min.js"></script>
<script type="text/javascript" src="__JS__/passwordStrength-min.js"></script>
<script type="text/javascript">
$(function(){	
	$("#btnSubmitAccount").click(function() {	
		if($("#userAccount").val().length!=11){ 
				return false;
		}		 
		var self = $("form");
		$.post("{:U('Main/findpassword','','')}", self.serialize(), success, "json");
		return false;
	});
	
	function success(data) {
		if (data.status) {
			window.location.href = "{:U('Main/mobilecheckfind','','')}";
		} else {
			alert(data.msg);
		}
	}
	
});
</script>
<div class="login_layout">
	<div class="login_title">
		<h2>密码忘了？不要着急，通过以下方式即可帮您顺利的找回来！</h2>
	</div>
	<div class="login_Content">
		<form method="post" action="" enctype="application/x-www-form-urlencoded">
		<div class="login_CMobile_Complete login_CEmailPal">
			<p>您可以通过注册时所填写的手机号找回密码，请在下方输入您的帐号信息。</p>
			<dl>
				<dt>手机号：</dt>
				<dd><input datatype="m | e" sucmsg="帐号验证通过！" nullmsg="请填写帐号！" errormsg="手机号！" id="userAccount" type="text" name="userAccount" class="login_CMobile_CodeW" value=""></dd>
				<dd><div style="margin:7px 0 0 10px;" class="Validform_checktip">手机号！</div></dd>
			</dl>
			
			 
			<input type="button" name="submit" id="btnSubmitAccount" class="login_Email_but"  value="提交" />			
		</div> 
		</form>
		<div class="login_Explain">
			<p>1.您若忘记注册时所用的手机号建议您重新注册账号， <a href="{:U('Main/register', '', '')}" class="blue Fb">立即注册</a></p>
			<p>2.若有任何疑问或需要帮助请您进入帮助中心，也可以点击在线客服进行咨询或拨打服务热线391645065</p>
		</div>
	</div>
</div>