.left_date li a:hover {
    background-color: #D3E8F2;
    text-decoration: none;
    border-radius: 3px;
}
.left_date .set a {
    background-color: #D3E8F2;
    border-radius: 3px;
    font-weight: bold;
}