

.menu {
	width:250px;
	display:inline-block;
	zoom:*;	
	padding-bottom:100px;
	background: #EFEFEF;
	border-top: #EFEFEF solid 1px;
	border-right: #EFEFEF solid 1px;
}

.menu ul {
	list-style: none;
}

.menu ul, .menu li, .menu a  {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.menu a{
	text-decoration: none;
	display: block;
	line-height: 50px;
	font-size:16px;
	padding-left: 20px;
	color:#999999;
	background:#FFFFFF;
	border-bottom: #EFEFEF solid 1px;
	cursor: pointer;
}

.menu ul.menu-one {
	border-bottom: #EFEFEF solid 1px;
}

.menu ul.menu-two {
	padding-left: 25px;
}

.menu a.menu-selected {
	color:#3bb4f2;
}
