<style type="text/css">
	.yyg-bar-nav {
		display:flex;
		line-height: 40px;
		text-align: center;
		border-bottom:solid 1px #D5D5D5;
		background:#fff;
		width: 100%;
		font-size: 16px;
	}
	
	@media only screen and (max-width: 340px) {
		.yyg-bar-nav {
			font-size: 12px;
		}
	}
	
	.yyg-bar-nav a{
		color:#999;
	}
	
	.yyg-bar-nav-primary {
		width: 90px;
		border-right:solid 1px #D5D5D5;
	}
	
	.yyg-bar-nav-btn {
		flex:1;
		-webkit-flex:1;
		-ms-flex:1;
		-moz-flex:1;
		-o-flex:1;
	}
	
	.yyg-bar-nav-btn.yyg-active {
		color: #db3652;
	}
	
	.yyg-goods-list-item {
		background-color: #fff;
	}
	.yyg-goods-media {
		background:none;
		position: relative;
	}
	
	.yyg-goods-media span {
		color:rgba(171,171,171,1);
		margin:0 2px;
	}
	
	.yyg-goods-media r{
		font-size: 20px;
	}
	
	p.yyg-content-title {
		color:#333;
		font-size:14px;
	}
	
	.yyg-list-price {
		position: relative;
		
	}
	
	.yyg-right {
		display:block;
		position: absolute;
		top:50%;
		right:5px;
		text-align: right;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	}
	
	.yyg-list-buy{
		background-color:rgba(255,102,0,1);
		color:#fff!important;
	    height: 18px;
	    line-height: 18px;
	    border-radius: 9px 0 0 9px;
	    font-size:12px;
	    padding-right:5px;
	    padding-left:5px;
	}
	
	.yyg-list-buy-sts {
		display: inline-block;
		background-position:50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url(__IMG__/sts.png);
		width:11px;
		height:11px;
		vertical-align: middle;
	}
	
	.yyg-del {
		text-decoration: line-through;
	}
	
	.yyg-goods-list-item hr {
		border: none;
		border-top: 1px dotted rgba(252,226,198,1);
	}
	
	.yyg-category {
		position: absolute;
		background: rgba(0,0,0,0.1);
		width:100%;
		display:none;
		z-index: 999;
	}
	
	.yyg-category ul {
		list-style: none;
		padding: 0;
		margin: 0;
		background: #fff;
	}
	
	.yyg-category ul:after {
		content: " ";
		display: block;
		clear: both;
		visibility: hidden;
		height: 1px;
	}
	.yyg-category li {
		width:33%;
		color: #999;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		border-left:solid 1px #D5D5D5;
		border-bottom:solid 1px #D5D5D5;
		float:left;
		text-align: center;
		line-height: 45px;
	}
	
	.yyg-category li.yyg-active {
		color:#FF002B;
	}
	
	#buttonCategoy i:before{
		content:"\e608";
	}
	
	#buttonCategoy.yyg-active i:before{
		content:"\e609";
	}
	
	.yyg-category.yyg-active {
		display:block;
	}
	
	.tuijian {
		min-height: 30vw;
	}

	.tuijian-content label {
		display: inline-block;
		background-color:#FF002B;
		/*border-radius: 5px;*/
		color:#fff;
		padding:5px 10px;
		font-size:16px;
	}
	.tuijian-content label .iconfont {
		font-size:16px;
	}
	
	@media only screen and (max-width: 340px) {
		.tuijian-content label {
			font-size:14px;
		}
		.tuijian-content label .iconfont {
			font-size:14px;
		}
	}
	
	
	.tuijian-img-container {
		border:solid 1px #D5D5D5;
		left:3vw;
	}
	
	.tuijian-img {
		width: 90px;
		height:90px;
	}
	.tuijian-content {
		margin-left:120px;
		padding-bottom: 10px;
	}
	
	.tuijian-img-container label {
		display:block;
		position: absolute;
		bottom: 0px;
		width:100%;
		background-color:rgba(128,128,128,0.5);
		color:#fff;
		text-align: center;
		padding: 3px 0;
	}
	
	.yyg-jiexiao-list a{
	    padding: 0px 3px 3px 3px;
	    display: block;
	}
	
	.yyg-jiexiao-list a.jiexiao{
		background-color: #ff3300;
	}
	
	.yyg-jiexiao-list a.jiexiao:first-child{
		padding-top: 3px;
	}
	
	.yyg-jiexiao-list yyg-content{
		background-color: #fff;
	}
	
	.jiexiao-label {
		text-align: center;
		line-height: 23px;
		height: 20px;
		width:120px;
		font-size: 16px;
		color:#fff;
		background-color:#FF002B;
		position: absolute;
		left:-37px;
		top:13px;
		z-index: 100;
		-webkit-transform: rotate(-45deg);
		
	}
	
	.yijiexiao {
		color:#333;
	}

</style>

<include file="Public:tab"/>
<div id="goodNav" class="yyg-bar-nav">
	<a id="buttonCategoy" type="0" href="javascript:void(0);" class="yyg-bar-nav-primary "><span>商品分类</span><i class="iconfont"></i></a>
	<a type="2" href="javascript:void(0);" class="yyg-bar-nav-btn yyg-active">最新</a>
	<a class="yyg-bar-nav-btn" style="visibility: hidden;"></a>
	<a class="yyg-bar-nav-btn" style="visibility: hidden;"></a>
	<a class="yyg-bar-nav-btn" style="visibility: hidden;"></a>
</div>

<div id="goodCategories" class="yyg-category">
	<ul>
		
	</ul>
</div>
<ul id="goodList" class="yyg-goods-list" data-bind="foreach: goods">
	<li id="goodTemplate" class="yyg-jiexiao-list">
		<a data-bind="css: { 'jiexiao': status < 3 }, attr: { href: '{:U('Index/view', '', '')}/' + gid }">
			<section class="tuijian yyg-content">
				<!-- ko if: status < 3 -->
				<label class="jiexiao-label">即将揭晓</label>
				<!-- /ko -->
				<div class="tuijian-left">
					<div class="tuijian-img-container">
						<img class="tuijian-img" data-bind="attr: { src: thumb }" />
						<label>第<span class="qishu" data-bind="text: qishu"></span>期</label>
					</div>
				</div>
				<div class="tuijian-content">
					<p class="tuijian-content-title" data-bind="text: title"></p>
					<!-- ko if: status == 3 && username -->
					<h4>获得者：<span class="user" data-bind="text: username"></span></h4>
					<h5>商品价值：¥ <span data-bind="text: money"></span></h5>
					<h5>本期参与: <r data-bind="text: prizecount"></r> 人次</h5>
					<h5>幸运云购码：<b data-bind="text: Number(prizecode) + 10000001"></b></h5>
					<h5>揭晓时间：<span data-bind="text: end_time"></span></h5>
					<!-- /ko -->
					<!-- ko if: status == 3 && !username -->
					<h5>商品价值：¥ <span data-bind="text: money"></span></h5>
					<h5><i class="iconfont icon-yihan"></i>很遗憾，本期没有人参与</h5>
					<!-- /ko -->
				</div>
			</section>
		</a>
	</li>
</ul>
<div class="yyg-loading"></div>
<script src="__KO__"></script>
<script type="text/javascript">
	$(function(){
		window.onScrollEnd(pageAll);
		
		// 全部商品翻页
		var pageNum = 1;
		var goodList = $("#goodList");
		var goodTemplate = $("#goodTemplate");
		var endTemplate = $("#endTemplate");
		var emptyTemplate = $("#emptyTemplate");
		var goodCid = 0;
		var orderType = 2;
		var goods = [];
		var vm = {
			goods: ko.observableArray(goods)
		};
		ko.applyBindings(vm, document.getElementById("goodList"));
		function pageAll(clear) {
			if(clear) {
				pageNum = 1;
			}
			$.get("{:U('pageAll', '', '')}/10/" + pageNum, {
				type: orderType,
				cid: goodCid,
				tabId: "{$tabId}"
			}, function(list) {
				if(clear) {
					goodList.html("");
				}
				if(list && list.length > 0) {
					pageNum++;
					goods = goods.concat(list);
					vm.goods(goods);
		      	}
				window.closeLoading();
	       		window.countdown();
	       });
		}
		pageAll();
		
		var goodNav = $("#goodNav").on("touchend", "a.yyg-bar-nav-btn", function() {
			var $this = $(this);
			if($this.hasClass("yyg-active")) {
				return;
			}
			$("a.yyg-active", goodNav).removeClass("yyg-active");
			$this.addClass("yyg-active");
			orderType = $this.attr("type");
			pageAll(true);
		});
		var goodCategories = $("#goodCategories");
		var categories = null;
		var buttonCategoy = $("#buttonCategoy").click(function(evt) {
			evt.stopPropagation();
			evt.preventDefault();
			buttonCategoy.toggleClass("yyg-active");
			goodCategories.toggleClass("yyg-active");
			
			var $this = $(this);
			var scrollTop = $this.parent().offset().top - $this.height();
			if(scrollTop > 10) {
				$('html,body').animate({ scrollTop: scrollTop });
			}
			
			if(!categories) {
				$.get("{:U('category', '', '')}", null, function(list){
					categories = list;
					$.each(list, function(index) {
						$("<li>").text(this.name)
							.attr("index", index)
							.attr("cid", this.cid)
							.appendTo(ulCategories);
					});
					
					$(">li:first-child",ulCategories).addClass("yyg-active");
				});
			}
			
			if(buttonCategoy.hasClass("yyg-active")) {
				window.addEventListener("click", onclosecategory);
			} else {
				window.removeEventListener("click", onclosecategory);
			}
		});
		
		function onclosecategory() {
			buttonCategoy.toggleClass("yyg-active");
			goodCategories.toggleClass("yyg-active");
			window.removeEventListener("click", onclosecategory);
			console.log("自动关闭");
		}
		
		
		var ulCategories = $("ul", goodCategories)
			.on("touchend", "li", oncategory);
			
		function oncategory(evt) {
			var $this = $(this);
			if(evt && evt.stopPropagation) {
				evt.stopPropagation();
				evt.preventDefault();
			}
			if($this.hasClass("yyg-active")) {
				return;
			}
			$("li.yyg-active", ulCategories).removeClass("yyg-active");
			$this.addClass("yyg-active");
			
			goodCid = $this.attr("cid");
			pageAll(true);
			buttonCategoy.toggleClass("yyg-active");
			goodCategories.toggleClass("yyg-active");
			$("span", buttonCategoy).text($this.text());
			window.removeEventListener("click", onclosecategory);
		}
	});
</script>