<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>后台管理系统-登陆</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="alternate icon" type="image/png" href="__IMG__/favicon.png">
		<link rel="stylesheet" href="__CSS__/amazeui.min.css" />
		<style>
			.header {
				text-align: center;
			}
			.header h1 {
				font-size: 200%;
				color: #333;
				margin-top: 30px;
			}
			.header p {
				font-size: 14px;
			}
		</style>
	</head>

	<body>
		<div class="header">
			<hr />
		</div>
		<div class="am-g">
			<div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
				<h3>登录</h3>
				<hr>
				<form method="post" action="admin-index.html" class="am-form">
					<label for="username">邮箱:</label>
					<input type="text" name="username" id="username" value="">
					<br>
					<label for="password">密码:</label>
					<input type="password" name="password" id="password" value="">
					<br>
					<label for="verify">验证码:</label>
					<input type="text" name="verify" id="verify" maxlength="4" value="">
					<img src="{:U('verify')}" class="verifyimg reloadverify" />
					<br>
					<div class="am-cf">
						<input type="submit" name="submit" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
						<!--<input type="submit" name="" value="忘记密码 ^_^? " class="am-btn am-btn-default am-btn-sm am-fr">-->
					</div>
				</form>
				<hr>
				<p>© 2014 版权所有.</p>
			</div>
		</div>
	</body>

</html>