<!DOCTYPE html>
<html lang="zh-cn">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>后台管理中心</title>
      <script src="__PUBLIC__/js/common.js"></script>
      <script src="__PUBLIC__/plugins/plugins/plugins.js"></script>
   </head>
   <script>
   function toggleIsShow(t,v){
	   Plugins.waitTips({title:'信息提示',content:'正在操作，请稍后...'});
	   $.post("{:U('Admin/Articles/editiIsShow')}",{id:v,isShow:t},function(data,textStatus){
			var json = RTC.toJson(data);
			if(json.status=='1'){
				Plugins.setWaitTipsMsg({content:'操作成功',timeout:1000,callback:function(){
				    location.reload();
				}});
			}else{
				Plugins.closeWindow();
				Plugins.Tips({title:'信息提示',icon:'error',content:'操作失败!',timeout:1000});
			}
	   });
   }
   function del(id){
	   Plugins.confirm({title:'信息提示',content:'您确定要删除该文章吗?',okText:'确定',cancelText:'取消',okFun:function(){
		   Plugins.closeWindow();
		   Plugins.waitTips({title:'信息提示',content:'正在操作，请稍后...'});
		   $.post("{:U('Admin/Articles/del')}",{id:id},function(data,textStatus){
					var json = RTC.toJson(data);
					if(json.status=='1'){
						Plugins.setWaitTipsMsg({content:'操作成功',timeout:1000,callback:function(){
						location.reload();
						}});
					}else{
						Plugins.closeWindow();
						Plugins.Tips({title:'信息提示',icon:'error',content:'操作失败!',timeout:1000});
					}
				});
	   }});
   }
   </script>
   <body class='rtc-page'>
       <form method='post' action='{:U("Admin/Articles/index"),'',''}'>
       <div class='rtc-tbar' style='height:25px; width: 100%;'>       	
			<label>文章标题：</label>
			<input type='text' id='articleTitle' name='articleTitle' class='form-control' style="width: 500px;" value='{$articleTitle}'/> 
			<button type="submit" class="btn btn-primary glyphicon glyphicon-search">查询</button>
			
			<a class="btn btn-success glyphicon glyphicon-plus" href="{:U('Admin/Articles/toEdit')}" style='float:right'>新增</a>
       </div>
       </form>
       <div class="rtc-body"> 
        <table class="table table-hover table-striped table-bordered rtc-list">
           <thead>
             <tr>
               <th width='40'>序号</th>
               <th>标题</th>
               <th width='80'>分类</th>
               <th width='80'>是否显示</th>
               <!--<th width='80'>最后编辑者</th>-->
               <th width='150'>创建时间</th>
               <th width='180px'>操作</th>
             </tr>
           </thead>
           <tbody>
            <volist name="page['root']" id="vo" key='i'>
	             <tr>
	               <td>{$i}</td>
	               <td>{$vo['articletitle']}</td>
	               <td>{$vo['catname']}</td>
	               <td>
	               <div class="dropdown">
	               <if condition="$vo['isshow']==0 ">
	                   <button class="btn btn-danger dropdown-toggle rtc-btn-dropdown"  type="button" data-toggle="dropdown">
						     隐藏
						  <span class="caret"></span>
					   </button>
	               <else/>
	                   <button class="btn btn-success dropdown-toggle rtc-btn-dropdown" type="button" data-toggle="dropdown">
						     显示
						  <span class="caret"></span>
					   </button>
	               </if>
	                   <ul class="dropdown-menu" role="menu">
						  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:toggleIsShow(1,{$vo['articleid']})">显示</a></li>
						  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:toggleIsShow(0,{$vo['articleid']})">隐藏</a></li>
					   </ul>
	               </div>
	               </td>
	               <!--<td>{$vo['staffname']}</td>-->
	               <td>{$vo['createtime']}</td>
	               <td>	               
	               		<a class="btn btn-default glyphicon glyphicon-pencil" href="{:U('Admin/Articles/toEdit','','')}/{$vo['articleid']}">修改</a>&nbsp;
	               		<a class="btn btn-default glyphicon glyphicon-trash" href="javascript:del({$vo['articleid']})"">刪除</a>
	               </td>
	             </tr>
             </volist>             
           </tbody>
        </table>
        <div>
        	<include file="Public:pager"/>        	
        </div>
       </div>
   </body>
</html>