<style type="text/css">
	.mui-content {
		padding-bottom: 100px;
	}
	
	#emptyBlock {
		text-align: center;
		font-size:20px;
		color:#666;
		padding: 20px 0;
	}
	
	#emptyBlock .iconfont {
		font-size: 120px;
		line-height: 150px;
	}
	
	.yyg-removed {
		-webkit-filter: grayscale(100%); 
		-moz-filter: grayscale(100%); 
		-ms-filter: grayscale(100%); 
		-o-filter: grayscale(100%); 
		filter: grayscale(100%); 
		filter: gray; 
		position: relative;
		overflow: hidden;
	}
	.yyg-removed:after{
		content: "已结束";
		display: block;
		text-align: center;
		line-height: 23px;
		height: 23px !important;
		width:120px;
		font-size: 16px;
		color:#333;
		position: absolute;
		left:-37px;
		top:13px;
		z-index: 100;
		-webkit-transform: rotate(-45deg);
	}
	
</style>

<present name="list">
<ul class="mui-table-view yyg-cart">
	<foreach name="list" item="item">
		<li class="mui-table-view-cell yyg-cart-item <if condition="$item.status eq 1">yyg-removed</if>" id="{$item.id}">
		<if condition="$item.type eq 3">
			<div class="yyg-cart-img-container">
				<img src="{$item.paimai.thumb}"/>
			</div>
			<div class="yyg-cart-body">
				<p class="yyg-cart-title">( 立即揭标 ) {$item.paimai.title}</p>
				<h5>起拍价:{$item.paimai.qipaijia}</h5>
				<input type="number" disabled="disabled" name="count" dj="1" value="{$item.paimai.lijijia}" class="mui-input" />
				<a class="yyg-cart-remove yyg-btn yyg-btn-link" cid="{$item.id}"><i class="iconfont icon-remove"></i></a>
			</div>
		<else/>
			<div class="yyg-cart-img-container">
				<img src="{$item.good.thumb}"/>
			</div>
			<div class="yyg-cart-body">
				<p class="yyg-cart-title">(第 {$item.good.qishu} 期){$item.good.title}</p>
				<h5>剩余{$item.good.shengyurenshu}人次</h5>
				<input type="number" name="count" cid="{$item.id}" sy="{$item.good.shengyurenshu}" <if condition="$item.status eq 1">disabled="disabled"</if> xg="{$item.good.xiangou}" dj="{$item.good.danjia}" value="{$item.count}" bk="{$item.count}" class="mui-input" />
				<a class="yyg-cart-remove yyg-btn yyg-btn-link" cid="{$item.id}"><i class="iconfont icon-remove"></i></a>
			</div>
		</if>
		</li>
	</foreach>
</ul>
</present>
<div id="emptyBlock" <present name="list"> style="display:none"</present>>
	<i class="iconfont icon-emptyshoppingbag"></i>
	<br/>
	购物车为空
</div>
<footer id="footer" class="yyg-cart-footer" <notpresent name="list"> style="display:none"</notpresent>>
	<span>合计 <r id="totalMoney" class="larger">¥2.00</r></span>
	<h5>共<span id="goodCount">1</span>个商品</h5>
	<a href="{:U('Pay/index','','')}" class="yyg-btn yyg-btn-primary">去结算</a>
</footer>

<script type="text/javascript">
	$(function() {
		function sum() {
			var total = 0;
			var count = 0;
			$(".yyg-cart-item input").each(function() {
				$this = $(this);
				total += Number($this.attr("dj")) * Number($this.val());
				count++;
			});
			$("#goodCount").text(count);
			$("#totalMoney").text("¥" + total.toFixed(2));
		}
		
		var inputHandler = null;
		$(".yyg-cart-item input").bind("input", function() {
			$this = $(this);
			window.clearTimeout(inputHandler);
			inputHandler = window.setTimeout(function() {
				var id = $this.attr("cid");
				var count = $this.val();
				var bkCount = $this.attr("bk");
				var xiangou = Number($this.attr("xg"));
				var shengyu = Number($this.attr("sy"));
				if(count > 0) {
					if(count > 0 && xiangou > 0 && count > xiangou) {
						new Android_Toast({content: "该商品限购" + xiangou  + "人次" });
						count = xiangou;
						$this.val(count);
					}
					if(count > shengyu) {
						new Android_Toast({content: "该商品剩余" + shengyu  + "人次" });
						count = shengyu;
						$this.val(count);
					}
					
					$.post("{:U('edit', '', '')}/" + id + "/" + count, null, function(result) {
						if(result.status == 0) {
							sum();
							$this.attr("bk", result.count);
//							$this.val(result.count);
						} else { // 失败
							new Android_Toast({content: "修改失败"});
							$this.val(bkCount);
						}
					});
				}
			}, 200);
		});
//		}).bind("blur", function() {
//			$this = $(this);
//			var count = $this.val();
//			var bkCount = $this.attr("bk");
//			if(!(count > 0)) {
//				$this.val(bkCount);
//			}
//		});
		
		sum();
		
		$(".yyg-cart-remove").click(function() {
			$this = $(this);
			var id = $this.attr("cid");
			var bkCount = $this.attr("bk");
			$.post("{:U('remove', '', '')}/" + id, null, function(result) {
				if(result.status == 0) {
					$this.closest(".yyg-cart-item").remove();
					sum();
					if($(".yyg-cart-item").length == 0) {
						$("#emptyBlock").show();
						$("#footer").hide();
					}
					countCart(-1);
				} else { // 失败
					new Android_Toast({content: "删除失败"});
					$this.val(bkCount);
				}
			});
		});
	});
</script>