<style type="text/css">
	.yyg-prize {
		border:1px solid #FF002B;
		border-radius: 5px;
		margin:8px;
		background-color: #FDF5E6;
		min-height: 80px;
		position: relative;
	}
	#emptyBlock {
		text-align: center;
		font-size:20px;
		color:#666;
		padding: 20px 0;
	}
	
	#emptyBlock .iconfont {
		font-size: 80px;
		line-height: 100px;
	}
	
	.yyg-prize-img {
		position: absolute;
		left:10px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 100% 100%;
		width:64px;
		height:64px;
		border-radius: 32px;
		left: 10px;
		top:15px;
	}
	
	.yyg-prize-content {
		padding-left: 90px;
		margin-top:8px;
		margin-bottom:8px;
	}
	
	.yyg-prize-content h5 {
		line-height: 20px;
	}
	
	.yyg-prize-content a{
		font-size:16px;
		color: #2af;
	}
	
	.yyg-prize-all {
		border-top:solid 1px rgba(255,0, 43, 0.2);
		line-height: 30px;
		display: block;
		/*color:#FF002B;*/
		color:#999;
		font-size: 16px;
		text-align: center;
	}
	
</style>

<div class="yyg-qishu">
	<ul class="yyg-qishu-view">
		<if condition="$current['qishu'] eq $data['qishu']">
			<a class="yyg-qishu-item yyg-active">第{$data.qishu}期</a>
			<if condition="$data['qishu'] gt 1">
				<a class="yyg-qishu-item" href="{:U('view','','')}/{$data.gid}/{$data['qishu'] - 1}">第{$data['qishu'] - 1}期</a>
			</if>
			<if condition="$data['qishu'] gt 2">
				<a class="yyg-qishu-item" href="{:U('view','','')}/{$data.gid}/{$data['qishu'] - 2}">第{$data['qishu'] - 2}期</a>
			</if>
		<elseif condition="$data['qishu'] eq 1"/>
			<if condition="$data['qishu'] + 2 elt $current['qishu']">
				<a class="yyg-qishu-item" href="{:U('view','','')}/{$data.gid}/{$data['qishu'] + 2}">第{$data['qishu'] + 2}期</a>
			</if>
			<if condition="$data['qishu'] + 1 elt $current['qishu']">
				<a class="yyg-qishu-item" href="{:U('view','','')}/{$data.gid}/{$data['qishu'] + 1}">第{$data['qishu'] + 1}期</a>
			</if>
			<a class="yyg-qishu-item yyg-active">第{$data.qishu}期</a>
		<else/>
			<a class="yyg-qishu-item" href="{:U('view','','')}/{$data.gid}/{$data['qishu'] + 1}">第{$data['qishu'] + 1}期</a>
			<a class="yyg-qishu-item yyg-active">第{$data.qishu}期</a>
			<a class="yyg-qishu-item" href="{:U('view','','')}/{$data.gid}/{$data['qishu'] - 1}">第{$data['qishu'] - 1}期</a>
		</if>
	</ul>
</div>

<div class="yyg-body">
	<if condition="$data.prizeuid gt 0">
		<div class="yyg-prize">
			<div class="yyg-prize-img" style="background-image: url({$data.userimg});">
			</div>
			<div class="yyg-prize-content">
				<a >{$data.username}</a>
				<h5>本次参与:<r>{$data.prizecount}</r></h5>
				<h5>幸运购物码:<r>{$data['prizecode'] + 10000001}</r></h5>
				<h5>揭晓时间：{$data.end_time}</h5>
			</div>
			<a class="yyg-prize-all" href="{:U('prizerecord','','')}/{$data.qishu}/{$data.gid}/{$data.prizeuid}/{$data.username}">
				获得者本期所有购物码 >
			</a>
		</div>
	<elseif condition="$data.goumaicishu gt 0"/>
		<div class="yyg-prize">
			<div class="yyg-prize-img" style="background-image: url({$data.userimg});">
			</div>
			<div class="yyg-prize-content">
				<h5>本期剩余:<r>{$data.shengyurenshu}</r>人次</h5>
				<h5>幸运购物码:<r>{$data['prizecode'] + 10000001}</r></h5>
				<h5>揭晓时间：{$data.end_time}</h5>
			</div>
			<a class="yyg-prize-all">
				很遗憾，本期没有幸运获得者
			</a>
		</div>
	<else/>
		<div id="emptyBlock" class="yyg-prize">
			<i class="iconfont icon-yihan"></i>
			<br/>
			很遗憾，本期没有人参与
		</div>
	</if>
	<section class="tuijian yyg-content">
		<div class="tuijian-left">
			<div class="tuijian-img-container">
				<img class="tuijian-img" src="{$data.thumb}" />
			</div>
		</div>
		<div class="tuijian-content">
			<p class="tuijian-content-title">(第{$data.qishu}期){$data.title} <r>{$data.subtitle}</r></p>
			<h5>价值：¥ {$data.money}</h5>
		</div>
	</section>
</div>

<ul class="mui-table-view yyg-margin20">
	<if condition="$data.prizeid gt 0">
	<li class="mui-table-view-cell"><a class="mui-navigate-right">计算结果</a></li>
	<li class="mui-table-view-cell"><a class="mui-navigate-right" href="{:U('record', '', '')}/{$data.qishu}/{$data.gid}">参与记录 <span class="yyg-tiny">({$data.goumaicishu})</span></a></li>
	</if>
	<li class="mui-table-view-cell"><a class="mui-navigate-right" href="{:U('detail', '', '')}/{$data.gid}">图文详情 <span class="yyg-tiny">(建议WIFI下使用)</span></a></li>
	<if condition="$data.prizeuid gt 0">
	<li class="mui-table-view-cell"><a class="mui-navigate-right">商品晒单</a></li>
	</if>
</ul>
<footer class="yyg-footer">
	<div class="yyg-footer-block">
		<a class="yyg-btn yyg-btn-link" href="javascript:history.go(-1)"><i class="mui-icon mui-icon-back"></i></a>
		<if condition="$current['status'] lt 2">
			<a id="addCartButton" href="{:U('view','','')}/{$data.gid}/{$current.qishu}" class="yyg-btn yyg-btn-primary">
				第{$current.qishu}期正在进行中...
			</a>
		<else /> 
			<a id="addCartButton" class="yyg-btn yyg-btn-disabed">
				商品已经结束活动
			</a>
		</if> 
		<a class="yyg-btn yyg-btn-link" href="{:U('Cart/index', '','')}"><i class="iconfont icon-yyg_cart mui-icon"></i></a>
	</div>
</footer>

<script type="text/javascript">
	$(function() {
	});
</script>
