<style type="text/css">
	.yyg-bar-nav {
		display:flex;
		line-height: 40px;
		text-align: center;
		border-bottom:solid 1px #D5D5D5;
		background:#fff;
		width: 100%;
		font-size: 16px;
	}
	
	@media only screen and (max-width: 340px) {
		.yyg-bar-nav {
			font-size: 12px;
		}
	}
	
	.yyg-bar-nav a{
		color:#999;
	}
	
	.yyg-bar-nav-primary {
		width: 90px;
		border-right:solid 1px #D5D5D5;
	}
	
	.owl-controls {
		position: absolute;
	    bottom: 0;
	    left: 50%;
	    transform: translateX(-50%);
	    -webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    -o-transform: translateX(-50%);
	    -moz-transform: translateX(-50%);
	}
	
	.owl-theme .owl-controls .owl-page span {
		background-color: transparent;
		border:solid 1px #fff;
		opacity: 1;
	}
	
	.owl-theme .owl-controls .owl-page.active span {
		background-color: #fff;
	}
	
	.m_nav {
		background-color:#fff;
	}
	
	.m_nav:after {
		display: block;
		height: 1px;
		visibility: hidden;
		content: " ";
		clear: both;
	}
	
	.m_nav a {
		margin-top:10px;
		margin-bottom:10px;
		display: block;
		float:left;
		width: 25%;
		color:#333;
		font-size: 14px;
		text-align: center;
	}
	
	.m_nav a img {
		width:44px;
		height: 44px;
	}
	
	.yyg-bar-nav-btn {
		flex:1;
		-webkit-flex:1;
		-ms-flex:1;
		-moz-flex:1;
		-o-flex:1;
	}
	
	.yyg-bar-nav-btn.yyg-active {
		color: #db3652;
	}
	
	.yyg-goods-list-item {
		background-color: #fff;
		position: relative;
	}
	
	.yyg-good-cart{
		display: block;
		position:absolute;
		top:10px;
		right:10px;
		height:30px;
		width:30px;
		border-radius: 15px;
		line-height: 30px;
		text-align: center;
		background-color:#FF002B;
		color:#fff;
	}
	
	.yyg-good-cart .iconfont {
		font-size:24px;
	}
	
	.yyg-goods-media {
		background:none;
		position: relative;
	}
	
	.yyg-goods-media span {
		color:rgba(171,171,171,1);
		margin:0 2px;
	}
	
	.yyg-goods-media r{
		font-size: 20px;
	}
	
	p.yyg-content-title {
		color:#333;
		font-size:14px;
	}
	

	.yyg-list-price {
		position: relative;
		color: #666;
		line-height: 23px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.yyg-prize-lasttime {
		font-size: 13px;
		color: red;
	}
	
	@media only screen and (min-width: 321px) and (max-width: 375px) {
		.yyg-prize-lasttime {
			font-size: 15px;
		}
	}
	
	@media only screen and (min-width: 376px) {
		.yyg-prize-lasttime {
			font-size: 17px;
		}
	}
	
	.yyg-right {
		display:block;
		position: absolute;
		top:50%;
		right:5px;
		text-align: right;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	}
	
	.yyg-list-buy{
		background-color:rgba(255,102,0,1);
		color:#fff!important;
	    height: 18px;
	    line-height: 18px;
	    border-radius: 9px 0 0 9px;
	    font-size:12px;
	    padding-right:5px;
	    padding-left:5px;
	}
	
	.yyg-list-buy-sts {
		display: inline-block;
		background-position:50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url(__IMG__/sts.png);
		width:11px;
		height:11px;
		vertical-align: middle;
	}
	
	.yyg-del {
		text-decoration: line-through;
	}
	
	.yyg-goods-list-item hr {
		border: none;
		border-top: 1px dotted rgba(252,226,198,1);
	}
	
	
	.yyg-category {
		position: absolute;
		background: rgba(0,0,0,0.1);
		width:100%;
		display:none;
		z-index: 999;
	}
	
	.yyg-category ul {
		list-style: none;
		padding: 0;
		margin: 0;
		background: #fff;
	}
	
	.yyg-category ul:after {
		content: " ";
		display: block;
		clear: both;
		visibility: hidden;
		height: 1px;
	}
	.yyg-category li {
		width:33%;
		color: #999;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		border-left:solid 1px #D5D5D5;
		border-bottom:solid 1px #D5D5D5;
		float:left;
		text-align: center;
		line-height: 45px;
	}
	
	.yyg-category li.yyg-active {
		color:#FF002B;
	}
	
	#buttonCategoy i:before{
		content:"\e608";
	}
	
	#buttonCategoy.yyg-active i:before{
		content:"\e609";
	}
	
	.yyg-category.yyg-active {
		display:block;
	}
	
	.yyg-progress, .yyg-progress .yyg-progressing {
		height:4px;
		border-radius:2px;
	}
	
	.yyg-progress {
		margin-bottom:5px;
	}
	
	.yyg-good-border{
		margin: 10px;
	}
	
	.yyg-good-border-title{
		position: relative;
		height:30px;
		background-color: #fff;
		line-height: 30px;
		border-bottom: #D5D5D5 solid 1px;
		padding-left:5px;
		font-size:14px;
	}
	
	.yyg-good-border-title .yyg-cell-right{
		right:5px;
		color:#333;
	}
	
	.yyg-good-border-title i{
		display: inline-block;
		background-color: #FF002B;
		width:4px;
		height:14px;
		vertical-align: middle;
		margin-right: 2px;
	}
</style>
<div class="top w">
	<div class="m_banner" id="owl">
		<foreach name="slides" item="s">
		<a href="{$s.link|default='#'}" class="item"><img src="{$s.img}"></a>
		</foreach>
	</div>
	<div class="m_nav">
		<foreach name="allCategories" item="c">
			<a href="{:U('all','','')}/{$c.cid}/{$c.name}"><img src="{$c.thumb|default='__IMG__/m-index_10.png'}"><h5>{$c.name}</h5></a>
		</foreach>
	</div>
</div>

<div class="yyg-good-border">
	<div class="yyg-good-border-title">
		<i>&nbsp;</i>猜你喜欢的
		<a href="{:U('all','','')}" class="yyg-cell-right">更多&gt;&gt;</a>
	</div>
	
	<ul id="goodList" class="yyg-goods-list" data-bind="foreach: goods">
		<li id="goodTemplate" class="yyg-goods-list-item">
			<a data-bind="css: { 'jiexiao': status < 3 }, attr: { href: '{:U('Index/view', '', '')}/' + gid }">
				<div>
					<div class="yyg-good-cart"  data-bind="attr: { 'gid': gid }">
						<i class="iconfont icon-jiarugouwuche"></i>
					</div>
					<div class="yyg-goods-img-container" data-bind="style: { backgroundImage: 'url(' + thumb + ')' }">
					</div>
					<div class="yyg-goods-media">
						<p class="yyg-content-title">
							<span>(第<span data-bind="text: qishu"></span>期)</span> <span data-bind="text: title"></span> <r data-bind="text: subtitle"></r>
						</p>
						<div class="yyg-progress">
							<div class="yyg-progressing"  data-bind="style: { width: (Number(canyurenshu) / Number(zongrenshu)) * 100 + '%' }"></div>
						</div>
						<!-- ko if: status == 2 -->
						<div class="yyg-list-price yyg-prize-lasttime">
							正在开奖：<span data-bind="attr: { countdown: lasttime||new Date().getTime() +100000 }"></span>
						</div>
							
						<!-- /ko -->
						<!-- ko ifnot: status == 2 -->
						<div class="yyg-list-price">
							<span>¥<r data-bind="text: danjia">1</r></span><span class="yyg-del">¥</span><span class="yyg-del money" data-bind="text: money"></span>
							<span class="yyg-right yyg-list-buy"><i class="yyg-list-buy-sts"></i>去抢购</span>
						</div>
						<!-- /ko -->
					</div>
				</div>
			</a>
		</li>
	</ul>
</div>

<script src="__KO__"></script>
<script type="text/javascript">
	$(function(){
		
//		$(document).bind("scroll", onscrollend);
//		
//		function onscrollend() {
//			if ($(window).scrollTop() + $(window).height() == $(document).height()) {
//     			console.info("滚动到底了");
//				pageAll();
//			}
//		}
		window.onScrollEnd(pageAll);
		
		// 全部商品翻页
		var pageNum = 1;
		var goodList = $("#goodList");
		var goodTemplate = $("#goodTemplate");
		var goodCid = 0;
		var orderType = 1;
		var goods = [];
		var vm = {
			goods: ko.observableArray(goods),
		}
		ko.applyBindings(vm);
		function pageAll(clear) {
			if(clear) {
				pageNum = 1;
			}
			$.get("{:U('pageAll', '', '')}/10/" + pageNum, {
				type: orderType,
				cid: goodCid
			}, function(list) {
				if(clear) {
					goods.length = 0;
					vm.goods.removeAll();
				}
				if(list && list.length > 0) {
					pageNum++;
		       		if(clear) {
						goodList.html("");
					}
					if(list && list.length > 0) {
						pageNum++;
						goods = goods.concat(list);
						vm.goods(goods);
			      	}
		       		window.countdown();
		        }
				window.closeLoading();
	       });
		}
		pageAll();
		
		var goodNav = $("#goodNav").on("touchend", "a.yyg-bar-nav-btn", function() {
			var $this = $(this);
			if($this.hasClass("yyg-active")) {
				return;
			}
			$("a.yyg-active", goodNav).removeClass("yyg-active");
			$this.addClass("yyg-active");
			orderType = $this.attr("type");
			pageAll(true);
		});
		var goodCategories = $("#goodCategories");
		var categories = null;
		var buttonCategoy = $("#buttonCategoy").click(function(evt) {
			evt.stopPropagation();
			evt.preventDefault();
			buttonCategoy.toggleClass("yyg-active");
			goodCategories.toggleClass("yyg-active");
			
			var $this = $(this);
			var scrollTop = $this.parent().offset().top - $this.height();
			if(scrollTop > 10) {
				$('html,body').animate({ scrollTop: scrollTop });
			}
			
			if(!categories) {
				$.get("{:U('category', '', '')}", null, function(list){
					categories = list;
					$.each(list, function(index) {
						$("<li>").text(this.name)
							.attr("index", index)
							.attr("cid", this.cid)
							.appendTo(ulCategories);
					});
					
					$(">li:first-child",ulCategories).addClass("yyg-active");
				});
			}
			
			if(buttonCategoy.hasClass("yyg-active")) {
				window.addEventListener("click", onclosecategory);
			} else {
				window.removeEventListener("click", onclosecategory);
			}
		});
		
		function onclosecategory() {
			buttonCategoy.toggleClass("yyg-active");
			goodCategories.toggleClass("yyg-active");
			window.removeEventListener("click", onclosecategory);
			console.log("自动关闭");
		}
		
		
		var ulCategories = $("ul", goodCategories)
			.on("touchend", "li", oncategory);
			
		function oncategory(evt) {
			var $this = $(this);
			if(evt && evt.stopPropagation) {
				evt.stopPropagation();
				evt.preventDefault();
			}
			if($this.hasClass("yyg-active")) {
				return;
			}
			$("li.yyg-active", ulCategories).removeClass("yyg-active");
			$this.addClass("yyg-active");
			
			goodCid = $this.attr("cid");
			pageAll(true);
			buttonCategoy.toggleClass("yyg-active");
			goodCategories.toggleClass("yyg-active");
			$("span", buttonCategoy).text($this.text());
			window.removeEventListener("click", onclosecategory);
		}
		
		var offset = $("#cart").offset();
		goodList.on("click", ".yyg-good-cart", function(evt) {
			evt.stopPropagation();
			evt.preventDefault();
			var $this = $(this);
			var gid = $this.attr("gid");
			
			var img = $this.attr("src");
			var flyer = $('<img class="u-flyer" src="'+img+'">');
			var goodOffset = $this.offset();
			flyer.fly({
				start: {
					left: goodOffset.left,
					top: goodOffset.top - $(document).scrollTop()
				},
				end: {
					left: offset.left+30,
					top: offset.top+30,
					width: 0,
					height: 0
				},
				onEnd: function(){
					this.destory();
				}
			});
			
			$.post("{:U('Cart/add', '', '')}/" + gid + "/1", null, function(result) {
				if(result.status==1000)
				{
					window.location.href="{:U('Person/trylogin', '', '')}?url="+encodeURI(window.location.href);
					return;
				}
				new Android_Toast({content: result.message});
				if(result.count > 0) {
					countCart(1);	
				}
			})
		});
		
	});
</script>