<div class="top w">
	<div class="m_banner" id="owl">
		<foreach name="slides" item="s">
		<a href="{$s.link|default='#'}" class="item"><img src="{$s.img}"></a>
		</foreach>
	</div>
	<div class="m_nav">
		<foreach name="allCategories" item="c">
			<a href="#"><img src="{$c.thumb|default='__IMG__/m-index_10.png'}"><span>{$c.name}</span></a>
		</foreach>
	</div>
</div>

<div class="m_baoliao w" style=" background:#ffffff; ">
	<ul class="goods-list clear">
		<li>
			<a target="_blank" href="#"> <img src="http://s1.juancdn.com/bao/140305/8/f/53171e5bdfe40_580x380.jpg_290x190.jpg" /></a>
			<a target="_blank" href="jump/67939165">
				<h1><i class="ico13"><img src="__IMG__/sdj.png"></i>可爱时尚实用迷你照明电筒  【包邮】</h1>
				<div class="list-price buy">
					<i>￥</i><span class="price-new">1</span><i class="del">/￥19</i>
					<span class="good-btn">
							<i class="ico15"><img src="__IMG__/sts.png"/></i>去抢购 
					</span>
				</div>
			</a>
		</li>

		<li>
			<a target="_blank" href="#"> <img src="http://s1.juancdn.com/bao/140307/e/4/53198186beb1a_580x380.jpg_290x190.jpg" /> </a>
			<a target="_blank" href="jump/66939495">
				<h1><i class="ico13"><img src="__IMG__/sdj.png"></i>男士全棉中筒运动袜（5双）  【包邮】</h1>
				<div class="list-price end">
					<i>￥</i><span class="price-new">1</span><i class="del">/￥98</i>
					<span class="good-btn">抢光了</span>
				</div>
			</a>
		</li>
		<li>
			<a target="_blank" href="#"> <img src="http://s1.juancdn.com/bao/140305/8/f/53171e5bdfe40_580x380.jpg_290x190.jpg" /></a>
			<a target="_blank" href="jump/67939165">
				<h1><i class="ico13"><img src="__IMG__/sdj.png"></i>可爱时尚实用迷你照明电筒  【包邮】</h1>
				<div class="list-price buy">
					<i>￥</i><span class="price-new">1</span><i class="del">/￥19</i>
					<span class="good-btn">
						<i class="ico15"><img src="__IMG__/sts.png"/></i>去抢购 </span>
				</div>
			</a>
		</li>

		<li>
			<a target="_blank" href="#"> <img src="http://s1.juancdn.com/bao/140307/e/4/53198186beb1a_580x380.jpg_290x190.jpg" /> </a>
			<a target="_blank" href="jump/66939495">
				<h1><i class="ico13"><img src="__IMG__/sdj.png"></i>男士全棉中筒运动袜（5双）  【包邮】</h1>
				<div class="list-price end">
					<i>￥</i><span class="price-new">1</span><i class="del">/￥98</i>
					<span class="good-btn">抢光了</span>
				</div>
			</a>
		</li>

	</ul>
</div>