<style>
	ul.yyg-prizecode-list {
		list-style: none;
		padding: 8px;
		margin: 0;
		background-color:#fff;	
	}
	
	ul.yyg-prizecode-list li {
		margin-right: 10px;
		margin-top:3px;
		margin-bottom:3px;
		padding: 0;
		display: inline-block;
		font-size: 12px;
	}
</style>
<h5 class="yyg-cell-left">{$username}第{$qishu}期总共购买了{$count}人次</h5>
<ul id="recrodList" class="yyg-prizecode-list">
	<foreach name="list" item="item">
	<li>{$item.pcode}</li>
	</foreach>
</ul>
<footer class="yyg-footer">
	<div class="yyg-footer-block">
		<a class="yyg-btn yyg-btn-link" href="javascript:history.go(-1)"><i class="mui-icon mui-icon-back"></i></a>
		<a id="addCartButton" class="yyg-btn yyg-btn-disabed">
			{$title}
		</a>
		<a class="yyg-btn yyg-btn-link" href="{:U('Cart/index', '','')}"><i class="iconfont icon-yyg_cart mui-icon"></i></a>
	</div>
</footer>

<script src="__JS__/jquery.touchSwipe.min.js"></script>
<script>
	$(function() {
		var pageNum = 1;
		var goodList = $("#recrodList").swipe({
			swipeUp: onscrollend,
			threshold: 100,
			allowPageScroll: "vertical"
		});
		
		$(window).bind("scroll", onscrollend);
		
		function onscrollend() {
			if ($(window).scrollTop() + $(window).height() == $(document).height()) {
       			console.info("滚动到底了");
       			page();
			}
		}
		
		var recrodList = $("#recrodList");
		var template = $("li:first-child", recrodList);
		
		function page() {
			$.get("{:U('prizerecord', '', '')}/{$qishu}/{$gid}/{$uid}/{$username}/" + (++pageNum), null, function(list) {
				if(list && list.length > 0) {
		       		$.each(list, function() {
		       			var item = template.clone().text(this.pcode);
		       			recrodList.append(item);
		       		});
		       	} else {
		       		pageNum--;	
		       	}
	        });
		}
	});
</script>