<div class="yyg-qishu">
	<ul class="yyg-qishu-view">
		<div class="yyg-qishu-item">
			a
		</div>
		<div class="yyg-qishu-item">
			b
		</div>
		<div class="yyg-qishu-item">
			c
		</div>
	</ul>
	<a class="yyg-qishu-all">+</a>
</div>

<div class="yyg-body">
	<div class="swiper-outter">
		<div class="swiper-container swiper-loop">
		    <div class="swiper-wrapper">
		    	<foreach name="images" item="image">
					<div class="swiper-slide" style="background-image: url({$image.image_url});"></div>
				</foreach>
		    </div>
		</div>
		<div class="pagination pagination-loop"></div>
	</div>
	
	<p class="yyg-view-title yyg-view-margin">
		(第{$data.qishu}期) {$data.title} <r>{$data.subtitle}</r>
	</p>
	<h5 class="yyg-view-margin">价值：¥ {$data.money}</h5>
	<div class="yyg-progress-bar yyg-view-margin">
		<div class="yyg-progress">
			<div class="yyg-progressing" style="width:{$data.percentage|default=0}%"></div>
		</div>
		<div class="yyg-progess-indicator">
			<span class="yyg-progess-l">{$data.canyurenshu}</span>
			<span class="yyg-progess-c">{$data.zongrenshu}</span>
			<span class="yyg-progess-r">{$data.shengyurenshu}</span>
		</div>
		<div class="yyg-progess-label">
			<span class="yyg-progess-l">已参与</span>
			<span class="yyg-progess-c">总需</span>
			<span class="yyg-progess-r">剩余</span>
		</div>
	</div>
</div>

<ul class="mui-table-view yyg-margin20">
	<li class="mui-table-view-cell"><a class="mui-navigate-right">参与记录</a></li>
	<li class="mui-table-view-cell"><a class="mui-navigate-right" href="{:U('detail', '', '')}/{$data.gid}">图文详情<span class="yyg-tiny">(建议WIFI下使用)</span></a></li>
	<li class="mui-table-view-cell"><a class="mui-navigate-right">商品晒单</a></li>
</ul>
<footer class="yyg-footer">
	<div class="yyg-footer-left">
		<a class="yyg-btn yyg-btn-link" href="javascript:history.back()"><i class="mui-icon mui-icon-back"></i></a>
		<div id="lijiButton" class="yyg-btn yyg-btn-primary">立即一元秒杀</div>
	</div>
	<div class="yyg-footer-right">
		<div id="addCartButton" class="yyg-btn yyg-btn-success">加入购物车</div>
		<a class="yyg-btn yyg-btn-link" href="{:U('Cart/index', '','')}"><i class="iconfont icon-yyg_cart mui-icon"></i></a>
	</div>
</footer>

<script type="text/javascript">
	$(function() {
		$("#addCartButton").click(function() {
			$.post("{:U('Cart/add', '', '')}/{$data.gid}/{$data.type}", null, function(result) {
				new Android_Toast({content: result.message});
			})
		});
		$("#lijiButton").click(function() {
			$.post("{:U('Cart/add', '', '')}/{$data.gid}/{$data.type}", null, function(result) {
				window.location.href = "{:U('Cart/index', '','')}";
			})
		});
	});
</script>
