<header class="mui-bar mui-bar-nav">	
	  <button class="mui-btn mui-btn-link mui-btn-nav mui-pull-left">
			<span class="mui-icon mui-icon-left-nav" ></span>
	    	<a href="{:U('Person/me','','')}">返回</a>
	  </button>
	  <h1 class="mui-title">{$title}</h1>
</header>
<div class="mui-content">
	<ul class="yyg-tab">
		<li class="yyg-tab-item">
			<a href="{:U('Person/rechargerecord','','')}">
				钱包记录
			</a>
		</li>
		<li class="yyg-tab-item  yyg-active">
			<a href="#">
				提现记录
			</a>
		</li>
	</ul>

				
	<h5 style="position: relative;" class="yyg-cell-left">金额<span class="yyg-cell-right yyg-right-margin">时间&nbsp;&nbsp;</span></h5>
	<ul id="recrodList" class="mui-table-view">
		<foreach name="data" item="item">
			<li class="mui-table-view-cell">			
				<span class="yyg-cell-right yyg-right-margin time">{$item.time}</span>
				<span class="money">{$item.money}</span>
			</li>
		</foreach>
	</ul>
	
</div>
 <style type="text/css">
	
</style>
<script src="__JS__/jquery.touchSwipe.min.js"></script>
<script>
	$(function() {
		var pageNum = 1;
		var goodList = $("#recrodList").swipe({
			swipeUp: onscrollend,
			threshold: 100,
			allowPageScroll: "vertical"
		});
		
		$(window).bind("scroll", onscrollend);
		
		function onscrollend() {
			if ($(window).scrollTop() + $(window).height() == $(document).height()) {
       			console.info("滚动到底了");
       			page();
			}
		}
		
		var recrodList = $("#recrodList");
		var template = $("li:first-child", recrodList);		
		function page() 
		{
				$.get("{:U('pagecashoutlist', '', '')}/20/" + (++pageNum), null, function(list) {
						if(list && list.length > 0) 
						{
				       		$.each(list, function() {
				       			var item = template.clone();
				       			$(".money", item).text(this.money);
				       			$(".time", item).text(this.time);
				       			recrodList.append(item);
				       		});
		       	} else {
		       		pageNum--;	
		    		}
		    });
		}
	});
</script>
