<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	
	
	
	<ul id="goodList" class="yyg-goods-list">
	
	<li     class="ymodd mui-hidden" onclick="location.href='http://www.yygtx.com/index.php/mobile/user/buyDetail/2793'">
	    <a class="fl z-Limg"><span class="z-Imgbg z-ImgbgC02"></span><em class="z-Imgtxt">已揭晓</em>
	    	<img src="#" alt="" border="0">	        	
	    </a>
	    <div class="u-sgl-r ">
	    	<p class="z-sgl-tt"><a class="gray6">(第53期)壹元天下商城20元充值劵</a></p><p>
	    		获得者：<em class="blue">134****4666</em></p><p>
	    		揭晓时间：<em class="gray6">2015-11-28 15:12:00.000</em></p>
	    </div><b class="z-arrow"></b>
	</li>

	<li    class="ymodd mui-hidden" onclick="location.href='http://www.yygtx.com/index.php/mobile/user/buyDetail/2793'">
	    <a class="fl z-Limg"><span class="z-Imgbg z-ImgbgC02"></span><em class="z-Imgtxt">已揭晓</em>
	    	<img src="#" alt="" border="0">	        	
	    </a>
	    <div class="u-sgl-r ">
	    	<p class="z-sgl-tt"><a class="gray6">(第53期)壹元天下商城20元充值劵</a></p><p>
	    		获得者：<em class="blue">134****4666</em></p><p>
	    		揭晓时间：<em class="gray6">2015-11-28 15:12:00.000</em></p>
	    </div><b class="z-arrow"></b>
	</li>
	
</ul>
	
	
	
	
	
	
	
	<body>
	</body>
</html>
