<style>
	.ac{ text-align:center;}
	#showimg{ float:initial;}
</style>
	<header class="mui-bar mui-bar-nav">
		  <button class="mui-btn mui-btn-link mui-btn-nav mui-pull-left" onclick="history.go(-1)">
				<span class="mui-icon mui-icon-left-nav" ></span>
		    	返回
		  </button>
		  <h1 class="mui-title">个人设置</h1>
	</header>
 
		<div class="m-round m-name mui-content">
				<div class="fl f-Himg ac">
					<span>
							<img id="showimg" src="__IMG__/{$data.img}" border=0/> 
					</span>
				 <span>
						<form   method="post" id="crop_form">
							<input type="hidden" id="membimg" name="membimg" value="{$data.img}" />
							<input id="crop_submit" type="submit" name="submit" class="bluebut" value="保存头像" title="保存头像" />
						</form>
					</span>
				</div>
		</div>
 
		
		 
		<div class="mui-slider-item">
			<ul class="mui-table-view mui-grid-view mui-grid-9">
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#"><img id="tx/2211274314672928.jpg" src="__IMG__/tx/2211274314672928.jpg" onclick="checked(this);"></a></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#"><img id="tx/2111274314672928.jpg" src="__IMG__/tx/2111274314672928.jpg" onclick="checked(this);"></a></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#"><img id="tx/2011274314672928.jpg" src="__IMG__/tx/2011274314672928.jpg" onclick="checked(this);"></a></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#"><img id="tx/1911274314672928.jpg" src="__IMG__/tx/1911274314672928.jpg" onclick="checked(this);"></a></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#"><img id="tx/111274314672928.jpg" src="__IMG__/tx/111274314672928.jpg" onclick="checked(this);"></a></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#"><img id="tx/211274314672928.jpg" src="__IMG__/tx/211274314672928.jpg" onclick="checked(this);"></a></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#"><img id="tx/311274314672928.jpg" src="__IMG__/tx/311274314672928.jpg" onclick="checked(this);"></a></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#"><img id="tx/411274314672928.jpg" src="__IMG__/tx/411274314672928.jpg" onclick="checked(this);"></a></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#"><img id="tx/511274314672928.jpg" src="__IMG__/tx/511274314672928.jpg" onclick="checked(this);"></a></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#"><img id="tx/611274314672928.jpg" src="__IMG__/tx/611274314672928.jpg" onclick="checked(this);"></a></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#"><img id="tx/711274314672928.jpg" src="__IMG__/tx/711274314672928.jpg" onclick="checked(this);"></a></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#"><img id="tx/811274314672928.jpg" src="__IMG__/tx/811274314672928.jpg" onclick="checked(this);"></a></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#"><img id="tx/911274314672928.jpg" src="__IMG__/tx/911274314672928.jpg" onclick="checked(this);"></a></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#"><img id="tx/1011274314672928.jpg" src="__IMG__/tx/1011274314672928.jpg" onclick="checked(this);"></a></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#"><img id="tx/1111274314672928.jpg" src="__IMG__/tx/1111274314672928.jpg" onclick="checked(this);"></a></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#"><img id="tx/1211274314672928.jpg" src="__IMG__/tx/1211274314672928.jpg" onclick="checked(this);"></a></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#"><img id="tx/1311274314672928.jpg" src="__IMG__/tx/1311274314672928.jpg" onclick="checked(this);"></a></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#"><img id="tx/1411274314672928.jpg" src="__IMG__/tx/1411274314672928.jpg" onclick="checked(this);"></a></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#"><img id="tx/1511274314672928.jpg" src="__IMG__/tx/1511274314672928.jpg" onclick="checked(this);"></a></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#"><img id="tx/1611274314672928.jpg" src="__IMG__/tx/1611274314672928.jpg" onclick="checked(this);"></a></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#"><img id="tx/1711274314672928.jpg" src="__IMG__/tx/1711274314672928.jpg" onclick="checked(this);"></a></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#"><img id="tx/1811274314672928.jpg" src="__IMG__/tx/1811274314672928.jpg" onclick="checked(this);"></a></li>
			</ul>
		</div>
					
		 
		
<script type="text/javascript">
	function checked(ss){
		$("#showimg").attr("src",ss.src);
		$("#membimg").val(ss.id);
	}
	
	$(document).ajaxStart(function() {
				$("button:submit").attr("disabled", true);
			}).ajaxStop(function() {
				$("button:submit").attr("disabled", false);
			});
			$(function() {		
				$("form").submit(function() {
					var self = $(this);
					$.post("{:U('Person/userimg','','')}", self.serialize(), success, "json");
					return false;
					function success(data) {
						if (data.status) {
							//window.location.href = "{:U('Person/userinfoitem','','')}";
							history.go(-1);
						} else {
							layer.alert(data.msg);
						}
					}
				});
			});
			
</script>
  