<link rel="stylesheet" type="text/css" href="__CSS__/Home.css?date=20140731">
<style>
.g-frame-head,div{margin: 0;}
.u-txt {
z-index: 10;
}
.g-width {
width:1190px;
}
</style>
<script type="text/javascript" src="{G_TEMPLATES_JS}/gdjs.js"></script>
  <!--中间内容-->
  	<div class="g-frame-content">
		<!--第一屏-->
		<div class="g-width g-hot">
			<!--左侧-->
			<div class="g-hot-left">
				<!--最新揭晓-->
				<div class="m-rolling">
					<div class="m-rolling-radius">
						<div class="u-rolling-txt">
							<s class="f-rolling-l"></s>
							<div class="m-rolling-content">
								<div class="m-rolling-tit Fl" id="divRaffList"
									style="margin-top: 0;">
									{wc:loop $shopqishu $qishu}
									{wc:php:start}
										$qishu['q_user'] = unserialize($qishu['q_user']);
									{wc:php:end}
									<div codeid="165751" class="divls" last="">
										<div>
											<span class="gray9">恭喜</span> <a
												href="{WEB_PATH}/dataserver/{wc:$qishu['id']}" class="blue mlr5"
												target="_blank" title="{wc:fun:get_user_name($qishu['q_user'])}">{wc:fun:get_user_name($qishu['q_user'])}</a> <span class="gray9"> 获得</span> <span><a
												href="{WEB_PATH}/dataserver/{wc:$qishu['id']}"
												target="_blank" class="gray6 mlr5" title="{wc:$qishu['title']}">第({wc:$qishu['qishu']})期{wc:$qishu['title']}</a></span>
										</div>
									</div>
									{wc:loop:end}
								</div>
								<a href="{WEB_PATH}/dataserver/{wc:$qishu['id']}" class="u-rolling-btn Fr orange" title="{wc:$qishu['title']}"> <span>立即围观</span> <i
									class="mod_dropmenu_arrow"></i>
								</a>
							</div>
							<i class="f-rolling-r"></i>
						</div>
					</div>
				</div>

				<!--新品推荐-->
				<div class="g-hot-tj Fl">
					<div class="m-pic-txt">
						<s class="f-tj-tit"></s>

						<div class="u-txt">
							<h5>
								<a href="{WEB_PATH}/goods/{wc:$new_shop['id']}"
									title="{wc:$new_shop['title']}" target="_blank" class="gray3">{wc:$new_shop['title']}</a>
							</h5>
							<p class="gray9">{wc:$new_shop1['keywords']}</p>
						</div>
						<a href="{WEB_PATH}/goods/{wc:$new_shop['id']}" target="_blank"
							title="{wc:$new_shop['title']}" class="u-img" rel="nofollow"> <img
							src="{G_UPLOAD_PATH}/{wc:$new_shop['thumb']}"
							border="0" alt="" width="100" height="100"></a>

					</div>
					<div class="g-good-faith">
						<p class="gray6">诚信保证 放心云购</p>
						<ul class="m-good-size02">
							<li class="u-good01"><a target="_blank"
								title="诚信网站认证" rel="nofollow"><s class="f-faith-img"></s>诚信网站<br>认证</a></li>
							<li class="u-good02"><a target="_blank" title="可信网站认证" rel="nofollow"><s
									class="f-faith-img"></s>可信网站<br>认证</a></li>
							<li class="u-good03"><a target="_blank" title="电子商务诚信认证" rel="nofollow"><s
									class="f-faith-img"></s>电子商务<br>诚信认证</a></li>
						</ul>
						<ul class="m-good-size01">
							<li class="u-good01"><a target="_blank" title="100%公平公正" rel="nofollow"><s
									class="f-faith-img"></s>100%<br>公平公正</a></li>
							<li class="u-good02"><a target="_blank" title="100%正品保证" rel="nofollow"><s
									class="f-faith-img"></s>100%<br>正品保证</a></li>
							<li class="u-good03"><a target="_blank" title="全国免运费" rel="nofollow"><s
									class="f-faith-img"></s>全国<br>免运费</a></li>
						</ul>
						<ul class="m-good-size03">
							<li class="u-good01"><a target="_blank" title="安信宝认证" rel="nofollow"><s
									class="f-faith-img"></s>安信保<br>认证</a></li>
							<li class="u-good02"><a target="_blank" title="监督管理局认证" rel="nofollow"><s
									class="f-faith-img"></s>监督管理局<br>认证</a></li>
							<li class="u-good03"><a target="_blank">更多<span>&gt;&gt;</span></a></li>
						</ul>
					</div>
				</div>

				<!--广告与推荐-->
				<div class="g-hot-tu">
					<div class="m-slides">
						
                        <div id="slideImg" class="rslides" style="opacity: 1;">
							<ul id="slideul">
								<foreach name="slides" item="s">
									<li><a href="{$s.link|default='#'}" target="_blank"><img src="{$s.img}"></a></li>
								</foreach>
							</ul>
						</div>
                        <div id="posterBanner" style="display: none;"></div>
						 <a class="rslides_nav rslides1_nav pre" href="javascript:;" style="display: none;">Previous</a>
						 <a class="rslides_nav rslides1_nav next" href="javascript:;" style="display: none;">Next</a>
						 <ul class="rslides_tabs">
						 	<foreach name="slides" item="s">									
									<li class=""><a href="javascript:;">'.1.'</a></li>
							</foreach>
						</ul>
					</div>
					<div class="m-hot-pro">
						<ul>
						{wc:loop $shoplistrenqi $renqi}
							<li>
								<div class="m-pic-txt">
									<div class="u-txt">
										<h5>
											<a href="{WEB_PATH}/goods/{wc:$renqi['id']}"
												target="_blank" class="gray3"
												title="{wc:$renqi['title']}">{wc:$renqi['title']}</a>
										</h5>
										<p class="gray9">{wc:$renqi['keywords']}&nbsp;</p>
										<a href="{WEB_PATH}/goods/{wc:$renqi['id']}"
											target="_blank" rel="nofollow" title="立即1元云购"
											class="orange_btn">立即1元云购</a>
									</div>
									<a href="{WEB_PATH}/goods/{wc:$renqi['id']}"
										target="_blank" class="u-img" rel="nofollow"
										title="{wc:$renqi['title']}"> <img
										src="{G_UPLOAD_PATH}/{wc:$renqi['thumb']}"
										border="0" alt="{wc:$renqi['title']}"
										width="100" height="100"></a>
								</div>
							</li>
						{wc:loop:end}
						</ul>
					</div>

				</div>
			</div>

			<!--右侧-->
			<div class="g-hot-right">
				<!--登录信息-->
				<if condition="$Think.session.loginstatus eq 1">
					<div id="divIdxLogin" class="m-member">
						<div class="u-member-image">
							<a href="{:U('Home/index', '', '')}" target="_blank" title="{$data.username}">
							<img src="{:get_user_img()}">							
							</a>
						</div>
						<div class="u-member-info grayb"><p class="f-member-name">
							<span class="gray9">Hi，</span>
							<a class="blue FB" href="{:U('Home/index', '', '')}" target="_blank" title="再不给我中我就">
							{$data.username}</a></p><br/><p>积分：{$data.score}
							</p>
						</div>
						<div class="u-member-account"><span class="grayb">帐户余额：</span><span class="orange FB"><b></b>{$data.money}
							</span><a class="gray6 mlr5" href="{:U('Home/userrecharge', '', '')}" target="_blank">充值</a></div></div>		
				<else/>
					<div id="divIdxLogin" class="m-login">
						<p class="gray9">
							<em>Hi，</em>欢迎来到云购！
						</p>
						<a href="{:U('Main/login', '', '')}"
							class="f-login-btn">登录</a> <a
							href="{:U('Main/register', '', '')}"
							class="f-reg-btn">注册</a>
					</div>
				</if>

				<div class="m-app-dow">
					<s class="m-app-dow-img"><a
						 target="_blank"></a></s>
					<div class="u-app-r">
						<a  target="_blank"
							class="gray6">下载安卓客户端</a>
						<p class="gray9">参加云购</p>
						<p class="gray9">随时随地</p>
					</div>
				</div>
				<div class="m-wx-gz">
					<s class="m-wx-img"><a target="_blank">
						
							<img src="__IMG__/index/wzg-wx.jpg" border="0" alt="" border="0" width="75" height="75">
					</a></s>
					<div class="u-app-r">
						<a target="_blank" class="gray6">关注官方微信</a>
						<p class="gray9">享微信专享服务</p>
						<p class="f-wx-tips"></p>
					</div>
				</div>
				<div class="m-notice">
					<div class="m-notice-tab">
						<ul id="myTab">
							<li class="f-notice-hover"><a href="javascript:;">新闻公告</a></li>
							<li class=""><a href="javascript:;">常见问题</a></li>
						</ul>
					</div>
					<div id="myTab_Content0" class="m-notice-list u-block"
						style="display: block;">
						<ul>
							<!--获取圈子最新动态5条-->
							{wc:m=group.group mod=get_group_tiezi(5)}
							{wc:loop $datas $row}				
							<li><span class="u-radius-point"></span><a href="{WEB_PATH}/group/nei/{wc:$row['id']}" target="_blank" class="gray6" title="{wc:$row['title']}">{wc:$row['title']}</a></li>								
							{wc:loop:end}
							<!--/获取圈子最新动态5条-->
						</ul>
					</div>
					<div class="m-notice-list u-block" style="display: none;">
						<ul>
							<li><span class="u-radius-point"></span><a class="gray6" target="_blank" title="怎样查看我参与的商品有没有中奖">怎样查看我参与的商品有没有中奖</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!--即将揭晓-->
		<div class="g-width g-publish">
			<div class="g-publish-l">
			<div id="divMidBanner" class="g-width M-banner g-share-banner" style="width: 990px;margin-top: 0;"><a href="{WEB_PATH}/register" target="_blank"><img src="/statics/uploads/banner/topbenner.gif" alt="" width="990" height="80"></a></div>
				<div class="g-tit">
					<h2 class="gray3">最新揭晓</h2>
					<a href="{WEB_PATH}/goods_lottery" target="_blank"
					class="g-tit-more"><em>更多</em><i class="mod_dropmenu_arrow"></i></a>
				</div>
				<div class="m-publish-list">
					<ul class="m-publish-list-hd" id="ulNewAwary">
					{wc:loop $shopqishu $qishu}
					{wc:php:start}
						$qishu['q_user'] = unserialize($qishu['q_user']);
					{wc:php:end}
						<li class="new_li">
							<a href="{WEB_PATH}/dataserver/{wc:$qishu['id']}" target="_blank" class="pic"><img src="{G_UPLOAD_PATH}/{wc:$qishu['thumb']}" /></a>
							<a href="{WEB_PATH}/dataserver/{wc:$qishu['id']}" target="_blank" class="name">{wc:$qishu['qishu']}{wc:$qishu['title']}</a> 
							<span class="winner">获得者：<strong><a rel="nofollow" class="blue" href="{WEB_PATH}/uname/{wc:fun:idjia($qishu['q_uid'])}" target="_blank">{wc:fun:get_user_name($qishu['q_user'])}</a></strong></span>
						</li>
					{wc:loop:end}
					</ul>
					<!------>
						<script type="text/javascript" src="{G_TEMPLATES_JS}/GLotteryFun.js"></script>
						<script type="text/javascript">
							$(document).ready(function(){gg_show_time_init("ulNewAwary",'{WEB_PATH}',0);});					
						</script>  
					<!------>
				</div>
			</div>
			<div class="g-publish-l">
				<div class="g-tit">
					<h2 class="gray3">即将揭晓</h2>
				</div>
				<div class="m-publish-list">
					<ul class="m-publish-list-hd">
					{wc:loop $shoplist $shop}
						<li class="g-goods-list">
							<div class="pic">
								<a rel="nofollow" href="{WEB_PATH}/goods/{wc:$shop['id']}"
									target="_blank" title="{wc:$shop['title']}"> <img
									alt="{wc:$shop['title']}"
									src="{G_UPLOAD_PATH}/{wc:$shop['thumb']}"></a>
							</div>
							<p class="name">
								<a href="{WEB_PATH}/goods/{wc:$shop['id']}"
									target="_blank" title="{wc:$shop['title']}">{wc:$shop['title']}</a>
							</p>
							<p class="F_money">
								价值：<span class="F_dig"><span class="rmb"></span>{wc:$shop['money']}</span>
							</p>
							<div class="Progress-bar">
								<p title="已完成{wc:fun:percent($shop['canyurenshu'],$shop['zongrenshu'])}">
									<span style="width:{wc:fun:width($shop['canyurenshu'],$shop['zongrenshu'],168)}px;"></span>
								</p>
								<ul class="Pro-bar-li">
									<li class="P-bar01"><em>{wc:$shop['canyurenshu']}</em>已参与</li>
									<li class="P-bar02"><em>{wc:$shop['zongrenshu']}</em>总需人次</li>
									<li class="P-bar03"><em>{wc:$shop['zongrenshu']-$shop['canyurenshu']}</em>剩余</li>
								</ul>
							</div>
							<div class="g_buybtn">
								<a href="{WEB_PATH}/goods/{wc:$shop['id']}"
									target="_blank" rel="nofollow" title="立即1元云购"
									class="orange_btn">立即1元云购</a>
							</div>
							<div class="goods_Curbor"></div>
						</li>
					{wc:loop:end}
					</ul>
				</div>
			</div>
			<div class="g-publish-r" style="height: 754px;">
				<div class="g-right-title">
					<h3 class="gray3">正在云购</h3>
					<a href="{WEB_PATH}/buyrecordbai" target="_blank"
						class="gray9 Fr"> <span>最新100条记录</span> <i
						class="mod_dropmenu_arrow"></i>
					</a>
				</div>
				<div class="g-share" style="height: 720px;">
					<input name="hidBuyID" type="hidden" id="hidBuyID" value="22465177">
					<ul id="buyList" style="margin-top: 0px;">
					{wc:loop $go_record $gorecord}
						<li><a href="{WEB_PATH}/goods/{wc:$gorecord['shopid']}" target="_blank"
							class="f-pic" rel="nofollow" title="{wc:fun:get_user_name($gorecord)}"><img alt="" src="{G_UPLOAD_PATH}/{wc:fun:shopimg($gorecord['shopid'])}" width="40" height="40"></a>
							<div class="m-share-txt gray6">
								<a href="{WEB_PATH}/uname/{wc:fun:idjia($gorecord['uid'])}" class="f-name blue" target="_blank" title="{wc:fun:get_user_name($gorecord)}">{wc:fun:get_user_name($gorecord)}</a><span class="f-share-tit"><a href="{WEB_PATH}/goods/{wc:$gorecord['shopid']}" class="gray6" title="{wc:$gorecord['shopname']}">{wc:$gorecord['shopname']}</a></span>
							</div>
						</li>
					{wc:loop:end}
					</ul>
				</div>
			</div>
		</div>



		<!--热门推荐-->
		<div class="g-width g-Newproduct">
			<div class="g-tit">
				<a href="{WEB_PATH}/goods_list/0_0_4" target="_blank"
					class="g-tit-more"><em>更多</em><i class="mod_dropmenu_arrow"></i></a>
				<span class="g-tit-class"> <a
					href="{WEB_PATH}/goods_list/5_0_0" target="_blank"
					title="手机数码">手机数码</a> <a
					href="{WEB_PATH}/goods_list/13_0_0" target="_blank"
					title="电脑办公">电脑办公</a> <a
					href="{WEB_PATH}/goods_list/6_0_0" target="_blank"
					title="家用电器">家用电器</a> <a
					href="{WEB_PATH}/goods_list/12_0_0" target="_blank"
					title="化妆个护">化妆个护</a> <a
					href="{WEB_PATH}/goods_list/14_0_0" target="_blank"
					title="钟表首饰">钟表首饰</a> 
				</span>
				<h2 class="gray3">热门推荐</h2>
			</div>
			<div class="g-recommend-list ">
				<div class="g-left-ad">
					<div id="divNewGoods" class="m-position">
						<a href="" target="_blank"><img
							src="/statics/uploads/banner/201409131428.jpg" alt=""
							width="206" height="370"></a>
					</div>
				</div>
				<div class="newRecList">
					<ul id="ulNewRecList1" class="g-recommed-goods">
					{wc:loop $shoplistrenqi $renqi}
						<li class="g-goods-list" id="neos"><div class="pic">
								<a rel="nofollow" href="{WEB_PATH}/goods/{wc:$renqi['id']}"
									target="_blank" title="{wc:$renqi['title']}"><img
									alt="{wc:$renqi['title']}"
									src="{G_UPLOAD_PATH}/{wc:$renqi['thumb']}"></a>
							</div>
							<p class="name">
								<a href="{WEB_PATH}/goods/{wc:$renqi['id']}"
									target="_blank" title="{wc:$renqi['title']}">{wc:$renqi['title']}</a>
							</p>
							<p class="F_money">
								价值：<span class="F_dig"><span class="rmb"></span>{wc:$renqi['money']}</span>
							</p>
							<div class="goods_Curbor">
								<div class="pic">
									<a rel="nofollow"
										href="{WEB_PATH}/goods/{wc:$renqi['id']}" target="_blank"
										title="{wc:$renqi['title']} "><img alt="{wc:$renqi['title']}"
										src="{G_UPLOAD_PATH}/{wc:$renqi['thumb']}"></a>
								</div>
								<div class="Progress-bar">
									<p title="已完成{wc:fun:percent($renqi['canyurenshu'],$renqi['zongrenshu'])}">
										<span style="width:{wc:fun:width($renqi['canyurenshu'],$renqi['zongrenshu'],168)}px;"></span>
									</p>
									<ul class="Pro-bar-li">
										<li class="P-bar01"><em>{wc:$renqi['canyurenshu']}</em>已参与</li>
										<li class="P-bar02"><em>{wc:$renqi['zongrenshu']}</em>总需人次</li>
										<li class="P-bar03"><em>{wc:$renqi['zongrenshu']-$renqi['canyurenshu']}</em>剩余</li>
									</ul>
								</div>
								<div class="g_buybtn">
									<a href="{WEB_PATH}/goods/{wc:$renqi['id']}"
										title="立即1元云购" class="orange_btn">立即1元云购</a>
								</div>
							</div></li>
					{wc:loop:end}
					</ul>
					<ul id="ulNewRecList2" class="g-recommed-ad g-Newproduct-list">
					{wc:loop $shoplist $newshop}
						<li><div class="m-pic-txt">
								<div class="u-txt">
									<h5 class="gray3" title="{wc:$newshop['title']}">
										<a class="gray6"
											href="{WEB_PATH}/goods/{wc:$newshop['id']}"
											target="_blank">{wc:$newshop['title']}</a>
									</h5>
									<p class="orange">{wc:$newshop['keywords']}</p>
								</div>
								<a href="{WEB_PATH}/goods/{wc:$newshop['id']}"
									target="_blank" class="u-img" title="{wc:$newshop['title']}"><img
									src="{G_UPLOAD_PATH}/{wc:$newshop['thumb']}"
									border="0" alt=""></a>
							</div></li>
					{wc:loop:end}
					</ul>
				</div>
			</div>
		</div>

		<!--中间广告-->
		<div id="divMidBanner" class="g-width M-banner g-share-banner"
			style="">
			
		</div>

		<!--晒单分享-->
		<div class="g-width g-single-share">
			<div class="g-tit">
				<a href="{WEB_PATH}/go/shaidan" target="_blank" class="g-tit-more"><em>更多</em><i
					class="mod_dropmenu_arrow"></i></a>
				<h2 class="gray3">晒单分享</h2>
			</div>
			<div class="g-single-l">
				<div class="m-single-hot"
					style="float: left; overflow: hidden; position: relative;">
					<ul id="ulPostRec"
						style="position: absolute; width: 840px; left: 0px;">
					{wc:loop $shaidan $sd}
						<li class="u-single-hover" idx="0"
							style="width: 280px; float: left; position: relative;"><div
								class="f-single-txt" style="display: none;">
								<a href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}" class="white"
									target="_blank">{wc:$sd['sd_title']}</a>
							</div>
							<div class="f-single-info">
								<a href="{WEB_PATH}/uname/{wc:$sd['sd_userid']}" target="_blank"><img
									class="f-single-pic"
									src="{G_UPLOAD_PATH}/{wc:fun:get_user_key($sd['sd_userid'],'img','3030')}"
									width="40" height="40"></a><a class="f-name blue"
									href="{WEB_PATH}/uname/{wc:$sd['sd_userid']}" title="{wc:fun:get_user_name($sd['sd_userid'])}"
									target="_blank">{wc:fun:get_user_name($sd['sd_userid'])}</a><span class="gray9 f-share-time">{wc:fun:date("Y年m月d",$sd['sd_time'])}
									11:19</span><span class="f-share-tit mlr5"><a
									href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}" target="_blank"
									class="white" title="{wc:$sd['sd_title']}">{wc:$sd['sd_title']}</a></span>
							</div> <a href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}" target="_blank"><img
								src="{G_UPLOAD_PATH}/{wc:$sd['sd_thumbs']}"
								border="0" alt="" width="280" height="314"></a></li>
					{wc:loop:end}
					</ul>
					<a href="javascript:;" class="silde-btn next-btn js_next"
						style="display: inline;"><i class="arrow next-arrow"></i></a> <a
						href="javascript:;" class="silde-btn pre-btn js_pre"
						style="display: inline;"><i class="arrow pre-arrow"></i></a>
				</div>
				<ul id="ulPostList" class="m-single-list">
				{wc:loop $shaidan_two $sd}
					<li name="liPostList"><div class="f-single-txt"
							style="display: block;">
							<a href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}" class="white"
								target="_blank">{wc:$sd['sd_title']}</a>
						</div>
						<div class="f-single-info" style="display: none;">
							<a href="{WEB_PATH}/uname/{wc:$sd['sd_userid']}" target="_blank"><img
								class="f-single-pic"
								src="{G_UPLOAD_PATH}/{wc:fun:get_user_key($sd['sd_userid'],'img','3030')}"
								width="40" height="40"></a><a class="f-name blue"
								href="{WEB_PATH}/uname/{wc:$sd['sd_userid']}" title="{wc:fun:get_user_name($sd['sd_userid'])}" target="_blank">{wc:fun:get_user_name($sd['sd_userid'])}</a><span
								class="gray9 f-share-time">{wc:fun:date("Y年m月d",$sd['sd_time'])}</span><span
								class="f-share-tit mlr5"><a
								href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}" target="_blank"
								class="white" title="{wc:$sd['sd_title']}">{wc:$sd['sd_title']}</a></span>
						</div> <a href="{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}" target="_blank"><img
							src="{G_UPLOAD_PATH}/{wc:$sd['sd_thumbs']}"
							border="0" alt="" width="280" height="315"></a></li>
				{wc:loop:end}
				</ul>
			</div>
			<div class="g-single-r g-single-ta">
				<div class="g-right-title">
					<h3 class="gray3">人气排行</h3>
				</div>
				<div class="g-right-ranking">
					<ul id="ulWeekRanking">
					{wc:php:start}
						$conut=0;
					{wc:php:end}
					{wc:loop $shoplist $shop}
						{wc:php:start}
							$conut++;
						{wc:php:end}
						<li><div class="m-ranking-goods" style="display: none;">
								<span class="u-ranking-dig">{wc:$conut}</span>
								<div class="pic">
									<a rel="nofollow"
										href="{WEB_PATH}/goods/{wc:$shop['id']}" target="_blank"
										title="{wc:$shop['title']}"><img alt="{wc:$shop['title']}"
										src="{G_UPLOAD_PATH}/{wc:fun:shopimg($shop['id'])}"></a>
								</div>
								<p class="name">
									<a class="gray6" href="{WEB_PATH}/goods/{wc:$shop['id']}"
										target="_blank" title="{wc:$shop['title']}">{wc:$shop['title']}</a>
								</p>
								<p class="F_money gray9">
									价值：<span class="F_dig"><span class="rmb"></span>{wc:$shop['zongrenshu']}</span>
								</p>
							</div>
							<div class="m-ranking-tit" style="display: block;">
								<span class="u-ranking-dig">{wc:$conut}</span>
								<h4>
									<a href="{WEB_PATH}/goods/{wc:$shop['id']}"
										target="_blank" class="gray6">{wc:$shop['title']}</a>
								</h4>
							</div></li>
					{wc:loop:end}
					</ul>
				</div>
              </div>
			  </div>
			  
			</div>
		</div>

		<!--圈子话题-->
		
		<!--end圈子话题-->
	</div>
  <!--end中间内容-->
<script>
$(document).ready(function(){
      var ulpotxt = $("#ulPostList").html();
      var ulprec =  $("#ulPostRec");
      z(ulprec);
      $("#ulPostList").html(ulpotxt).find('li[name="liPostList"]').each(function() {
           $(this).hover(function() {
               $(this).children(".f-single-txt").hide().next(".f-single-info").show()
           }, function() {
               $(this).children(".f-single-txt").show().next(".f-single-info").hide()
           })
      });

});

var z = function(H) {
                var J = H;
                var N = 0;
                var M = 0;
                var I = 280;
                var L = J.children().length;
                M = L * I;
                N = I;
                J.width(M).css("left", "0px");
                var K = "500";
                J.show("fast");
                J.nextAll("a.js_pre").eq(0).show().bind("click", function() {
                    J.animate({
                        left: "-" + N + "px"
                    }, K, function() {
                        J.append(J.children().eq(0)).css("left", "0px")
                    })
                });
                J.nextAll("a.js_next").eq(0).show().bind("click", function() {
                    J.prepend(J.children().eq(L - 1)).css("left", "-" + N + "px");
                    J.animate({
                        left: "0px"
                    }, K, function() {})
                })
       };

	   $("li.g-goods-list").each(function() {
            $(this).hover(function() {
                $(this).addClass("goods_Cur")
            }, function() {
                $(this).removeClass("goods_Cur")
            })
        });
		var E = $("#ulWeekRanking").html();
		 $("#ulWeekRanking").html(E).children("li").hover(function() {
                        $(this).children("div.m-ranking-goods").show().next().hide();
                        $(this).siblings().children("div.m-ranking-goods").hide().next().show()
                    }, function() {
                        $(this).children("div.m-ranking-goods").hide().next().show();
                        $(this).parent().children("li").eq(0).children("div.m-ranking-goods").show().next().hide()
                    });

		$('.m-slides').hover(function() {
                $('.rslides1_nav').show();
            }, function() {
                $('.rslides1_nav').hide();
            });
			
			
</script>  
<script type="text/javascript">
$(function(){
        $("body").attr('class','index');
	var sw = 0;
	$(".m-slides .rslides_tabs li a").mouseover(function(){
		sw = $(".rslides_tabs a").index(this);
		myShow(sw);
	});
	function myShow(i){
		$(".m-slides .rslides_tabs li").eq(i).addClass("rslides_here").siblings("li").removeClass("rslides_here");
		$("#slideul li").eq(i).stop(true,true).fadeIn(600).siblings("li").fadeOut(600);
	}
	//滑入停止动画，滑出开始动画
	$("#slideImg,.rslides_nav").hover(function(){
		if(myTime){
		   clearInterval(myTime);
		}
	},function(){
		myTime = setInterval(function(){
		  myShow(sw)
		  sw++;
		  if(sw=={wc:fun:count($slides)}){sw=0;}
		} , 3000);
	});
	//自动开始
	var myTime = setInterval(function(){
	   myShow(sw)
	   sw++;
	   if(sw=={wc:fun:count($slides)}){sw=0;}
	} , 3000);
	$(".next").click(function(){
		myShow(sw)
		sw++;
 		if(sw=={wc:fun:count($slides)}){sw=0;}
	});
	$(".pre").click(function(){
		myShow(sw)
 		if(sw==0){sw={wc:fun:count($slides)};}
 		sw--;
	});

})
 var l = $("#myTab_Content0");
        $("#myTab").children().each(function(A, z) {
            var B = $(this);
            B.hover(function() {
                if (A == 0) {
                    B.attr("class", "f-notice-hover").next().attr("class", "");
                    l.show().next().hide()
                } else {
                    B.attr("class", "f-notice-hover").prev().attr("class", "");
                    l.hide().next().show()
                }
            }, function() {})
        });
</script>           
<script type="text/javascript">
  $(function(){
	F = 5;
	var _BuyList=$("#divRaffList");
        var Trundle = function () {
	    F--;
            _BuyList.prepend(_BuyList.find("divls")).css('marginTop', '0px');
            _BuyList.animate({ 'marginTop': "-" + (F * 30) + "px"}, 800);
        if(F==0){
            F=5;
        }
        }
        var setTrundle = setInterval(Trundle, 5000);
    });
</script>

 
<center>
keywords：<a href="http://www.va666.com/sitemap.html" title="一元云购"target="_blank"><strong>一元云购</strong></a>
</center>