<link rel="stylesheet" type="text/css" href="__CSS__/GoodsDetail.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/cloud-zoom.css"/>
<script type="text/javascript" src="__JS__/cloud-zoom.min.js"></script>
<script type="text/javascript">
$.fn.CloudZoom.defaults = {
	zoomWidth: '400',
	zoomHeight: '310',
	position: 'right',
	tint: false,
	tintOpacity: 0.5,
	lensOpacity: 0.5,
	softFocus: false,
	smoothMove: 7,
	showTitle: false,
	titleOpacity: 0.5,
	adjustX: 0,
	adjustY: 0
};
</script>
<style type="text/css">
.zoom-section{clear:both;margin-top:20px;}
.zoom-small-image{border:2px solid #dedede;float:left;margin-bottom:20px; width:400px; height:400px;}
.zoom-small-image img{ width:400px; height:400px;}
.zoom-desc{float:left;width:404px; height:52px;margin-bottom:20px; overflow:hidden;}
.zoom-desc p{ width:10000px; height:52px; float:left; display:block; position:absolute; top:0; z-index:3; overflow:hidden;}
.zoom-desc label{ width:50px; height:52px; margin:0 5px 0 0; _margin-right:4px; display:block; float:left; overflow:hidden;}
.zoom-tiny-image{border:1px solid #CCC;margin:0px; width:48px; height:50px;}
.zoom-tiny-image:hover{border:1px solid #C00;}
</style>

<div class="Current_nav">
	<a href="{WEB_PATH}">首页</a> <span>&gt;</span>
	<span>&gt;</span>商品详情
</div>
<div class="show_content">
	<!-- 商品期数 -->
	<div id="divPeriodList" class="show_Period" style="max-height:99px;">		
		<div class="period_Open">
			<a class="gray02" click="off" id="btnOpenPeriod" href="javascript:void(0);">展开<i></i></a>
			
		</div>
		<ul class="Period_list">
			<li><a <if condition="$data.current neq $qishu">href="{:U('Index/view', '', '')}/{$data.gid}"</if>><b class="period_Ongoing period_ArrowCur" style="padding-left:0px;">第{$data.current}期<i></i></b></a></li>
			<for start="$data['current'] - 1" end="0" comparison="gt" step="-1">
				<li><a <if condition="$i neq $qishu">href="{:U('Index/view', '', '')}/{$data.gid}/{$i}"</if> class="gray02">第{$i}期</a></li>
			</for>
		</ul>
	</div>
	<script>
		$("#btnOpenPeriod").click(function(){
			var ui_obj = $("#divPeriodList li");
			if($(this).attr("click")=='off'){
				$("#divPeriodList").css("max-height",(Math.ceil(ui_obj.length / 9) * 33)+"px");	
				$(this).attr("click","on");
				$(this).html("收起<s></s>");
				
			}else{
				$("#divPeriodList").css("max-height","99px");	
				$(this).attr("click","off");
				$(this).html("展开<i></i>");
			}			
		});
	</script>	
	<!-- 商品信息 -->
	<div class="Pro_Details">
		<h1><span>(第{$data.qishu}期)</span><span >{$data.title}</span><em>{$data.subtitle}</em></h1>
		<div class="Pro_Detleft">
			<div class="zoom-small-image">
				<a class="cloud-zoom" id="zoom1" href="{$firstImage.image_url}" rel="adjustX: 10, adjustY:-4, softFocus:true">
					<img src="{$firstImage.image_url}">
				</a>
			</div>

			<div class="zoom-desc"> 
				<div class="jcarousel-prev jcarousel-prev-disabled"></div>
				<div class="jcarousel-clip" style="height:55px;width:384px;">
				<p>
					<foreach name="images" item="item">           
					<label href="{$item.image_url}" class='cloud-zoom-gallery'  rel="useZoom: 'zoom1', smallImage: '{$item.image_url}'">
					<img class="zoom-tiny-image" src="{$item.image_url}" /></label>			
					</foreach>
				</p>
				</div>
				<div class="jcarousel-next jcarousel-next-disabled"></div>
			</div>
			<script>
				var si=$(".jcarousel-clip label").size();
				var label=si*55;
				$(".jcarousel-clip p").css({width:label,left:"0"});
				if(label>395){
					$(".jcarousel-prev,.jcarousel-next").show();
				}else{
					$(".jcarousel-prev,.jcarousel-next").hide();
				}
				$(".jcarousel-prev").click(function(){
					var le=$(".jcarousel-clip p").css("left");
					var le2=le.replace(/px/,"");
					if(le!='0px'){
						$(".jcarousel-clip p").css({left:le2*1+55});
					}						
				})
				$(".jcarousel-next").click(function(){
					var le=$(".jcarousel-clip p").css("left");
					var le2=le.replace(/px/,"");
					var max_next=-(si-7)*55+"px";
					if(le!=max_next){						
						$(".jcarousel-clip p").css({left:le2*1-55});
					}
				})
			</script>			
			
			<present name="data.prizer">
			<div class="Pro_GetPrize">		
				<if condition="$data.current eq $qishu">
				<h2>本期获得者</h2>
				<else/>
				<h2>上期获得者</h2>
				</if>
				<div class="GetPrize">				    
					<dl>
						<dt><a rel="nofollow" href="{:U(Person/index)}/{$data.prizer.uid}" target="_blank"><img width="80" height="80" alt="" src="{$data.prizer.img|default='__IMG__/member.jpg'}"></a></dt>
						<dd class="gray02">
							<p>恭喜 <a href="{:U(Person/index)}/{$data.prizer.uid}" target="_blank" class="blue">{$data.prizer.username}</a>获得了本商品</p>
							<p>揭晓时间：{$data.prizer.end_time}</p>
							<p>云购时间：{$data.prizer.record_time}</p>
							<p>幸运云购码：<em class="orange Fb">{$data.prizer['prizecode']+10000001}</em></p>
						</dd>
					</dl>				
				</div>
			</div>
			</present>
		</div>
		<div class="Pro_Detright">
			<p class="Det_money">价值：<span class="rmbgray">{$data.money}</span></p>
			<present name="end_time">
				<include file="item_animation"/>
			<else/>
				<include file="item_contents"/>
			</present>
			<!--显示揭晓动画 end-->		
			<div class="Security">
				<ul>
					<li><a href="{WEB_PATH}/help/4" target="_blank"><i></i>100%公平公正</a></li>
					<li><a href="{WEB_PATH}/help/5" target="_blank"><s></s>100%正品保证</a></li>
					<li><a href="{WEB_PATH}/help/7" target="_blank"><b></b>全国免费配送</a></li>
				</ul>
			</div>			
			<div class="Pro_Record">
				<ul id="ulRecordTab" class="Record_tit">
					<li class="NewestRec Record_titCur">最新云购记录</li>
					<li class="MytRec">我的云购记录</li>
					<li class="Explain orange">什么是1元云购？</li>
				</ul>
				<div class="Newest_Con _hiden" style="">
					<present name="records">
					<ul>
						<foreach name="records" item="item">
						<li>
						<a href="{:U('Person', '', '')}/{$item.uid}" target="_blank">
							<img src="{$item.img|default='__IMG__/member.png'}" border="0" alt="" width="20" height="20">
						</a>					
						<a href="{:U('Person', '', '')}/{$item.uid}" target="_blank" class="blue">{$item.username}</a>
						<!-- todo: IP -->			
						{$item.time} 云购了
						<em class="Fb gray01">{$item.count}</em>人次</li>
						</foreach>
					</ul>
					<p style=""><a id="btnUserBuyMore" href="javascript:;" class="gray01">查看更多</a></p>
					<else/>
					<p style="">暂时没有人购买</p>
					</present>
				</div>
				
				<!--我的云购记录-->
				<div class="My_Record _hiden" style="display: none;">
					{wc:if get_user_uid()}				
					<ul>				
						{wc:m=member.member mod=get_record(get_user_uid(),$item['id'],9)}
						{wc:loop $datas $row}									
						<li>{wc:fun:_put_time($user['time'])}  云购了  {wc:$user['gonumber']}  个云购码</li>						
						{wc:loop:end} 
					</ul>
					{wc:else}					
					<div class="My_RecordReg">
						<b class="gray01">看不到？是不是没登录或是没注册？ 登录后看看</b>
						<a href="{WEB_PATH}/member/user/login" class="My_Signbut">登录</a><a href="{WEB_PATH}/member/user/register" class="My_Regbut">注册</a>
					</div>
					{wc:if:end}
				</div>
				<!--/我的云购记录-->
				<div class="Newest_Con _hiden" style="display: none;">
					<p class="MsgIntro">购是指只需1元就有机会买到想要的商品。即每件商品被平分成若干“等份”出售，每份1元，当一件商品所有“等份”售出后，根据云购规则产生一名幸运者，该幸运者即可获得此商品。</p>
					<p class="MsgIntro1">以“快乐云购，惊喜无限”为宗旨，力求打造一个100%公平公正、100%正品保障、寄娱乐与购物一体化的新型购物网站。<a href="{:U('Help/index')}/1" class="blue" target="_blank">查看详情&gt;&gt;</a></p>
				</div>
			</div>			
		</div>
	</div>
</div>
<!-- 商品信息导航 -->
<div class="ProductTabNav">
	<div id="divProductNav" class="DetailsT_Tit">
		<div class="DetailsT_TitP">
			<ul>
				<li class="Product_DetT DetailsTCur"><span class="DetailsTCur">商品详情</span></li>
				<li id="liUserBuyAll" class="All_RecordT"><span class="">所有参与记录</span></li>
				<li class="Single_ConT"><span class="">晒单</span></li>
			</ul>
			<!-- <p><a id="btnAdd2Cart" href="javascript:;" class="white DetailsT_Cart"><s></s>加入购物车</a></p> -->
		</div>
	</div>
</div>

<!--补丁3.1.6_b.0.1-->
<div id="divContent" class="Product_Content">
	<!-- 商品内容 -->
	<div class="Product_Con">{$data.content}</div>
    <!-- 商品内容 -->
    
    <!-- 购买记录20条 -->
	<div id="bitem" class="AllRecordCon">
		<iframe id="iframea_bitem" g_src="{WEB_PATH}/go/goods/go_record_ifram/{wc:$itemid}/20" style="width:978px; border:none;height:100%" frameborder="0" scrolling="no"></iframe>		
	</div>	
   <!-- /购买记录20条 -->
    
	<!-- 晒单 -->
	<div id="divPost" class="Single_Content">
		<iframe id="iframea_divPost" g_src="{WEB_PATH}/go/shaidan/itmeifram/{wc:$itemid}" style="width:978px; border:none;height:100%" frameborder="0" scrolling="no"></iframe>
	</div>
    <!-- 晒单 -->	
</div>
<!--补丁3.1.6_b.0.1-->


<script type="text/javascript">
function set_iframe_height(fid,did,height){	
	$("#"+fid).css("height",height);	
}

$(function(){
	$("#ulRecordTab li").click(function(){
		var add=$("#ulRecordTab li").index(this);
		$("#ulRecordTab li").removeClass("Record_titCur").eq(add).addClass("Record_titCur");
		$(".Pro_Record ._hiden").hide().eq(add).show();
	});
	
	var DetailsT_TitP = $(".DetailsT_TitP ul li");
	var divContent    = $("#divContent div");	
	DetailsT_TitP.click(function(){
		var index = $(this).index();
			DetailsT_TitP.removeClass("DetailsTCur").eq(index).addClass("DetailsTCur");
	
			var iframe = divContent.hide().eq(index).find("iframe");
			if (typeof(iframe.attr("g_src")) != "undefined") {
			  	 iframe.attr("src",iframe.attr("g_src"));
				 iframe.removeAttr("g_src");
			}
			divContent.hide().eq(index).show();
	});
	
	
	$("#btnUserBuyMore").click(function(){
		fouli.removeClass("DetailsTCur").eq(1).addClass("DetailsTCur");
		
		$("#divContent .hide").hide().eq(1).show();
		$("html,body").animate({scrollTop:941},1500);
		$("#divProductNav").addClass("nav-fixed");
	});
	$(window).scroll(function(){
		if($(window).scrollTop()>=941){
			$("#divProductNav").addClass("nav-fixed");
		}else if($(window).scrollTop()<941){
			$("#divProductNav").removeClass("nav-fixed");
		}
	});
});
</script> 