<div class="Progress-bar">
	<p title="已完成{:round($data['canyurenshu']*100 / $data['zongrenshu'], 2)}%"><span style="width:{$data['canyurenshu']*100 / $data['zongrenshu']}%;"></span></p>
	<ul class="Pro-bar-li">
		<li class="P-bar01"><em>{$data.canyurenshu}</em>已参与人次</li>
		<li class="P-bar02"><em id="CodeQuantity">{$data.zongrenshu}</em>总需人次</li>
		<li class="P-bar03"><em id="CodeLift">{$data.shengyurenshu}</em>剩余人次</li>
	</ul>
</div>


<if condition="(int)$data['jishijiexiao'] gt 0">               
    <div class="Immediate">
      <span style="left:10px;right:0px;">剩余时间：<time countdown="{$data.end_time}"><d>0</d><d>0</d>:<d>0</d><d>0</d>:<d>0</d><d>0</d></time></span>  
    </div>             
</if>

<if condition="empty($data['prizeuid']) AND empty($data['end_time']) AND $data['shengyurenshu'] eq 0">               
    <div class="Immediate">
      <span style="left:10px;right:0px;">这个商品未揭晓成功,请联系客服手动揭晓！</span>  
    </div>             
</if>

 <!-- 限时揭晓 -->
<if condition="data.jieshijiexiao gt 0">
	<div id="divAutoRTime" class="Immediate">
	    <span><a class="orange" target="_blank" href="#">限时揭晓的规则？</a></span>
	     <i id="timeall" endtime="{$data.end_time}" lxfday="no"></i>		                           
	</div>
<script type="text/javascript">			
	function lxfEndtime(xsjx_time_shop,this_time){	
		if(!this.xsjx_time_shop){
			this.xsjx_time_shop = xsjx_time_shop;	
			this.this_time		= this_time
		}
		this.this_time = this.this_time + 1000;
		lxfEndtime_setTimeout  = window.setTimeout("lxfEndtime()",1000);				
		var endtime = {$data.end_time|strtotime}000;
	    var youtime = endtime - this.this_time;	   	   //还有多久(毫秒值)
		
		var seconds = youtime/1000;
		var minutes = Math.floor(seconds/60);
		var hours = Math.floor(minutes/60);
		var days = Math.floor(hours/24);
		var CDay= days;
		var CHour= hours % 24;
		var CMinute= minutes % 60;
		var CSecond= Math.floor(seconds%60);//"%"是取余运算，可以理解为60进一后取余数，然后只要余数							
		this.xsjx_time_shop.html("<b>限时揭晓</b><p>剩余时间：<em>"+days+"</em>天<em>"+CHour+"</em>时<em>"+CMinute+"</em>分<em>"+CSecond+"</em>秒</p>");
		delete youtime,seconds,minutes,hours,days,CDay,CHour, CMinute, CSecond;
		if(endtime <= this.this_time){			
			lxfEndtime_setTimeout && window.clearTimeout(lxfEndtime_setTimeout);					
			this.xsjx_time_shop.html("<b>限时揭晓</b><p>正在计算中....</p>");//如果结束日期小于当前日期就提示过期啦	
			xsjx_time_shop = this.xsjx_time_shop;
			// 刷新页面
			window.location.href = "{:U('view', '', '')}/{$data.gid}/{$data.qishu}";
		}							
  	}			  
 	$(function(){
 			lxfEndtime($("#timeall"),{$serverTime}000);
 	});
</script>
</if>		
<!-- 限时揭晓end -->

<p class="Pro_Detsingle" style="font-size:14px;">购物价格：¥<b style="color:#999;">{$data.danjia}</b></p>
<if condition="$data.xiangou gt 0">
<p class="Pro_Detsingle" style="font-size:14px;">限购次数：<b style="color:#999;">{$data.xiangou}</b>人次</p>
</if>
<div id="divNumber"	 class="Pro_number">
	我要购物 
	<a href="javascript:void(0);" class="num_del" id="shopsub">-</a>
	<input style="border:1px solid #CFCFCF" type="text" value="1" maxlength="7" onKeyUp="value=value.replace(/\D/g,'')" class="num_dig" id="num_dig"/>
	<a href="javascript:void(0);" class="num_add" id="shopadd">+</a>人次 
</div>
<div style="display:none;" id="hqid">{$data.gid}</div>
<div id="divBuy" class="Det_button">
	<a href="javascript:void(0);" class="Det_Shopbut">立即购物</a>
	<a href="javascript:void(0);" class="Det_Cart add-cart" src="{$data.thumb}" gid="{$data.gid}"><i></i>加入购物车</a>							
</div>
<script type="text/javascript">
	$(function() {
		// 加减号
		var shopsub = $("#shopsub").click(onamountchange);
		var shopadd = $("#shopadd").click(onamountchange);
		var input = $("#num_dig").change(onamountchange);
		var chance = $("#chance");
		var id = {$data.gid};
		var shengyu = {$data.shengyurenshu};
		var zongshu = {$data.zongrenshu};
		var xiangou = {$data.xiangou};
		function onamountchange() {
			var $this = $(this);
			var count = Number(input.val());
			var flag = $this.is(shopadd) ? 1 : ($this.is(shopsub) ? -1 : 0);
			
			if(xiangou > 0 && (count + flag > xiangou)) {
				return;
			}
			
			if(count > shengyu) {
				count = shengyu;
			}
			
			if(flag == -1 && count <= 1) {
				return;
			}
			
			if(count < -1) {
				input.val(1);
				return;
			}
			count += flag;
			input.val(count);
			var jilv = (count * 100.0 / zongshu);
			jilv = Math.round(jilv * 100.0) / 100.0;
			chance.html("<span style='color:red'>获得机率"+jilv+"%</span>");
		}
		
		// 立即购物
		$(".Det_Shopbut").click(function() {
			$.post("{:U('Cart/add', '', '')}/{$data.gid}/{$data.type}/" + Number(input.val()), null, function(result) {
				window.location.href = "{:U('Cart/index', '','')}";
			})
		});
		
		<if condition="$data.jishijiexiao gt 0">
			var time = {$data.end_time} - {$data.now} + 15000;
			window.setTimeout(function() {
				window.location.reload();
			}, time);
		</if>
	});
</script>