<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="format-detection" content="telephone=no">
		<title>{$title}</title>
		<link href="__CSS__/mui.min.css" rel="stylesheet" type="text/css" />
		<link href="__FONT_ICON__" rel="stylesheet" type="text/css" />
		<present name="images">
		<link href="__CSS__/idangerous.swiper.css" rel="stylesheet">
		</present>
		<link href="__CSS__/mobile.css" rel="stylesheet" type="text/css" />
		<link href="__CSS__/android_toast.min.css" rel="stylesheet" type="text/css" />

		<script src="__JQ__"></script>
		<present name="images">
		<script src="__JS__/idangerous.swiper-1.9.1.min.js"></script>
		<script src="__JS__/idangerous.swiper.scrollbar-1.2.js"></script>
		</present>
		<script src="__JS__/jquery.touchSwipe.min.js"></script>
		<script src="__JS__/android_toast.min.js"></script>
		
		<script src="__JS__/mobile.js?v=2"></script>

		<script type="text/javascript">
			$(document).ready(function() {
				$(".mall_list a").click(function() {
					var index = layer.open({
						type: 1,
						title: false,
						closeBtn: false,
						shadeClose: false,
						offset: '25%',
						content: "<div class='no_login_show'><h1>亲！您还没登录一起惠哦！</h1><a href='login.html'>马上登录</a><a href='register.html'>免费注册</a><a href='#'>先购物，再返利</a><a href='javascript:layer.closeAll();'>取消</a></div>"
					});
				});
				$("#msg_bijia").click(function() {
					layer.tips('请耐心等待一下，我们正在拼命开发中···', '#msg_bijia');
				});
			});
		</script>
	</head>

	<body>
		<div class="mui-content" style="padding-top: 0;padding-bottom: 54px;">
			{__CONTENT__}
		</div>
		<div class="gotop backtop" style="display:none;"></div>
	</body>

</html>
<script type="text/javascript">
	$(document).ready(function() {
		$(window).scroll(function() {
			var scrollHeight = $(document).height();
			var scrollTop = $(window).scrollTop();
			var $windowHeight = $(window).innerHeight();
			scrollTop > 75 ? $(".gotop").fadeIn(200).css("display", "block") : $(".gotop").fadeOut(200).css({
				"background-image": "url(__IMG__/iconfont-fanhuidingbu.png)"
			});
		});
		$('.backtop').click(function(e) {
			$(".gotop").css({
				"background-image": "url(__IMG__/iconfont-fanhuidingbu_up.png)"
			});
			e.preventDefault();
			$('html,body').animate({
				scrollTop: 0
			});
		});
		
		<present name="images">
		//Partial Slides
		swiperLoop = $('.swiper-loop').swiper({
			pagination : '.pagination-loop',
			slidesPerSlide : Math.min(3, {$images|count}),
			loop:true
		});
		</present>
	});
</script>