<link rel="stylesheet" type="text/css" href="__CSS__/header1.css" />
<!--新闻列表-->
<div class="g-frame-footer">
	<div class="g-width footer">
		<div class="M-guide">
			{:footerHelp()}
			<dl class="ft-fwrx">
				<dt><span>官方群</span></dt>
				<dd class="ft-fwrx-service"><a style="text-indent:0em; background:none;width:160px;"  href="javascript:void(0);">官方QQ群：<em class="orange Fb">391645065</em></a></dd>

				<!--<dd class="ft-fwrx-service"><a style="text-indent:0em; background:none;width:160px;"  href="javascript:void(0);">官方QQ群：<em class="orange Fb">99999</em></a></dd>
				<dd class="ft-fwrx-service"><a style="text-indent:0em; background:none;width:160px;" href="javascript:void(0);">官方QQ群：<em class="orange Fb">188526887</em></a></dd>
			-->
			</dl>
			<dl>
				<dt>携手壹圆购物</dt>
				<dd><a href="{:U('Help/business', '', '')}" target="_blank">商务合作</a></dd>
				<dd><a href="{:U('Help/index', '', '')}/13">联系我们</a></dd>
			</dl>
		</div>
		<div class="M-security">
			<a href="{:U('Help/index', '', '')}/4" class="U-fair" target="_blank"> <s class="F-security-img"></s>
				<p class="F-security-T">100%公平公正</p>
				<p class="F-security-C">参与过程公开透明，用户可随时查看</p>
			</a>
			<a href="{:U('Help/index', '', '')}/5" class="U-security" target="_blank"> <s class="F-security-img"></s>
				<p class="F-security-T">100%正品保证</p>
				<p class="F-security-C">精心挑选优质商家，100%品牌正品</p>
			</a>
			<a href="{:U('Help/index', '', '')}/7" class="U-free" target="_blank"> <s class="F-security-img"></s>
				<p class="F-security-T">全国免运费</p>
				<p class="F-security-C">全场商品全国包邮（港澳台地区除外）</p>
			</a>
		</div>
	</div>
</div>
<!--end 新闻列表-->

<!-- 底部版权 -->
<div class="g-frame copyright">
	<div class="footer_links">
		<a href="{:U('Index/index', '', '')}">首页</a><b></b>
		<a href="{:U('Help/index', '', '')}/1">关于壹圆购物</a><b></b>
		<a href="{:U('Help/business', '', '')}">合作专区</a><b></b>
		<a href="{:U('Help/index', '', '')}/13">联系我们</a><b></b>		
	</div>
	<div class="copyright">{:config("web_copyright")} </div>
	<div class="footer_icon">
		<a class="fi_ectrustchina"></a>
		<a class="fi_315online"></a>
		<a class="fi_qh"></a>
		<a class="fi_cnnic"></a>
		<a class="fi_anxibao"></a>
		<a class="fi_pingan"></a>
	</div>
</div>
<!--end 底部版权 -->

<!--右侧导航-->
<div id="divRighTool" class="quickBack" style="display: block;bottom: 60px;right: 0px;">
	<dl class="quick_But">
		<dd id="divRigCart" class="quick_cart" style="">
			<a id="btnMyCart" href="{:U('Cart/index')}" target="_blank" class="quick_cartA"><b>购物车</b><s></s><em><span class="cart-count">{:session('cartCount')}</span></em></a>
			<div style="display: none;" id="rCartlist" class="Roll_mycart">
				<ul style="display: none;">
				</ul>
				<li id="roolCartTemplate" style="display: none;">
					<a href="javascript:void(0);" title="删除" class="Close"></a>
					<a class="link"><img class="img"></a>
					<span class="orange renci"></span>人次
				</li>
				<li id="roolCartMore" class="Roll_CartMore" style="display: none;">
					<a target="_blank" title="查看更多" href="'.WEB_PATH.'/member/cart/cartlist">
						更多<i>&gt;</i>
					</a>
				</li>
				<div class="quick_goods_loding" id="rCartLoading">
					<img border="0" alt="" src="__IMG__/goods_loading.gif">正在加载......
				</div>
				<p id="p1" style="display: none;">共计<span id="rCartTotal2">0</span> 件商品 金额总计：<span class="rmbgray" id="rCartTotalM">0</span></p>
				<h3 style="display: none;">
							<a target="_blank" href="{:U('Cart/index', '', '')}"
								class="orange_btn">去购物车结算</a>
						</h3>
			</div>
		</dd>
		<dd class="quick_service">
			<a href="tencent://message/?uin=2407955371&Site=壹圆购物&Menu=yes" id="btnRigQQ" class="quick_serviceA " target="_blank">
				<b>在线客服</b><s></s></a>
		</dd>
		<dd class="quick_Collection">
			<a id="btnFavorite" href="javascript:void();" class="quick_CollectionA" 
			onclick="window.external.addfavorite('http://www.eyuanduobao.com/','【壹圆购物】')"><b>收藏本站</b><s></s></a>
		</dd>
		<dd class="quick_Return">
			<a id="btnGotoTop" href="javascript:scroll(0,0);" class="quick_ReturnA"><b>返回顶部</b><s></s></a>
		</dd>
	</dl>
</div>
<script type="text/javascript">
	/**
	 * body滚动到底部时触发 
	 * @param {Function} callback 回调函数
	 * @param {Number} threshold 阀值，默认为200
	 * @return {Object} 句柄
	 */
	window.onScrollEnd = function(callback, threshold) {
		var threshold = threshold || 200;
		var timeHandler = null;
		var onscrollend = function() {
			if ($(window).scrollTop() + $(window).height() + threshold > $(document).height()) {
				console.info("滚动到了底部");
				window.clearTimeout(timeHandler);
       			timeHandler = window.setTimeout(callback, 300);
			}
		}
		$(document).bind("scroll", onscrollend);
		return {
			destory: function() {
				$(document).unbind("scroll", onscrollend);
			}
		};
	}

	$(function(){
		var sp_ServerTime = $("#sp_ServerTime");
		var serverTime = {$serverTime}000;
		function showTime() {
			serverTime += 1000;
			var now = new Date(serverTime);
			var hours = now.getHours();
			var muintes = now.getMinutes();
			var seconds = now.getSeconds();
			hours = hours > 9 ? String(hours) : "0" + hours;
			muintes = muintes > 9 ? String(muintes) : "0" + muintes;
			seconds = seconds > 9 ? String(seconds) : "0" + seconds;
			sp_ServerTime.html([hours, muintes, seconds].join(":"));
		}
		showTime();
		window.setInterval(showTime, 1000);
		
		// 计算购物车
		var cartCount = {$Think.session.cartCount} * 1;
		var cartCountSpan = $(".cart-count");
		function countCart(count) {
			cartCount += count;
			cartCountSpan.text(cartCount);
		}
		window.countCart = countCart;
		
		$(".add-cart").click(function(evt) {
			var offset = $("#btnMyCart").offset();
			evt.stopPropagation();
			evt.preventDefault();
			var $this = $(this);
			var gid = $this.attr("gid");
			
			var img = $this.attr("src");
			var flyer = $('<img class="u-flyer" src="'+img+'">');
			var goodOffset = $this.offset();
			flyer.fly({
				start: {
					left: goodOffset.left,
					top: goodOffset.top - $(document).scrollTop()
				},
				end: {
					left: offset.left,
					top: offset.top - $(document).scrollTop(),
					width: 0,
					height: 0
				},
				onEnd: function(){
					this.destory();
				}
			});
			
			$.post("{:U('Cart/add', '', '')}/" + gid + "/1", null, function(result) {
				if(result.count > 0) {
					countCart(1);	
				} else {
					
				}
			})
		});
		
		
		// 购物车
		$(".quick_cart").hover(oncarthover,
			function(){
				$("#rCartlist,#rCartlist ul,#rCartlist p,#rCartlist h3").hide();
			}
		);
		$("#rGotoCart").click(function(){
			window.location.href="{:U('Cart/index')}";
		});
		
		function oncarthover(){			
			$("#rCartlist,#rCartLoading").show();
			$("#rCartlist p,#rCartlist h3").hide();
			$("#rCartTotal2").html("");
			$("#rCartTotalM").html("");
			var listUL = $("#rCartlist ul");
			var roolCartTemplate = $("#roolCartTemplate");
			var roolCartMore = $("#roolCartMore").hide();
			listUL.html("");
			$.getJSON("{:U('Cart/box', '','')}",function(data){
				if(data.count > 0) {
					for(var i = 0, len = data.list.length; i < len; i++) {
						var item = data.list[i];
						var li = roolCartTemplate.clone().removeAttr("id").show();
						li.appendTo(listUL);
						$(".Close", li).attr("cid", item.id).click(removeCart);
						$(".img", li).attr("src", item.good.thumb);
						$(".renci", li).text(item.count);
						$(".link", li).attr("href", "{:U('Index/view', '', '')}/" + item.gid)
							.attr("title", item.good.title);
					}
					if(data.count > 7) {
						roolCartMore.clone().show().appendTo(listUL);
					}
				}
				$("#rCartTotal2").html(data.count);
				$("#rCartTotalM").html(data.total);
				$("#rCartLoading").hide();
				$("#rCartlist ul,#rCartlist p,#rCartlist h3").show();				
			});
		}
		function removeCart(evt) {
			var $this = $(this);
			var cid = $this.attr("cid");
			$.post("{:U('Cart/remove', '', '')}/" + cid, null, function(result) {
				if(result.status == 0) {
					$this.parent().remove();
					countCart(-1);
					oncarthover();
					if(window.removeCart) {
						window.removeCart(cid);
					}
				} else { // 失败
					message.text("删除失败");
				}
			});
		}
	});
	
	$(function(){
//	// 图片懒加载
//	$("img.lazy").Lazy();
	
	/** 倒计时JS开始 **/
	var countdownHTML = "<d>0</d><d>0</d>:<d>0</d><d>0</d>:<d>0</d><d>0</d>";
//	var countdowns = $("time").each(function() {
//		$this = $(this);
//		$this.append("<d>0</d><d>0</d>:<d>0</d><d>0</d>:<d>0</d><d>0</d>");
//		this.countdown = Number($this.attr("countdown"));
//		this.digits = this.getElementsByTagName("d");
//	});
	var countdowns = [];
	var scrollHandler = null;
	var countHandler = null;
	window.addEventListener("scroll", onscroll);
	
	window.countdown = onscroll;
	
	function onscroll() {
		window.clearTimeout(scrollHandler);
		window.clearInterval(countHandler);
		scrollHandler = window.setTimeout(function() {
			countdowns.length = 0;
			var wHeight = $(window).height();
			$("time").each(function() {
				var rect = this.getBoundingClientRect();
				var top = rect.top;
				var bottom = rect.bottom;
                if (bottom > 0 && top < wHeight) {
                		if(typeof this.countdown != "number") {
						this.countdown = Number(this.getAttribute("countdown"));
						if(!(this.countdown > 0)) {
							this.countdown = Number(this.getAttribute("_countdown")) * 1000;
						}
						if(this.getAttribute("yj") != "false") {
		                		this.innerHTML = countdownHTML;
							this.digits = this.getElementsByTagName("d");
						}
					}
                   	countdowns.push(this);
                }
			});
			if(countdowns.length > 0) {
				countHandler = window.setInterval(oncount, 250);
			}
		}, 100)
	}

	function oncount() {
		var now = new Date().getTime();
		$.each(countdowns, function(){
			var time = this.countdown - now;
			if(time > 0) {
				var _hours = Math.min(Math.floor(time / 1000 / 3600), 99);
				var _muintes = Math.floor(time /1000 / 60) % 60;
				var _seconds = Math.floor(time/1000)%60;
				var _milliseconds = time%1000;
				if(this.digits && this.digits.length > 0) {
					hours = _hours > 9 ? String(_hours) : "0" + _hours;
					muintes = _muintes > 9 ? String(_muintes) : "0" + _muintes;
					seconds = _seconds > 9 ? String(_seconds) : "0" + _seconds;
					milliseconds = _milliseconds > 9 ? String(_milliseconds) : "0" + _milliseconds;
					if(_hours > 0) {
						this.digits[0].innerHTML = hours[0];
						this.digits[1].innerHTML = hours[1];
						this.digits[2].innerHTML = muintes[0];
						this.digits[3].innerHTML = muintes[1];
						this.digits[4].innerHTML = seconds[0];
						this.digits[5].innerHTML = seconds[1];
					} else {
						this.digits[0].innerHTML = muintes[0];
						this.digits[1].innerHTML = muintes[1];
						this.digits[2].innerHTML = seconds[0];
						this.digits[3].innerHTML = seconds[1];
						this.digits[4].innerHTML = milliseconds[0];
						this.digits[5].innerHTML = milliseconds[1];
					}
				} else {
					var _days = Math.floor(time / 24 / 1000 / 3600);
					var _hours = Math.floor(time / 1000 / 3600) % 24;
					this.innerHTML = [_days, "天", _hours, "小时", _muintes, "分", _seconds, "秒", _milliseconds].join("");
				}
			} else {
				if(this.digits && this.digits.length > 0) {
					this.digits[0].innerHTML = "0";
					this.digits[1].innerHTML = "0";
					this.digits[2].innerHTML = "0";
					this.digits[3].innerHTML = "0";
					this.digits[4].innerHTML = "0";
					this.digits[5].innerHTML = "0";
				} else {
					this.innerHTML = "00:00:00";
				}
			}
		});
	}
	onscroll();
	/** 倒计时JS结束 **/
});

</script>
<!--end右侧导航-->
</body>

</html>