<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="一元云购" />
    <meta name="description" content=""/>
    <title>{$title}</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/header222.css?date=20140731">
	<link href="__CSS__/register.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/index2.css?date=20140731">
	<link rel="stylesheet" type="text/css" href="__CSS__/comm.css?date=20140731">	
	 <link rel="stylesheet" type="text/css" href="__CSS__/comm1.css?date=20140731">
	 	
	<script src="__JQ__"></script>	
	<script type="text/javascript" src="__JS__/jquery.cookie.js"></script>
    <script type="text/javascript" id="pageJS" data="__JS__/Index.js"></script>
</head>

<body id="loadingPicBlock" class="home" rf="1" >
<SCRIPT language=javascript> 
<!-- 
window.onerror=function(){return true;} 
// --> 
</SCRIPT> 
    <div class="wrapper">
        <!--头部-->
        <!--顶部-->
 <div class="g-toolbar">
     <div class="w1190">
         <ul class="fl">
             <li>
                 <div class="u-menu-hd">
                     <a id="addSiteFavorite" href="javascript:;" title="收藏">收藏</a>
                 </div>
             </li>
             <li class="f-gap"><s></s></li>
             <!--<li id="liMobile" class="u-arr">
                 <div class="u-menu-hd">
                     <a href="#" title="手机云购">手机云购</a>
                     <div class="f-top-arrow"><cite>◆</cite><b>◆</b></div>
                 </div>
                 <div class="u-select u-select-weix">
                     <p>
                         <a href="#" target="_blank">
                             <img src="__IMG__/wx-2014.jpg?v=20141105" />
                             下载客户端
                         </a>
                     </p>
                 </div>
             </li>-->
             <li class="f-gap"><s></s></li>
             <li>
                 <div class="u-menu-hd">
                     <a href="{WEB_PATH}/group_qq" target="_blank" title="官方QQ群">官方QQ群</a>
                 </div>
             </li>
         </ul>
         <ul id="ulTopRight" class="fr">
         	<if condition="$Think.session.loginstatus eq 1">
				<li>
				<div class="u-menu-hd u-menu-login">
				<a class="blue" title="" href="{:U('Home/index', '', '')}">{:get_username()}</a>
				<a title="退出" href="{:U('Main/cook_end', '', '')}">[退出]</a>
				</div>
				</li>
				<li class="f-gap">
				<s></s>
				</li>
			<else/>
				<li id="logininfo">
				<div class="u-menu-hd">
				<a title="登录" href="{:U('Main/login', '', '')}">登录</a>
				</div>
				</li>
				<li class="f-gap">
				<s></s>
				</li>
				<li>
				<div class="u-menu-hd">
				<a title="注册" href="{:U('Main/register', '', '')}">注册</a>
				</div>
				</li>
				<li class="f-gap">
				<s></s>
				</li>
			</if>
			<li id="liMember" class="u-arr">
				<div class="u-menu-hd">
					<a title="我的" href="{:U('Home/index', '', '')}">我的</a>
                     <div class="f-top-arrow"><cite>◆</cite><b>◆</b></div>
                 </div>
                 <div class="u-select u-select-my">
                     <span><a href="{:U('Home/userbuylist', '', '')}" title="云购记录">云购记录</a></span>
                     <span><a href="{:U('Home/orderlist', '', '')}" title="获得的商品">获得的商品</a></span>
                     <span><a href="{:U('Home/modify', '', '')}" title="个人设置">个人设置</a></span>
                 </div>
             </li>
             <li class="f-gap"><s></s></li>
             <li id="liTopUMsg" class="u-arr" style="display: none;">
                 <div class="u-menu-hd">
                     <a href="#" title="消息">消息</a>
                     <h3 style="display: none;"></h3>
                     <div class="f-top-arrow"><cite>◆</cite><b>◆</b></div>
                 </div>
                 <div class="u-select u-select-my">
                     <span><a href="#" title="好友请求">好友请求</a></span>
                     <span><a href="#" title="系统消息">系统消息</a></span>
                     <span><a href="#" title="私信" class="f-msg">私信</a></span>
                 </div>
             </li>
             <li class="f-gap" style="display: none;"><s></s></li>
             <li>
                 <div class="u-menu-hd">
                     <a href="#" title="帮助">帮助</a>
                 </div>
             </li>
             <li class="f-gap"><s></s></li>
             <li>
                 <div class="u-menu-hd">
                     <a id="btnTopQQ" href="http://wpa.qq.com/msgrd?v=3&uin={wc:fun:_cfg('qq')}&site=qq&menu=yes" title="在线客服" class="u-service-off u-service"><i></i>在线客服</a>
                 </div>
             </li>
         </ul>
     </div>
 </div><!--头部-->
 <div class="g-header">
     <div class="w1190">
         <div id="topLogoAd" class="logo_1yyg fl">
             <a class="logo_1yyg_img" href="{:U('Index/index', '', '')}" title="">
					<img src="__IMG__/logo/logo.jpg"/>
				</a>
         </div>
         <div class="search_cart_wrap fr">
             <div class="number">
                 <a href="{WEB_PATH}/buyrecord" target="_blank">
                     <ul id="spHeadTotalNum">			 
      					<li class="nobor gray6">累计参与</li>
                         <li class="num"><cite><em>0</em></cite><i></i></li>
                         <li class="num"><cite><em>0</em></cite><i></i></li>
                         <li class="num"><cite><em>0</em></cite><i></i></li>
                         <li class="nobor">,</li>
                         <li class="num"><cite><em>{wc:fun:go_count_renci6()}</em></cite><i></i></li>
                         <li class="num"><cite><em>{wc:fun:go_count_renci5()}</em></cite><i></i></li>
                         <li class="num"><cite><em>{wc:fun:go_count_renci4()}</em></cite><i></i></li>
                         <li class="nobor">,</li>
                         <li class="num"><cite><em>{wc:fun:go_count_renci3()}</em></cite><i></i></li>
                         <li class="num"><cite><em>{wc:fun:go_count_renci2()}</em></cite><i></i></li>
                         <li class="num"><cite><em>{wc:fun:go_count_renci1()}</em></cite><i></i></li> 
                         <li class="nobor gray6 u-secondary">人次<b><s></s></b></li>
                     </ul>
                 </a>
             </div>
 
             <div class="search">
                 <div class="form">
                     <input id="txtSearch" type="text" value="输入“汽车”试试" />
                     <span>
                         <a href="{WEB_PATH}/s_tag/苹果" target="_blank">苹果</a>
                         <a href="{WEB_PATH}/s_tag/电脑" target="_blank">电脑</a>
                         <a href="{WEB_PATH}/s_tag/手机" target="_blank">手机</a>
                     </span>
                 </div>
                 <a id="butSearch" href="javascript:;" class="seaIcon"><i></i></a>
             </div>
         </div>
     </div>
 </div>
 
 
 
 <!--导航-->
 <div class="g-nav">
     <div class="w1190">
         <div id="divGoodsSort" class="m-menu fl">
             <div class="m-menu-all">
                 <h3><a href="{WEB_PATH}/goods_list">全部商品分类</a><em></em></h3>
             </div>
             <div id="divSortList" class="m-all-sort" style="display: none;">
                 <dl>
                     <dt><a href="{WEB_PATH}/goods_list/5_0_0">手机数码</a></dt>
                     <dd>
                         <a href="{WEB_PATH}/goods_list/49_0_0">手机</a>
                         <a href="{WEB_PATH}/goods_list/62_0_0">数码影像</a>
                         <a href="{WEB_PATH}/goods_list/63_0_0">时尚影音</a>
                     </dd>
                 </dl>
                 <dl>
                     <dt><a href="{WEB_PATH}/goods_list/13_0_0">电脑办公</a></dt>
                     <dd>
                         <a href="{WEB_PATH}/goods_list/64_0_0">电脑配件</a>
                         <a href="{WEB_PATH}/goods_list/65_0_0">外设产品</a>
                         <a href="{WEB_PATH}/goods_list/69_0_0">网络产品</a>
                     </dd>
                 </dl>
                 <dl>
                     <dt><a href="{WEB_PATH}/goods_list/6_0_0">家用电器</a></dt>
                     <dd>
                         <a href="{WEB_PATH}/goods_list/66_0_0">大家电</a>
                         <a href="{WEB_PATH}/goods_list/67_0_0">生活电器</a>
                         <a href="{WEB_PATH}/goods_list/70_0_0">个人护理</a>
                     </dd>
                 </dl>
                 <dl>
                     <dt><a href="{WEB_PATH}/goods_list/12_0_0">化妆个护</a></dt>
                     <dd>
                        <a href="{WEB_PATH}/">面部护理</a>
                         <a href="{WEB_PATH}/">香水</a>
                     </dd>
                 </dl>
                 <dl>
                     <dt><a href="{WEB_PATH}/goods_list/14_0_0">钟表首饰</a></dt>
                     <dd><a href="{WEB_PATH}/goods_list/68_0_0">珠宝首饰</a></dd>
                 </dl>
                 <dl>
                     <dt><a href="{WEB_PATH}/goods_list/15_0_0">其他商品</a></dt>
                     <dd>
                        <a href="{WEB_PATH}/goods_list/21_0_0">腾讯QQ</a>
                         <a href="{WEB_PATH}/goods_list/55_0_0">手机话费</a>
                     </dd>
                 </dl>
             </div>
 
         </div>
         <div class="nav-main fl">
             <ul>
                 <li class="f-nav-home"><a href="/">首页</a></li>
                 <li class="f-nav-lottery"><a href="{WEB_PATH}/goods_lottery">最新揭晓</a></li>
                 <li class="f-nav-share"><a href="{WEB_PATH}/go/shaidan">晒单分享</a></li>
                 <li class="f-nav-group"><a href="{WEB_PATH}/group">云购圈</a></li>
                 <li class="f-nav-guide"><a href="{WEB_PATH}/single/newbie">新手指南</a></li>
             </ul>
         </div>
         <div id="divHCart" class="nav-cart fr">
             <div class="nav-cart-btn">
                 <a href="{WEB_PATH}/member/cart/cartlist" target="_blank"><i class="f-cart-icon"></i>购物车<span id="sCartTotal">(0)</span></a>
             </div>
             <div class="nav-cart-con">
                 <div class="m-loading-2014"><em></em></div>
                 <div class="nav-car-cartEmpty"><i></i>您的购物车为空 !</div>
                 <div class="nav-cart-select"></div>
                 <div class="nav-cart-pay"></div>
             </div>
         </div>
 
     </div>
 </div>
 <!--所有商品下拉特效-->
	<script>
		$(document).ready(function(){
				$("#divGoodsSortList").hover(function() {
				$(this).addClass("U-goods-hover").children("div.U-goods-class").show().prev().find("b").addClass("b_Triangle")
				}
				,function() {
					$(this).removeClass("U-goods-hover").children("div.U-goods-class").hide().prev().find("b").removeClass("b_Triangle")
				}
				).find("dl").each(function() {
					$(this).hover(function() {
					$(this).addClass("U-list-hover")
				}
				,function() {
					$(this).removeClass("U-list-hover")
				}
				)});

		});
	</script>
	<script>
$(function(){
	$("#sCart,#liTopCart").hover(
		function(){			
			$("#sCartlist,#sCartLoading").show();
			$("#sCartlist p,#sCartlist h3").hide();
			$("#sCart .mycartcur").remove();
			$("#sCartTotal2").html("");
			$("#sCartTotalM").html("");
			$.getJSON("{WEB_PATH}/member/cart/cartheader/="+ new Date().getTime(),function(data){
				$("#sCart .mycartcur").remove();
				$("#sCartLoading").before(data.li);
				$("#sCartTotal2").html(data.num);
				$("#sCartTotalM").html(data.sum);

				$("#sCartLoading").hide();
				$("#sCartlist p,#sCartlist h3").show();
			});
		},
		function(){
			$("#sCartlist").hide();
		}
	);
	$("#sGotoCart").click(function(){
		window.location.href="{WEB_PATH}/member/cart/cartlist";
	});
})
function delheader(id){
	var Cartlist = $.cookie('Cartlist');
	var info = $.evalJSON(Cartlist);
	var num=$("#sCartTotal2").html()-1;
	var sum=$("#sCartTotalM").html();
	info['MoenyCount'] = sum-info[id]['money']*info[id]['num'];
		
	delete info[id];
	//$.cookie('Cartlist','',{path:'/'});
	$.cookie('Cartlist',$.toJSON(info),{expires:30,path:'/'});
	$("#sCartTotalM").html(info['MoenyCount']);
	$('#sCartTotal2').html(num);
	$('#sCartTotal').text(num);											
	$('#btnMyCart em').text(num);
	$("#mycartcur"+id).remove();
}
$(function(){
	$(".M-my-1yyg").mouseover(function(){
		$(this).addClass("menu-hd-hover");
	});
	$(".M-shop").mouseover(function(){
		$(this).addClass("menu-hd-hover");
	});
	$(".M-my-1yyg").mouseout(function(){
		$(this).removeClass("menu-hd-hover");
	});
	$(".M-shop").mouseout(function(){
		$(this).removeClass("menu-hd-hover");
	});
});
$(function(){
	$("#txtSearch").focus(function(){
		$("#txtSearch").css({background:"#FFFFCC"});
		var va1=$("#txtSearch").val();
		if(va1=='输入“汽车”试试'){
			$("#txtSearch").val("");
		}
	});
	$("#txtSearch").blur(function(){
		$("#txtSearch").css({background:"#FFF"});
		var va2=$("#txtSearch").val();
		if(va2==""){
			$("#txtSearch").val('输入“汽车”试试');
		}			
	});
	$("#butSearch").click(function(){
		window.location.href="{WEB_PATH}/s_tag/"+$("#txtSearch").val();
	});
});

var getAllNum = function(){
	var a = $("#spBuyCount");
	var b = a.text();
	$.ajax({
		url: "{WEB_PATH}/api/wrenciajax/get",
		type:"POST",
		success: function(data){
			if(b == data){				
			}else{
				a.css({
					color:"white",background:"red"
				}).html(data);
				a.animate({
					opacity:0.1
				}
				,{
					queue:false,duration:1000,complete:function(){
						a.show().css({
							color:"#22AAFF",background:"#F5F5F5",opacity:1
						})
					}
				})

			}
		}
	});
	//setTimeout(getAllNum,3000);
};
getAllNum();
</script>
 <script language="javascript" type="text/javascript">
     var Base = { 
     	head: document.getElementsByTagName("head")[0] || document.documentElement
     	, Myload: function (B, A) { 
     		this.done = false; 
     		B.onload = B.onreadystatechange = function () { 
     			if (!this.done && (!this.readyState || this.readyState === "loaded" || this.readyState === "complete")) { 
     				this.done = true; 
     				A(); 
     				B.onload = B.onreadystatechange = null; 
     				if (this.head && B.parentNode) { this.head.removeChild(B) } } } 
     	}
     	, getScript: function (A, C) { 
     		var B = function () { }; 
     		if (C != undefined) { B = C } 
     		var D = document.createElement("script"); 
     		D.setAttribute("language", "javascript"); 
     		D.setAttribute("type", "text/javascript"); 
     		D.setAttribute("src", A); this.head.appendChild(D); this.Myload(D, B) 
     	}, getStyle: function (A, CB) { 
     		var B = function () { }; if (CB != undefined) { B = CB } 
     		var C = document.createElement("link"); 
     		C.setAttribute("type", "text/css"); C.setAttribute("rel", "stylesheet"); C.setAttribute("href", A); this.head.appendChild(C); this.Myload(C, B) } 
     }
     function GetVerNum() { var D = new Date(); return D.getFullYear().toString().substring(2, 4) + '.' + (D.getMonth() + 1) + '.' + D.getDate() + '.' + D.getHours() + '.' + (D.getMinutes() < 10 ? '0' : D.getMinutes().toString().substring(0, 1)) }
     Base.getScript('{G_TEMPLATES_JS}/Bottom.js?v=' + GetVerNum());
 </script>
 <script>
$("body").attr('class','lottery');
</script>
<!--end所有商品下拉特效-->
<link rel="stylesheet" type="text/css" href="__CSS__/Home.css?date=20140731">	