<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="一元云购" />
    <meta name="description" content=""/>
    <title>{$title}</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/header222.css?date=20140731">
    <link rel="stylesheet" type="text/css" href="__CSS__/index2.css?date=20140731">
	<link href="__CSS__/register.css" rel="stylesheet" type="text/css" />	
	 <link rel="stylesheet" type="text/css" href="__CSS__/comm.css?date=20140731">	 
    <link rel="stylesheet" type="text/css" href="__CSS__/header1.css?date=20140731">
	 	
	<script src="__JQ__"></script>	
	<script type="text/javascript" src="__JS__/jquery.cookie.js"></script>
    <script type="text/javascript" id="pageJS" data="__JS__/Index.js"></script>
    <script type="text/javascript" src="__JS__/jquery.fly.min.js"></script>
</head>

<body id="loadingPicBlock" class="home" rf="1" >
<SCRIPT language=javascript> 
<!-- 
window.onerror=function(){return true;} 
// --> 
</SCRIPT> 
    <div class="wrapper">
        <!--头部-->
        <!--顶部-->
 <div class="g-toolbar">
     <div class="w1190">
         <ul class="fl">
             <li>
                 <div class="u-menu-hd">
                     <a id="addSiteFavorite" href="javascript:;" title="收藏">收藏</a>
                 </div>
             </li>
             <li class="f-gap"><s></s></li>
            
             <li class="f-gap"><s></s></li>
             
             <li>
                 <div class="u-menu-hd">                  
                     <a href="{:U('Help/group_qq', '', '')}" target="_blank" title="官方QQ群">官方QQ群</a>
                 </div>
             </li>
         </ul>
         <ul id="ulTopRight" class="fr">
         	<if condition="$Think.session.loginstatus eq 1">
				<li>
				<div class="u-menu-hd u-menu-login">
				<a class="blue" title="" href="{:U('Home/index', '', '')}">{:get_username()}</a>
				<a title="退出" href="{:U('Main/cook_end', '', '')}">[退出]</a>
				</div>
				</li>
				<li class="f-gap">
				<s></s>
				</li>
			<else/>
				<li id="logininfo">
				<div class="u-menu-hd">
				<a title="登录" href="{:U('Main/login', '', '')}">登录</a>
				</div>
				</li>
				<li class="f-gap">
				<s></s>
				</li>
				<li>
				<div class="u-menu-hd">
				<a title="注册" href="{:U('Main/register', '', '')}">注册</a>
				</div>
				</li>
				<li class="f-gap">
				<s></s>
				</li>
			</if>
			<li id="liMember" class="u-arr">
				<div class="u-menu-hd">
					<a title="我的" href="{:U('Home/index', '', '')}">我的</a>
                     <div class="f-top-arrow"><cite>◆</cite><b>◆</b></div>
                 </div>
                 <div class="u-select u-select-my">
                     <span><a href="{:U('Home/userbuylist', '', '')}" title="云购记录">云购记录</a></span>
                     <span><a href="{:U('Home/orderlist', '', '')}" title="获得的商品">获得的商品</a></span>
                     <span><a href="{:U('Home/modify', '', '')}" title="个人设置">个人设置</a></span>
                 </div>
             </li>
             <li class="f-gap"><s></s></li>
             <li id="liTopUMsg" class="u-arr" style="display: none;">
                 <div class="u-menu-hd">
                     <a href="#" title="消息">消息</a>
                     <h3 style="display: none;"></h3>
                     <div class="f-top-arrow"><cite>◆</cite><b>◆</b></div>
                 </div>
                 <div class="u-select u-select-my">
                     <span><a href="#" title="好友请求">好友请求</a></span>
                     <span><a href="#" title="系统消息">系统消息</a></span>
                     <span><a href="#" title="私信" class="f-msg">私信</a></span>
                 </div>
             </li>
             <li class="f-gap" style="display: none;"><s></s></li>
             <li>
                 <div class="u-menu-hd">
                     <a href="#" title="帮助">帮助</a>
                 </div>
             </li>
             <li class="f-gap"><s></s></li>
             <li>
                 <div class="u-menu-hd">
                     <a id="btnTopQQ" href="http://wpa.qq.com/msgrd?v=3&uin={:config('qq')}&site=qq&menu=yes" title="在线客服" class="u-service-off u-service"><i></i>在线客服</a>
                 </div>
             </li>
         </ul>
     </div>
 </div><!--头部-->
 <div class="g-header">
     <div class="w1190">
         <div id="topLogoAd" class="logo_1yyg fl">
             <a class="logo_1yyg_img" href="{:U('Index/index', '', '')}" title="">
					<img src="__IMG__/logo/logo.jpg"/>
				</a>
         </div>
         <div class="search_cart_wrap fr">
             <div class="number">
                 <a href="{WEB_PATH}/buyrecord" target="_blank">
                     <ul id="spHeadTotalNum">			 
      					<li class="nobor gray6">累计参与</li>
                         <li class="num"><cite><em>{$goCountRenci9|default=0}</em></cite><i></i></li>
                         <li class="num"><cite><em>{$goCountRenci8|default=0}</em></cite><i></i></li>
                         <li class="num"><cite><em>{$goCountRenci7|default=0}</em></cite><i></i></li>
                         <li class="nobor">,</li>
                         <li class="num"><cite><em>{$goCountRenci6|default=0}</em></cite><i></i></li>
                         <li class="num"><cite><em>{$goCountRenci5|default=0}</em></cite><i></i></li>
                         <li class="num"><cite><em>{$goCountRenci4|default=0}</em></cite><i></i></li>
                         <li class="nobor">,</li>
                         <li class="num"><cite><em>{$goCountRenci3|default=0}</em></cite><i></i></li>
                         <li class="num"><cite><em>{$goCountRenci2|default=0}</em></cite><i></i></li>
                         <li class="num"><cite><em>{$goCountRenci1|default=0}</em></cite><i></i></li> 
                         <li class="nobor gray6 u-secondary">人次<b><s></s></b></li>
                     </ul>
                 </a>
             </div>
 
             <div class="search">
                 <div class="form">
                     <input id="txtSearch" type="text" value="输入“手机”试试" />
                     <span>
                         <a href="{WEB_PATH}/s_tag/苹果" target="_blank">苹果</a>
                         <a href="{WEB_PATH}/s_tag/电脑" target="_blank">电脑</a>
                         <a href="{WEB_PATH}/s_tag/手机" target="_blank">手机</a>
                     </span>
                 </div>
                 <a id="butSearch" href="javascript:;" class="seaIcon"><i></i></a>
             </div>
         </div>
     </div>
 </div>
 <!--导航-->
 <div class="g-nav">
     <div class="w1190">
         <div id="divGoodsSort" class="m-menu fl">
             <div class="m-menu-all">
                 <h3><a href="{:U('Category/index', '', '')}">全部商品分类</a><em></em></h3>
             </div> 
         </div>
         <div class="nav-main fl">
             <ul>
                 <li class="f-nav-home f-active"><a href="__MODULE__">首页</a></li>
                 <li class="f-nav-lottery"><a href="{:U('Lottery/index', '', '')}">最新揭晓</a></li>
                 <li class="f-nav-share"><a href="{:U('Saidan/index', '', '')}">晒单分享</a></li>
                 <li class="f-nav-group"><a href="{:U('Paimai/index', '', '')}">拍卖专区</a></li>
                 <li class="f-nav-guide"><a href="{:U('Help/nb', '', '')}">新手指南</a></li>
             </ul>
         </div>
         <div id="divHCart" class="nav-cart fr">
             <div class="nav-cart-btn">
                 <a href="{:U('Cart/index', '', '')}" target="_blank"><i class="f-cart-icon"></i>购物车<span id="sCartTotal">(<span class="cart-count">{:session('cartCount')}</span>)</span></a>
             </div>
             <div class="nav-cart-con">
                 <div class="m-loading-2014"><em></em></div>
                 <div class="nav-car-cartEmpty"><i></i>您的购物车为空 !</div>
                 <div class="nav-cart-select"></div>
                 <div class="nav-cart-pay"></div>
             </div>
         </div>
 
     </div>
 </div>