<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>支付－{:config("web_name")}</title>
<meta name="keywords" content="{wc:if isset($keywords)}{wc:$keywords}{wc:else}{wc:fun:_cfg("web_key")}{wc:if:end}" />
<meta name="description" content="{wc:if isset($description)}{wc:$description}{wc:else}{wc:fun:_cfg("web_des")}{wc:if:end}" />
<link rel="stylesheet" type="text/css" href="__CSS__/comm.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/MyCart.css"/>
<script src="__JQ__"></script>	
<style>
	.yeepay_bank img{ border:1px solid #eee; padding:2px; width:130px; height:35px; }
</style>
</head>
<body>
<div class="logo">
	<div class="float">
		<span class="logo_pic"><a href="__MODULE__" class="a" title="{:config("web_name")}">
			<img src="__IMG__/logo/logo.jpg"/>
		</a></span>
		<span class="tel"><a href="__MODULE__" style="color: #999;">返回首页</a></span>
	</div>
</div>
<div class="shop_payment">
	<ul class="payment">
			<li class="first_step">第一步：提交订单</li>
			<li class="arrow_2"></li>
			<li class="secend_step">第二步：网银支付</li>
			<li class="arrow_1"></li>
			<li class="third_step orange_Tech">第三步：支付失败</li>
			<li class="arrow_1"></li>
	</ul>
		<div id="divResult" class="wait_list hidden" style="display: block;">
			<div class="wait_list_tips ">
			<dl>
				<dt><img src="__IMG__/login_exp03.png" border="0" alt=""></dt>
				<dd><h2 class="orange Fb">支付失败啦！</h2>
					<p>您现在可以<a href="{:U('Home/userbuylist', '', '')}" class="blue">查看购物记录</a>
					或<a href="__MODULE__" class="blue">继续购物</a></p>
					<!-- <p>总共成功云购1件商品，信息如下：</p> -->
				</dd>
			</dl>
			</div>
		</div>
</div><!--payment_Con end-->

<include file="Public:footer" />
