<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>支付－{:config("web_name")}</title>
<meta name="keywords" content="{wc:if isset($keywords)}{wc:$keywords}{wc:else}{wc:fun:_cfg("web_key")}{wc:if:end}" />
<meta name="description" content="{wc:if isset($description)}{wc:$description}{wc:else}{wc:fun:_cfg("web_des")}{wc:if:end}" />
<link rel="stylesheet" type="text/css" href="__CSS__/comm.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/MyCart.css"/>
<script src="__JQ__"></script>	
<style>
	.yeepay_bank img{ border:1px solid #eee; padding:2px; width:130px; height:35px; }
</style>
</head>
<body>
<script src="__PING__" type="text/javascript"></script>
<div class="logo">
	<div class="float">
		<span class="logo_pic"><a href="__MODULE__" class="a" title="{:config("web_name")}">
			<img src="__IMG__/logo/logo.jpg"/>
		</a></span>
		<span class="tel"><a href="__MODULE__" style="color: #999;">返回首页</a></span>
	</div>
</div>
<div class="shop_payment">
	<ul class="payment">
		<li class="first_step">第一步：提交订单</li>
		<li class="arrow_1"></li>
		<li class="secend_step orange_Tech">第二步：网银支付</li>
		<li class="arrow_3"></li>
		<li class="third_step">第三步：支付成功 等待揭晓</li>
		<li class="arrow_2"></li>
		<li class="fourth_step">第四步：揭晓获得者</li>
		<!-- <li class="arrow_2"></li>
		<li class="fifth_step">第五步：晒单奖励</li> -->
	</ul>
	<div class="payment_Con">
		<ul class="order_list">
			<li class="top">
				<span class="name">商品名称</span>
				<if condition="$list[0]['type'] eq 3">	
					<span class="moneys"></span>
					<if condition="$list[0]['isbz'] eq 1">	
						<span class="money">保证金</span>
					<elseif condition="$list[0]['isbz'] eq -1"/>
						<span class="money">中标金额</span>
					<else/>
						<span class="money">立即揭标价</span>
					</if>
					<span class="num">数量</span>
				<else/>
					<span class="moneys">价值</span>
					<span class="money">购物价</span>
					<span class="num">购物人次</span>
				</if>
				<span class="all">小计</span>
			</li>               
			<foreach name="list" item="item">
			<li class="end">
				<if condition="$item.type eq 3">
					<span class="name">
	               		<a class="blue" href="{:U('Paimai/view', '', '')}/{$item.gid}">{$item.paimai.title}</a>
	                </span>
					<span class="moneys"></span>
	                <if condition="$item.isbz eq 1">
						<span class="money">¥{$item.paimai.baozhengjin}</span>
						<span class="num orange Fb">1</span>
						<span class="all">¥{$item.paimai.baozhengjin}</span>
	                <elseif condition="$item.isbz eq -1"/>
						<span class="money">¥{$item.paimai.zuigaojia}</span>
						<span class="num orange Fb">1</span>
						<span class="all">¥{$item.paimai.zuigaojia}</span>
					<else/>	
						<span class="money">¥{$item.paimai.lijijia}</span>
						<span class="num orange Fb">1</span>
						<span class="all">¥{$item.paimai.lijijia}</span>
					</if>
				<else/>	
					<span class="name">
	               		<a class="blue" href="{:U('Index/view', '', '')}/{$item.gid}">{$item.good.title}</a>
	                </span>
					<span class="moneys">￥{$item.good.money}</span>
					<span class="money"><span class="color">￥<b>{$item.good.danjia}</b></span></span>
					<span class="num orange Fb">{$item.count}</span>
					<span class="all">{$item['count'] * $item['good']['danjia']}</span>
				</if>
			</li>
			</foreach>         
			<li class="payment_Total">
				<if condition="$list[0]['isbz'] eq 0">
				<div class="payment_List_Lc">
					<a href="{:U('Cart/index', '', '')}" class="form_ReturnBut">返回购物车修改订单</a>
				</div>
				</if>
				<p class="payment_List_Rc">商品合计：<span class="orange F20">{$total}</span> 元</p>
			</li>
			<if condition="$list[0]['isbz'] eq 0">
			<!-- 福分 -->
            <if condition="$account.score gt 0">
			 <li id="liPayByPoints" class="point_out">
			 		<div class="payment_List_Lc">
						<input type="checkbox" class="input_choice" id="scoreCheckBox" name="shop_score" value="1"/>使用福分抵扣现金：您的福分({$account._score})本次消费最多可抵扣现金
	                    <span class="orange Fb">{:min($account['score'] / 100, $total)}</span>元)
                   	</div>
                    <p class="payment_List_Rc">福分支付：<span id="pay_score" class="orange F20">0</span> 元</p>
             </li>
             <else/>
              <li id="liPayByPoints" class="point_out point_gray">
					<div class="payment_List_Lc">
						<input type="checkbox" class="input_choice" disabled="disabled"/>使用福分抵扣现金：您的福分({$account._score})本次消费最多可抵扣现金
                   	</div>
                    <span class="orange Fb">{$account['score'] / 100}</span>元)
              </li>
             </if>
             <!-- 福分 -->
            </if>
            <!-- 余额支付 start-->
			<li class="point_in" id="liPayByBalance">
				<div class="payment_List_Lc">					
					<input type="checkbox" name="moneycheckbox" id="yueCheckBox" class="input_choice"/>使用账户余额支付，账户余额：
					<span class="green F18">{$account.money}</span>元
				</div>
				<p style="" class="pay_Value" id="pBalanceTip">
				<span>◆</span><em>◆</em>账户余额支付更快捷，
				<a class="blue" target="_blank" href="{:U('Home/userrecharge', '', '')}">立即充值</a></p>
				<p class="payment_List_Rc">余额支付：<span id="pay_money" class="orange F20">0</span> 元</p>
			</li>
            <!-- 余额支付 end--> 
		
			<li id="liPayByOther" class="point_in point_bank" style="display:list-item;">
				<div class="payment_List_Lc gary01 Fb">第三方支付</div>
				<p class="payment_List_Rc">需要支付：<span id="thirdMoney" class="orange F20">{$total}</span> 元</p>
			</li>
		</ul>
	</div>
    <div class="payment_but" style="margin:15px 0 0 0;">
			<input id="zhifuButton" class="shop_pay_but" type="button" value="">
	</div>
	<div class="answer">
		<h6><span></span>付款遇到问题</h6>
		<ul class="answer_list">
			<li>1、如果您有支付宝、手机支付账户，可将款项先充入相应账户内，然后使用账户余额进行一次性支付；</li>
			<li>2、如果第三方已经扣款，但您的账户中没有显示，有可能因为网络原因导致，将在第二个工作日恢复。</li>
			<li class="more"><a href="{:U('Help/nb', '', '')}">更多帮助</a>&nbsp;&nbsp;<a href="{:U('Home/index', '', '')}">进入我的购物中心&gt;&gt;</a></li>
		</ul>
	</div>
    
</div><!--payment_Con end-->
<!--描述：第三方支付-->
<div style="display: none;">
	<form method="post" action="{:U('Pay/jubaopay', '', '')}" id="payForm">
			<input type="hidden" id="amount" name="amount" value="">	
			<input type="hidden" id="accountmoney" name="accountmoney" value="">
			<input type="hidden" id="accountscore" name="accountscore" value="">
			<input type="hidden" id="accountbgid" name="accountbgid" value="0">
			<input type="hidden" id="payid" name="payid" value="{$payid}">
			
			<input type="hidden" id="goodsName" name="goodsName" value="一元商品">
			<input type="hidden" id="remark" name="remark" value=""/>
			<input type="hidden" id="paytype" name="paytype" value="pc"/>
	</form>
</div>
<script type="text/javascript">
$(function(){
	var money = {$account.money};
	var score = {$account.score};
	var total = {$total};
	var _money = 0;
	var _score = 0;
	var _total = total;
	var thirdMoney = $("#thirdMoney");
	var payScore = $("#pay_score");
	var payScore = $("#pay_score");
	var payMoney = $("#pay_money");
	var yueCheckBox = $("#yueCheckBox").click(function() {
		if(yueCheckBox.prop("checked")) {
			if(money > 0) {
				var needMoney = total - _score/100;
				if(needMoney > 0) {
					_money = Math.min(money, needMoney);
					_total -= _money;
					payMoney.text(_money);
					thirdMoney.text(_total);
				} else {
					yueCheckBox.prop("checked", false);
				}
			} else {
				yueCheckBox.prop("checked", false);
				alert("余额不足");
			}
		} else {
			_total += _money;
			_money = 0;
			payMoney.text(0);
			thirdMoney.text(_total);
		}
	});
	
	var scoreCheckBox = $("#scoreCheckBox").click(function() {
		if(scoreCheckBox.prop("checked")) {
			if(score > 0) {
				var needMoney = total - _money;
				if(needMoney > 0) {
					_score = Math.min(score/100, needMoney) * 100;
					_total -= _score/100;
					payScore.text(_score/100);
					thirdMoney.text(_total);
				} else {
					scoreCheckBox.prop("checked", false);
				}
			} else {
				scoreCheckBox.prop("checked", false);
				alert("积分不足");
			}
		} else {
			_total += _score/100;
			_score = 0;
			payScore.text(0);
			thirdMoney.text(_total);
		}
	});
	
	var zhifuButton = $("#zhifuButton").click(function(){
		// 无需第三方付款
		//alert(_total);
		if(_total==0)
		{
			zhifuButton.attr("disabled", true);
			$.post("{:U('Pay/topay','','')}/{$payid}", {
				score: _score, // 福分支付金额
				money: _money,  // 余额支付金额
				third: _total // 第三方支付金额
			}
			, function(result) {
				zhifuButton.removeAttr("disabled");
				if(result.status == 0) {
					window.location.href ="{:U('success','','')}";
				} else {
					alert("支付失败,错误代码：" + result.status);
				}
			});
		}//第三方支付
		else
		{
			$("#amount").val(_total);
			$("accountmoney").val("0");
			$("accountscore").val("0");
			document.getElementById('payForm').submit();
		}
	});
});
</script>
<include file="Public:footer" />
