<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="__CSS__/kanjia.css?v1">
<script src="__JQ__"></script>
<script src="/Public/Home/layer/layer.js"></script>
<title> 【国庆活动】疯狂砍价0元拿豪礼</title>
</head>
<style type="text/css">
	canvas{
		margin-top: 0px;
		border-radius: 15px;
		width: 250px;
	}
</style>
<body>
<header>
	<div><img src="__IMG__/kanjia/header{$user_info.type}.png" width="100%"></div>	
	<div class="top"><img src="__IMG__/kanjia/active.png" width="100%"></div>
</header>
	<div class="small" style="text-align:center;width:100%;">
	<span>即日起—2016-10.15</span>
	</div>
	<div class="small" style="text-align:center;width:100%; font-size:16px;margin-top:8px;">
		数量有限,先到先得
	</div>
	<div class="shengyutaishu">	
		<span>剩余名额：{$shengyutaishu}名</span>	
	</div>
	<div class="who">
		<div class="who_img"><img src="{$user_info.headimgurl}"></div>
		<div class="notice"><img src="__IMG__/kanjia/notice.gif" width="100%"></div>
		<div class="who_name">
			<span class=""><b style="color:#47A1D5;">{$user_info.nickname}</b></span>
			<br>
			<span style="color:red;">请你砍ta一刀，往死里砍吧！</span>
		</div>
	</div>
	<div class="jindutiao">
		<div style="width:{$bl}%;background:#F92F19;height:100%;margin-left:-1px;"></div>
	</div>
	
	<div style="width:230px;margin-right:auto;margin-left:auto;margin-top:5px;">
		<div class="float_l big">已砍：<span class="red">{$yikan}元</span></div>
		<div class="float_r big">总金额：<span class="red">{$user_info.money}元</span></div>
	</div> 
	
	<div class="clear"></div>
	<div class="rule_div">
		<div><img src="__IMG__/kanjia/l_hand.png" width="80%"></div>
		<div id="rule"><img src="__IMG__/kanjia/rule.png" height="100%"></div>
		<div><img src="__IMG__/kanjia/r_hand.png" width="80%"></div>
	</div>
	<div class="btn">
		<div class="button kanjia" style="background:#DB3D3E;"><span>我要参与</span></div>
		<div class="button bangkan" style="margin-left:25px;background:#47A1D5;"><span>帮ta砍价</span></div>
	</div>
	<div class="clear"></div>
	<div class="hr"></div>
	<div style="width:100%;text-align:center;margin-top:10px;">
		<span>目前共有<span style="color:#f60;">&nbsp;{$bangkan_count}&nbsp;</span>位好友砍掉{$yikan}元</span>
	</div>
	<div class="tabs">
		<div class="tab1 active">谁砍过</div>
		<div class="tab2">英雄榜</div>
	</div>
	<div class="clear"></div>
	<div class="content">
		<div id="con1" class="con">
			<notempty name="bangkan_info">
				<volist name="bangkan_info" id="list">
					<div>
						<div class="head"><img src="{$list.headimgurl}" style="width:63px;height:63px;border-radius:63px;"></div>
						<div class="name">
							<div class="u_name">{$list.nickname}</div>
							<div class="time">{$list.bk_time|date="Y-m-d H:i",###}</div>
						</div>
						<div class="money">-{$list.bk_money}元</div>
						<div class="hr2"></div>
					</div>
				</volist>
			<else />
			<div style="text-align:center;font-size:16px;color:#999;font-family:'微软雅黑';margin-top:20px;">暂时无人帮砍哦~请继续加油吧</div>
			</notempty>
		</div>
		<div id="con2" class="con">
			<notempty name="zhongjiang">
				<volist name="zhongjiang" id="list" key="k">
					<div>
						<div class="head2"><img src="{$list.headimgurl}" style="width:43px;height:43px;border-radius:43px;"></div>
						<div class="name2">
							{$list.nickname}
						</div>
						<div class="time2">{$list.time|date="Y-m-d H:i",###}</div>
						<div class="hr2"></div>
					</div>
				</volist>
			<else/>
			<div style="text-align:center;font-size:16px;color:#999;font-family:'微软雅黑';margin-top:20px;">还没有人领奖呢！赶紧加把劲</div>
			</notempty>
		</div>
	</div>
	<div class="copyright">
		—本次活动解释权归“壹易购物”所有—
	</div>

	<div class="shade" style="position:fixed;width:100%;height:100%;top:0px;background:url('__IMG__/kanjia/shade.png');background-repeat:repeat;">
		<!-- 底部 微信二维码-->
		<div class="under under_kanjia" id="kanjia">
			<div id="kanjia_close" style="position:fixed;margin-top:-40px;width:40px;height:40px;"><img width="100%" src="__IMG__/kanjia/close.png"></div>
			<div class="" style="margin-top:10px;">长按图片，关注微信公众号进行砍价</div>
					<div style="width:200px;margin:10px auto 0px auto;"><img src="__IMG__/kanjia/kj{$user_info.type}.jpg" width="100%"></div>			 
		</div>
		<!-- 底部 二维码-->
		<div class="under under_bangkan" id="bangkan">
			<div id="bangkan_close" style="position:fixed;margin-top:-40px;width:100%;text-align:right;height:40px;"><img width="40px" src="__IMG__/kanjia/close_r.png"></div>
			<div style="clear:both;"></div>
			<div class="" style="margin-top:10px;">长按识别二维码砍ta吧！</div>
			<div style="width:200px;margin:10px auto 0px auto;"><img src="{$user_info.qr_url}" width="100%"></div>
		</div>
		<!-- 底部 二维码-->
		<div class="under_rule">
			<div id="rule_close" style="float:right;width:30px;height:30px;margin-right:20px;margin-top:5px;"></div>
			<div style="clear:both;"></div>
			<div style="padding:10px;width:100%;height:100%;">
				<p style="width:95%; font-size:15px;"><b style="font-size:16px;">活动细则</b><br>
			 &nbsp;&nbsp;1.关注公众号“壹易购物”,在菜单栏点击“免费话费”即可开启砍价之路。<br>
	         &nbsp;&nbsp;2.分享让朋友帮砍，已砍金额至“10”元即可把奖品带回家，奖品有限，先到先得。<br>
	         &nbsp;&nbsp;3.点击“帮ta砍价”长按二维码点击关注，即可帮砍成功，帮砍者也会获得100积分的奖励，可直接购买商品。<br>
	         &nbsp;&nbsp;4.奖品有限，先到先得，送完即止。<br>
				</p>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	$('.shade').hide();
	$('#con2').hide();
	$('.tab1').click(function(){
		$('#con1').show();
		$('#con2').hide();
		$(this).addClass('active');
		$('.tab2').removeClass('active');
	});
	$('.tab2').click(function(){
		$('#con2').show();
		$('#con1').hide();
		$(this).addClass('active');
		$('.tab1').removeClass('active');
	});
	$('.kanjia').click(function(){
		$('#bangkan').hide();
		$('.shade').show();
		// $('#kanjia').slideDown();
		$('#kanjia').show();
	});
	$('#kanjia_close').click(function(){
		$('.shade').hide();
		// $('#kanjia').slideUp();
		$('#kanjia').hide();
	});
	$('.bangkan').click(function(){
		$('#kanjia').hide();
		$('.shade').show();
		$('#bangkan').show();
	});
	$('#bangkan_close').click(function(){
		$('.shade').hide();
		$('#bangkan').hide();
	});
	$('.under_rule').hide();
	$('#rule').click(function(){
		$('.shade').show();
		$('.under_rule').show();
	});
	$('#rule_close').click(function(){
		$('.shade').hide();
		$('.under_rule').hide();
	});
</script>

<script>
 
	var shareData = {
	    title: '{$user_info.share_title}',//'都来帮我砍价吧，苹果6S就快到手了',
        desc: '{$user_info.share_description}',//'0元抢购苹果6S   128GB 只要砍价的人多,手机免费送,送完即止--壹易购物',
        link: '{$signPackage.url}',
        imgUrl: '{$user_info.share_imgurl}' //'http://{$domainurl}/Public/images/kj.png'
	};
 
	var signPackage=new Object(); 
	signPackage.appId='{$signPackage.appId}';
	signPackage.timestamp={$signPackage.timestamp};
	signPackage.nonceStr='{$signPackage.nonceStr}';
	signPackage.signature='{$signPackage.signature}';
	
	
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="__JS__/wxjsapi.js"></script>
</html>

