<div class="main-content clearfix">
<include file="left" />
<link rel="stylesheet" type="text/css" href="__CSS__/layout-setUp.css"/>
<script type="text/javascript" src="__JS__/area.js"></script>


	<div class="R-content">
		<div  class="addAddress">
			<dl>收货地址</dl>
			<form class="registerform" method="post" action="">
			<table border="0" cellpadding="0" cellspacing="0">
			<tbody>
			<tr>
				
				<td><label>所在地区：</label></td>
				<td>
					<select datatype="*" nullmsg="请选择有效的省市区" class="select" id="province" runat="server" name="sheng"></select>
					<select datatype="*" nullmsg="请选择有效的省市区" id="city" runat="server" name="shi"></select>
					<select datatype="*" nullmsg="请选择有效的省市区" id="county" runat="server" name="xian"></select>
					<em id="ship_address_valid_msg" class="red">*</em> 	
				<script>var s=["province","city","county"];</script>
				<script type="text/javascript">
						setup();
						//change();
						$("#province").val('{$data.sheng}');
						$("#province").change();
						$("#city").val('{$data.shi}');
						$("#city").change();
						$("#county").val('{$data.xian}');
					</script>
				</td>
				<td><div class="Validform_checktip"></div></td>
			</tr>
			<tr>
				<td><label>街道地址：</label></td>
				<td>
					<input datatype="*1-100" nullmsg="请填街道地址！" errormsg="范围在100之间！" name="jiedao" type="text" class="street" maxlength="100"
						value="{$data.jiedao}" />
					<em id="ship_address_valid_msg" class="red">*</em> 			
				</td>
				<td><div class="Validform_checktip">(不需要重复填写省/市/区)</div></td>
			</tr>
			<!--<tr>
				<td><label>收货QQ：</label></td>
				<td>
					<input errormsg="QQ号不符合常理" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" name="qqnumber" type="text" id="txt_ship_qq" value="" class="inputTxt" maxlength="13">
	                                <em class="red">该处填写的QQ地址将是虚拟商品发货的QQ，如果想暂时不收货，可暂时留空</em> 
				</td>
				<td><div class="Validform_checktip"></div></td>
			</tr>-->
			<tr>
				<td><label>邮政编码：</label></td>
				<td>
					<input datatype="p" ignore="ignore" errormsg="邮政编码错误！" name="youbian" type="text" maxlength="6" id="txt_ship_zip" class="inputTxt" 
						value="{$data.youbian}" > 
					<font><a href="http://alexa.ip138.com/post/Search.aspx" class="blue" target="_blank">邮编查询</a></font>
				</td>
				<td><div class="Validform_checktip"></div></td>
			</tr>
			<tr>
				<td><label>收货人：</label></td>
				<td>
					<input datatype="*" nullmsg="收货人不能为空" name="shouhuoren" type="text" maxlength="20" id="txt_ship_name" class="inputTxt" 
						value="{$data.shouhuoren}" >
					<em class="red" id="ship_name_valid_msg">*</em>
				</td>
				<td><div class="Validform_checktip"></div></td>
			</tr>
			<tr>
				<td><label>手机号码：</label></td>
				<td>
					<input datatype="m" nullmsg="手机号不能为空" errormsg="手机号不对" name="mobile" type="text" id="txt_ship_mb" 
						value="{$data.mobile}"  class="inputTxt" maxlength="11">
					<em id="ship_mb_valid_msg" class="red">*</em>
					<td><div class="Validform_checktip"></div></td>
				</td>
			</tr>
			<!--<tr>
				<td><label>是否发货：</label></td>
				<td colspan="2">
					<input type="radio" name="shifoufahuo" value="1" />是，获得话费充值卡后马上收货&nbsp;&nbsp;&nbsp;
					<input type="radio" name="shifoufahuo" value="0" checked="checked" />否，获得话费充值卡后先暂时别发货
				</td>
			</tr>-->
			<tr>
				<td><label>&nbsp;</label></td>
				<td>
					<input style="margin-right:20px;" name="submit" type="button" class="orangebut" id="btnsave" value="保存" title="保存"> 
				</td>
			</tr>
			</tbody>
			</table>
			</form>
		</div>
	</div>

</div>
<script type="text/javascript">
$(function(){		
//	var demo=$(".registerform").Validform({
//		tiptype:2,
//		datatype:{
//			"tel":/^(([0\+]\d{2,3}-)?(0\d{2,3})-)(\d{7,8})(-(\d{3,}))?$/,
//		},
//	});	
//	demo.tipmsg.w["tel"]="请正确输入电话号码(区号、号码必填，用“-”隔开)";
//	demo.addRule([
//	{
//		ele:"#txt_ship_tel",
//		datatype:"tel",
//	}]);
// 
//	$(".xiugai").click(function(){
//		$("#btnAddnewAddr").hide();
//		$("#div_consignee").hide();
//	});
//	$("#btn_consignee_cancle2").click(function(){
//		$("#div_consignee2").hide();
//		$("#btnAddnewAddr").show();
//	});
	
	$("#btnsave").click(function(){
		var p=$("#provinces").find("option:selected").text();
		var c=$("#city").find("option:selected").text();
		var x=$("#County").find("option:selected").text();
//		$("#sheng").val(p);
//		$("#shi").val(c);
//		$("#xian").val(x);
		var self = $("form");
		$.post("{:U('Home/address','','')}", self.serialize(), savesuccess, "json");
		return;
		function savesuccess(data) {
			if (data.status) {
				 window.location.href="{:U('Home/index', '', '')}";
			} else {
				alert(data.msg);
			}
		}					
	});
	
});
</script>