<div class="main-content clearfix">
<include file="left" />
<link rel="stylesheet" type="text/css" href="__CSS__/layout-records.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/layout-invitation.css"/>

        <div class="R-content">
            <div class="member-t"><h2>提现记录</h2></div>

            <div id="divMentionList" class="list-tab cash gray02">
			  <ul class="listTitle">
			  		<li class="w150">申请时间</li>
			  		<li class="w300">银行账户信息</li>
			  		<li class="w120">提现金额(元)</li>
			  		<li class="w120">手续费(元)</li>
			  		<li class="w120">审核状态</li>
			  </ul>			   
		   </div>
            <div id="divPageNav" class="page_nav"></div>
        </div>
	</div>
 	<ul id="divList0" class="mui-hidden">
 		<li class="w150 ztime"></li>
 		<li class="w300 bankname">{wc:$val['bankname']}&nbsp;&nbsp;{wc:$val['banknumber']}</li>
 		<li class="w120 money">{wc:$val['money']}</li>
 		<li class="w120 procefees">{wc:$fufen['fufen_yongjintx']}</li>
 		<li class="w120 auditstatus">{wc:if $val['auditstatus']==1}审核通过{wc:else}审核未通过{wc:if:end}</li><ul>
<script>
	$(function(){ 
		// 全部商品翻页
		var pageNumfinish = 0;
		var goodListfinish = $("#divMentionList");
		var goodTemplatefinish = $("#divList0");
		 
		var useTemplatefinish;
		var orderTypefinish = 1;
		function pageAll(clear) {
			if(clear) {
				pageNumfinish = 0;
			}
			$.get("{:U('pagecashoutlist', '', '')}/20/" + (++pageNumfinish), {
				type: orderTypefinish
				 
			}, function(list) {
				if(clear) {goodListfinish.html("");}
				if(pageNumfinish ==1 && list && list.length==0){
					goodListfinish.append('<div class="tips-con"><i></i>暂无记录</div>');
					return;
				}
				
	       		$.each(list, function() {
	       			useTemplatefinish=goodTemplatefinish;
	       			var item = useTemplatefinish.clone().removeClass("mui-hidden").removeAttr("id");
					$(".ztime", item).text(this.time);
					$(".money", item).text(this.money);
					$(".procefees", item).text(this.procefees);
					$(".bankname", item).text(this.bankname +' '+ this.banknumber);
					var status="";
					if(this.auditstatus==0){regard="申请"}
					else if(this.auditstatus==1){regard="审核通过"}
					else {regard="审核未通过"}
					$(".auditstatus", item).text(regard);  
	       			goodListfinish.append(item);
	       		});
	       });
		}
		pageAll(); 
		
	});
</script>
 
<script>
$("#txjl").attr('class','sid-cur');
$(function(){
	$(".subMenu a").click(function(){
		var id=$(".subMenu a").index(this);
		$(".subMenu a").removeClass().eq(id).addClass("current");
		$(".R-content .topic").hide().eq(id).show();
	});
}) 
</script>
</div>