<div class="main-content clearfix">
<include file="left" />
<link rel="stylesheet" type="text/css" href="__CSS__/layout-topic.css"/>
<div class="R-content">
	<div class="subMenu">
		<a class="current">已晒单</a>
		<a >未晒单</a>
	</div>
	
	<div class="list-tab topic" style="display: block;" id="listsdfinish">
		<ul class="listTitle">
			<li style="text-align:center;" class="w100">晒单图片</li>
			<li class="w400">晒单信息</li>
			<li class="w130">晒单状态</li>
			<li class="w85 fr">操作</li>
		</ul> 
	</div>
	<div class="list-tab topic" style="display: none;" id="listsdno">
		<ul class="listTitle">
			<li style="text-align:center;" class="w100">商品图片</li>
			<li class="w630">商品信息</li>
			<li class="w85 fr">操作</li>
		</ul> 
		 
	</div>
</div>
<ul class="listCon mui-hidden" id="sdfinish">
	<li class="w100" style="text-align:center;">
		<a href="#" target="_blank" class="blue gray01 goodurl">
		<img width="50" class="iteminfo" src="#"/>
		</a>
	</li>
	<li class="w400"><a href="#" target="_blank" class="gray01 goodurl"><span class="zcontent">(第一期)</span></a></li>
	<li class="w100" style="text-align:right;"><font color="#666"><a href="#" class="sdview"><span>查看晒单</span></a></font></li>
	<li class="w85 fr"><font color="#666">不可修改</font></li>
</ul>

<ul class="listCon mui-hidden" id="sdno">
	<li style="text-align:center;" class="w100"><div class="listConT"><img width="50" src="#"/></div></li>
	<li style="text-indent:1em;" class="w400"><a class="iteminfo goodurl" href="#" target="_blank"><span class="zcontent"></span></a></li>
	<li class="w50 fr"><a name="delete" class="iteminfosd" href="{:U('pageAllsdfinish', '', '')}/singleinsert/{wc:$sd['id']}" class="blue">添加晒单</a></li>
</ul>
<script type="text/javascript">
	$(function(){ 
		// 全部商品翻页
		var pageNumfinish = 0;
		var goodListfinish = $("#listsdfinish");
		var goodTemplatefinish = $("#sdfinish");
		 
		var useTemplatefinish;
		var orderTypefinish = 1;
		function pageAll(clear) {
			if(clear) {
				pageNumfinish = 0;
			}
			$.get("{:U('pageAllsdfinish', '', '')}/8/" + (++pageNumfinish), {
				type: orderTypefinish
				 
			}, function(list) {
				if(clear) {
					goodListfinish.html("");
				}
				if(pageNumfinish ==1 && list && list.length==0)
				{
					goodListfinish.append('<div class="tips-con"><i></i>暂无记录</div>');
					return;
				}
				
	       		$.each(list, function() {
	       			useTemplatefinish=goodTemplatefinish;
	       			
	       			//{WEB_PATH}/go/shaidan/detail/{wc:$sd['sd_id']}
	       			
	       			var item = useTemplatefinish.clone().removeClass("mui-hidden").removeAttr("id");
	       			$(".goodurl", item).attr("href", "{:U('/Home/Index', '', '')}/" + this.gid);
					$(".sdview", item).attr("href", "{:U('Saidan/detail', '', '')}/" + this.gid +"/"+this.qishu);
					
					$("img", item).attr("src", this.thumb);
					$(".zcontent", item).text("(第" + this.qishu + "期) " + this.title);
	       			$(".iteminfo", item).attr("href", "{:U('/Home/Index', '', '')}/" + this.gid); 
	       			goodListfinish.append(item);
	       		});
	       });
		}
		pageAll(); 
		
	});
</script>
<script type="text/javascript">
	$(function(){ 
		// 全部商品翻页
		var pageNumNo = 0;
		var goodListNo = $("#listsdno");
		var goodTemplateNo = $("#sdno");
		 
		var useTemplateNo;
		var orderTypeNo = 1;
		function pageAll(clear) {
			if(clear) {
				pageNumNo = 0;
			}
			$.get("{:U('pageAllsdno', '', '')}/8/" + (++pageNumNo), {
				type: orderTypeNo
				 
			}, function(list) {
				if(clear) {goodListNo.html("");}
				if(pageNumNo ==1 && list && list.length==0){
					goodListNo.append('<div class="tips-con"><i></i>暂无记录</div>');
					return;
				}
	       		$.each(list, function() {
	       			useTemplateNo=goodTemplateNo;
	       			var item = useTemplateNo.clone().removeClass("mui-hidden").removeAttr("id");
	       			$(".goodurl", item).attr("href", "{:U('/Home/Index', '', '')}/" + this.gid);
					
					$("img", item).attr("src", this.thumb);
	       			$(".zcontent", item).text("(第" + this.qishu + "期) " + this.title);	       			
	       			$(".iteminfo", item).attr("href", "{:U('/Home/Index', '', '')}/" + this.gid);
	       			$(".iteminfosd", item).attr("href", "{:U('Home/singleinsert', '', '')}/" + this.gid +"/"+this.qishu);
	       			goodListNo.append(item);
	       		});
	       });
		}
		pageAll(); 		
	});
</script>
<style>
#foucs_big{background:#999; filter:alpha(opacity=30); position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:100; display:none;}
#foucs_min{background:#999; filter:alpha(opacity=50); position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:100; display:none;} 
.PopMsgbtn {
    height: 30px;
    text-align: center;
}
.orangebut {
    background: none repeat scroll 0 0 #FF6600;
    border: 1px solid #F65802;
    color: #FFFFFF;
	height: 23px;
    line-height: 23px;
}
.cancelBtn {
    background: none repeat scroll 0 0 #F4F4F4;
    border: 1px solid #DDDDDD;
    color: #747474;
	height: 23px;
    line-height: 23px;
}
.orangebut, .bluebut, .graybut, .cancelBtn, .greenbut {
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    padding: 0 19px;
    text-align: center;
}
#foucs_big,#foucs_min,#w3foucs,#foucs_close,#page_close,#foucs_main{display:block;}
.mui-hidden{display: none;}
</style>
<script>
$(function(){
	$(".subMenu a").click(function(){
		var id=$(".subMenu a").index(this);
		$(".subMenu a").removeClass().eq(id).addClass("current");
		$(".R-content .topic").hide().eq(id).show();
	});
})
function shaidan(id){
	if(confirm("您确认要删除该条信息吗？")){
		window.location.href="{WEB_PATH}/member/home/shaidandel/"+id;
	}
}
 
 


</script>
</div>