<div class="main-content clearfix">
<include file="left" />
<link rel="stylesheet" type="text/css" href="__CSS__/layout-recharge.css"/>
<div class="R-content">
	<div class="member-t"><h2>账户明细</h2></div>
	<div class="last">
		<ul>
			<li><h3>您的账户可用余额为：</h3><b class="orange">{$data.money}</b>元 <a href="{:U('Home/userrecharge', '', '')}" class="bluebut" title="充值">充值</a></li>
		</ul>
	</div>
	<div id="listitems" class="list-tab recordList">
		<ul class="listTitle">
			<li class="leftTitle">充值时间</li>
			<li class="regard">资金渠道</li>
			<li class="price">收入/支出</li>
		</ul>
	 
	</div>
    
        <style>
			#divPageNav{ padding-top:10px;text-align:right}
			#divPageNav li a{ padding:5px;}
		</style>
		<div id="divPageNav" class="page_nav">
        	 
        </div>
        
	 
</div>
	<ul id="divList0" class="mui-hidden">
		<li class="leftTitle fontAri ztime"></li>
		<li class="regard"></li>
		<li class="price"></li>
	</ul>
</div>
<script>
	$(function(){ 
		// 全部商品翻页
		var pageNumfinish = 0;
		var goodListfinish = $("#listitems");
		var goodTemplatefinish = $("#divList0");
		 
		var useTemplatefinish;
		var orderTypefinish = 1;
		function pageAll(clear) {
			if(clear) {
				pageNumfinish = 0;
			}
			$.get("{:U('pageAllRechargerecord', '', '')}/20/" + (++pageNumfinish), {
				type: orderTypefinish
				 
			}, function(list) {
				if(clear) {goodListfinish.html("");}
				if(pageNumfinish ==1 && list && list.length==0){
					goodListfinish.append('<div class="tips-con"><i></i>暂无记录</div>');
					return;
				}
				
	       		$.each(list, function() {
	       			useTemplatefinish=goodTemplatefinish;
	       			var item = useTemplatefinish.clone().removeClass("mui-hidden").removeAttr("id");
					$(".ztime", item).text(this.time);
					$(".price", item).text(this.money);
					var regard="";
					if(this.pay_type=='alipay_wap'){regard="支付宝"}
					else if(this.pay_type=='wx_pub'){regard="微信"}
					$(".regard", item).text(regard);  
	       			goodListfinish.append(item);
	       		});
	       });
		}
		pageAll(); 
		
	});
</script>