body {
	font-family: "微软雅黑";
}
a, a:link, a:focus{
	text-decoration: none;
}
.mui-bar {
	background-color:#000000;
}

.mui-bar .mui-title {
	color: #fff;
}

@font-face {
	font-family: "digitalfont";
	src:url('../fonts/digifaw.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.yyg-content {
	background: #fff;
}

/** 推荐样式开始 */
.tuijian {
	display: flex;
	line-height: 1;
}

.tuijian-img-container {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: center;
	-moz-box-align: center;
	display: -o-box;
	-o-box-orient: horizontal;
	-o-box-pack: center;
	-o-box-align: center;
	display: -ms-box;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-ms-box-align: center;
	display: box;
	box-orient: horizontal;
	box-pack: center;
	box-align: center;
}

.tuijian-img {
	width: 30vw;
	margin-left:3vw;
	max-width: 140px;
}

.tuijian-content {
	flex: 1;
	margin: 3vw;
}

.tuijian-content-title {
	color: #333;
	line-height: 1;
	margin-bottom: 5px;
}

.tuijian-content h5,
.tuijian-content .iconfont {
	line-height: 25px;
	font-size: 12px;
}

r {
	color: #FF002B;
}

.tuijian-content .larger {
	font-size: 24px
}

.tuijian-content .small {
	font-size: 8px
}

.tuijian-content label {
	margin-right: 1vw;
}

.mui-btn,
button {
	border-radius: 0;
	padding-left: 30px;
	padding-right: 30px;
}

.mui-btn-red {
	color: #fff;
	border: 1px solid #FF002B;
	background-color: #FF002B;
}

d {
	font-family: "digitalfont"!important;
  	-webkit-font-smoothing: antialiased;
  	-webkit-text-stroke-width: 0.2px;
  	-moz-osx-font-smoothing: grayscale;
  	font-size:14px;
  	display:inline-block;
  	background-color: #333;
	color:#fff;
	padding: 2px 3px;
		margin: 0px 2px;
		line-height: 1;
}

@media only screen and (max-width: 330px) {
	d {
		font-size:13px;
		padding: 1px 1px;
    		margin: 0px 1px;
		}
}
/** 推荐样式结束 **/

/** 主菜Tab页开始 **/
.mui-icon.iconfont {
	font-size:20px;
}
/** 主菜Tab页结束 **/

/** 商品列表 **/
.yyg-min-nav-bar {
	padding: 0 5px;
	font-size:12px;
	line-height: 22px;
}

.yyg-min-nav-bar::before {
	content:"0";
	background-color: #FF002B;
	color: #FF002B;
	
}

.yyg-goods-list {
	list-style: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

.yyg-goods-list:after {
	content:" ";
	display: block;
	visibility: hidden;
	height:1px;
	clear: both;
}

.yyg-goods-list-item {
	float:left;
	padding: 10px;
	margin: 0;
	width:50%;
	border-bottom:solid 1px #efeff4;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	overflow: hidden;
	
}

.yyg-goods-list-item:nth-child(odd) {
	border-right:solid 1px #efeff4;
}

.yyg-goods-img-container {
	margin: 10px auto;
	width:30vw;
	height:30vw;
}

.yyg-goods-img {
	height: 30vw;
	vertical-align: middle;
}

.yyg-goods-list-item button{
	width: 100%;
	padding: 3px;
	margin-top:5px;
}
.yyg-goods-media {
	background-color: #FBFBFB;
}

.yyg-goods-media p{
	font-size: 10px;
	color:#A9A9A9;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}

.yyg-goods-media h5 {
	font-size: 10px;
}

.yyg-goods-media .larger {
	font-size: 16px
}

.yyg-goods-media .small {
	font-size: 8px
}

.yyg-goods-media label {
	margin-right: 1vw;
}

.yyg-goods-media time{
	font-size: 4vw;
	display:block;
	width: 100%;
	text-align: center;
}

.yyg-goods-media time d{
	font-size: 4vw;
}
