<taglib name="html" />
<form class="form-horizontal" action="{$action}" role="form" method="post"  data-toggle="validator">
	<present name="data.uid">
		<input type="hidden" name="uid" value="{$data.uid}" />
	</present>

	<table class="table">
		<tr>
			<td class="form-inline col-sm-2 control-label">
				<label for="inputUsername" class="control-label"><r>*</r>用户名</label>
			</td>
			<td>
				<input class="form-control" id="inputUsername" name="username" value="{$data.username}"  required/>
			</td>
		</tr>
		<tr>
			<td class="form-inline col-sm-2 control-label">
				<label for="inputEmail" class="control-label"><r>*</r>邮箱</label>
			</td>
			<td>
				<input type="email" class="form-control" id="inputEmail" name="email" value="{$data.email}"  required/>
			</td>
		</tr>
		<tr>
			<td class="form-inline col-sm-2 control-label">
				<label for="inputMobile" class="control-label"><r>*</r>手机</label>
			</td>
			<td>
				<input type="number" class="form-control" id="inputMobile" name="mobile" value="{$data.mobile}"  required/>
			</td>
		</tr>
		<tr>
			<td class="form-inline col-sm-2 control-label">
				<label for="inputPassword" class="control-label">密码</label>
			</td>
			<td>
				<input type="password" class="form-control" id="inputPassword" name="password"/>
			</td>
		</tr>
		<tr>
			<td class="form-inline col-sm-2 control-label">
				<label for="inputMoney" class="control-label">账户金额</label>
			</td>
			<td>
				<input type="number" class="form-control" id="inputMoney" name="money" value="{$data.money}"/>
			</td>
		</tr>
		<tr>
			<td class="form-inline col-sm-2 control-label">
				<label for="inputJingyan" class="control-label">经验值</label>
			</td>
			<td>
				<input type="number" class="form-control" id="inputJingyan" name="jingyan" value="{$data.jingyan}"/>
			</td>
		</tr>
		<tr>
			<td class="form-inline col-sm-2 control-label">
				<label for="inputScrore" class="control-label">积分</label>
			</td>
			<td>
				<input type="number" class="form-control" id="inputScrore" name="score" value="{$data.score}" />
			</td>
		</tr>
		<tr>
			<td class="form-inline col-sm-2 control-label">
				<label class="control-label">邮箱认证</label>
			</td>
			<td>
				<label class="radio-inline">
					<input type="radio" name="emailRatio" id="emailRatio1" value="1" <if condition="$data.emailcode AND $data.emailcode neq '-1'">checked="checked"</if>>已验证
				</label>
				<label class="radio-inline">
					<input type="radio" name="emailRatio" id="emailRatio2" value="0" <if condition="$data.emailcode eq '-1'">checked="checked"</if>>未验证
				</label>
				<input type="hidden" name="emailcode" value="{$data.emailcode}" />
			</td>
		</tr>
		<tr>
			<td class="form-inline col-sm-2 control-label">
				<label class="control-label">手机认证</label>
			</td>
			<td>
				<label class="radio-inline">
					<input type="radio" name="mobileRatio" id="emailRatio1" value="1" <if condition="$data.emailcode AND $data.mobilecode neq '-1'">checked="checked"</if>>已验证
				</label>
				<label class="radio-inline">
					<input type="radio" name="mobileRatio" id="emailRatio2" value="0" <if condition="$data.mobilecode eq '-1'">checked="checked"</if>>未验证
				</label>
				<input type="hidden" name="mobilecode" value="{$data.mobilecode}" />
			</td>
		</tr>
		<tr class="form-inline">
			<td class="col-sm-2 control-label">
				<label for="inputThumb" class="control-label">缩略图</label>
			</td>
			<td>
				<img src="{$data.img|default='__IMG__/goods.jpg'}" class="img-thumbnail thumb" alt="缩略图" />
				<input class="form-control" style="width:400px" id="inputThumb" name="img" readonly value="{$data.img|default='__IMG__/goods.jpg'}" />
				<button id="thumbButton" type="button" class="btn btn-default">上传图片</button>
			</td>
		</tr>
		<tr>
			<td class="form-inline col-sm-2 control-label">
				<label for="inputQianming" class="control-label">签名</label>
			</td>
			<td>
				<textarea name="qianming" maxlength="255" class="form-control automaxlength">{$data.qianming}</textarea>
			</td>
		</tr>
		<tr>
			<td class="col-sm-2">
			</td>
			<td>
				<button type="submit" class="btn btn-primary"> 提交 </button>
				<a class="btn btn-default" href="{:U('index','','')}"> 取消 </a>
			</td>
		</tr>
	</table>
	<div class="form-group">
		<p id="checkTips" class="check-tips text-danger"></p>
	</div>
</form>
<include file="Public:upload" />
<script type="text/javascript">
	//表单提交
	$(document).ajaxStart(function() {
		$("button:submit").attr("disabled", true);
	}).ajaxStop(function() {
		$("button:submit").attr("disabled", false);
	});
	//刷新验证码
	$(function() {
		var thumbButton = $("#thumbButton").click(function() {
			UI.upload("上传缩略图", {
				ok: function(files) {
					if (files.length > 0) {
						var url = files[0].url;
						$("img", thumbButton.parent()).attr("src", url);
						$("#inputThumb").val(url);
					}
				}
			});
		});
		$("form").submit(function() {
			var self = $(this);
			$.post(self.attr("action"), self.serialize(), success, "json");
			return false;

			function success(data) {
				if (data.status) {
					window.location.href = data.url;
				} else {
					$("#checkTips").text(data.info);
				}
			}
		});
		
		// 设置认证
		$("input[type='radio']").change(function() {
			var $this = $(this);
			var value = $this.val();
			var input = $("input[type='hidden']", $this.closest("td"));
			input.val(value == 0 ?  "-1" : "verifycode");
		});
	});
</script>