<div class="nav">
	<a type="button" href="{:U('index','','')}" class="btn btn-default navbar-btn">全部会员</a>
	<a type="button" href="{:U('today','','')}" class="btn btn-default navbar-btn">今日新增</a>
	<a type="button" href="{:U('add','','')}" class="btn btn-primary navbar-btn">添加会员</a>
</div>
<table id="listTable" class="table table-bordered">
	<thead>
		<tr>
			<th>UID</th>
			<th>用户名</th>
			<th>邮箱</th>
			<th>手机</th>
			<th>金额</th>
			<th>积分</th>
			<th>经验值</th>
			<th>登陆时间</th>
			<th>注册时间</th>
			<th style="width:150px">管理</th>
		</tr>
	</thead>
	<tbody>
		<foreach name="list" item="item">
			<tr>
				<td>{$item.uid}</td>
				<td>{$item.username}</td>
				<td>{$item.email}</td>
				<td>{$item.mobile}</td>
				<td>{$item.money}</td>
				<td>{$item.score}</td>
				<td>{$item.jingyan}</td>
				<td>{$item.time}</td>
				<td>{$item.login_time}</td>
				<td uid="{$item.uid}">
					<a type="button" class="edit btn btn-warning btn-sm" href='{:U('edit','','')}/{$item.uid}'>编辑</a>
					<button type="button" class="delete btn btn-danger btn-sm">删除</button>
				</td>
			</tr>
		</foreach>
	</tbody>
</table>
<include file="Public:pager"/>
<script type="text/javascript">
	$(function(){
		$("#listTable").on("click",".delete", function(evt) {
			var ths = $(this);
			var uid = ths.parent().attr("uid");
			var tr = ths.closest("tr");
			UI.confirm("是否删除", {
				ok: function() {
					remove(tr, uid);
				}
			});
		});
		
		function remove(tr, uid) {
			$.post("{:U('remove','','')}/" + uid, null, function(data) {
				if(data.status) {
					tr.remove();
				} else {
					$("#tips").text(data.info);
				}
			}, "json");
		}
	});
</script>