<div class="nav">
	<a type="button" href="{:U('add','','')}" class="btn btn-primary navbar-btn">添加拍卖商品</a>
</div>
<table id="listTable" class="table table-bordered">
	<thead>
		<tr>
			<th>商品标题</th>
			<th>所属栏目</th>
			<th>起拍价(元)</th>
			<th>保留价(元)</th>
			<th>加价幅度(元)</th>
			<th>保证金(元)</th>
			<th>出价次数(次)</th>
			<th>最高价(元)</th>
			<th>结束时间</th>
			<th style="width:150px">操作</th>
		</tr>
	</thead>
	<tbody>
		<foreach name="list" item="item">
		<tr>
			<td>{$item.title}</td>
			<td>{$item.category.name}</td>
			<td>{$item.qipaijia}</td>
			<td>{$item.baoliujia}</td>
			<td>{$item.jiafujia}</td>
			<td>{$item.baozhengjin}</td>
			<td>{$item.canyurenshu}</td>
			<td>{$item.zuigaojia}</td>
			<td>{$item.end_time}</td>
			<td gid="{$item.gid}">
				<a type="button" class="edit btn btn-warning btn-sm" href='{:U('edit','','')}/{$item.gid}'>编辑</a>
			</td>
		</tr>
		</foreach>
	</tbody>
</table>
<script type="text/javascript">
	$(function(){
	});
</script>