<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="一元云购" />
    <meta name="description" content=""/>
    <title>{$title}</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/header222.css?date=20140731">
	<link href="__CSS__/register.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="__CSS__/comm.css?date=20140731">	
	 <link rel="stylesheet" type="text/css" href="__CSS__/comm1.css?date=20140731">
	 <link rel="stylesheet" type="text/css" href="__CSS__/CartList.css?date=20140731">
	 	
	<script src="__JQ__"></script>	
	<script type="text/javascript" src="__JS__/jquery.cookie.js"></script>
    <script type="text/javascript" id="pageJS" data="__JS__/Index.js"></script>
</head>
	<body>
		<div class="logo">
			<div class="float">
				<span class="logo_pic"><a href="__MODULE__" class="a" title="{$sitename}">
			<img src="__IMG__/logo/logo.jpg"/>
		</a></span>
				<span class="tel"><a href="__MODULE__" style="color:#999;">返回首页</a></span>
			</div>
		</div>
		<div class="shop_process">
			<ul class="process">
				<li class="first_step">第一步：提交订单</li>
				<li class="arrow_1"></li>
				<li class="secend_step">第二步：网银支付</li>
				<li class="arrow_2"></li>
				<li class="third_step">第三步：支付成功 等待揭晓</li>
				<li class="arrow_2"></li>
				<li class="fourth_step">第四步：揭晓获得者</li>
			</ul>
			<div class="i_tips"></div>
			<div class="submitted">
				<ul class="order">
					<li class="top">
						<span class="goods">商品</span>
						<span class="name">名称</span>
						<span class="moneys">价值</span>
						<span class="money">云购价</span>
						<span class="num">云购人次</span>
						<span class="xj">小计</span>
						<span class="do">操作</span>
					</li>
					<foreach name="list" item="item">
					<li class="end" id="{$item.id}">
						<span class="goods">
							<a href="{:U('Index/view', '', '')}/{$item.gid}">
		                   	 <img src="{$item.good.thumb}" />
		                    </a>                    
						</span>
						<span class="name">
							<a href="{:U('Index/view', '', '')}/{$item.gid}" >{$item.good.title}</a>
							<p>总需 <span class="color">{$item.good.zongrenshu}</span>人次参与，还剩
								<span class="gorenci">{$item.good.shengyurenshu}</span> 人次
							</p>
						</span>
						<span class="moneys">￥{$item.good.money}</span>
						<span class="money"><span class="color">￥<b>{$item.good.danjia}</b></span></span>
						<span class="num">				
							<dl class="add">					
							<dd>
								<input id="input_{$item.id}" xg="{$item.good.xiangou}" type="type" sy="{$item.good.shengyurenshu}" dj="{$item.good.danjia}" val="{$item.id}" onkeyup="value=value.replace(/\D/g,'')" bk="{$item.count}" value="{$item.count}" class="amount" /></dd>
								<dd>
									<a href="JavaScript:;" val="{$item.id}" class="jia"></a>
									<a href="JavaScript:;" val="{$item.id}" class="jian"></a>
								</dd>                        
							</dl>
		                    	<p id="message_{$item.id}" class="message"></p>
						</span>
						<span id="xj_{$item.id}" class="xj">¥{$item['good']['danjia'] * $item['count']}</span>
						<span class="do"><a href="javascript:;void(0)" class="delgood" val="{$item.id}" >删除</a></span>
					</li>
					</foreach>
					<li class="ts">
						<p class="right">云购金额总计:￥<span id="moenyCount">{$total}</span></p>
					</li>
				</ul>
			</div>
			<h5>
				<a href="__MODULE__" id="but_on"></a>
				<input id="but_ok" type="button" value=""  name="submit"/>
			</h5>
		</div>
		<script type="text/javascript">
			$(function() {
				$(".jia").click(onamountchange);
				$(".jian").click(onamountchange);
				$(".amount").change(onamountchange);
				
				function onamountchange() {
					var $this = $(this);
					var id = $this.attr("val");
					var input = $("#input_" + id);
					var count = Number(input.val());
					var bkCount = Number(input.attr('bk'));
					var shengyu = Number(input.attr('sy'));
					var xiangou = Number(input.attr("xg"));
					var danjia = Number(input.attr("dj"));
					var message = $("#message_" + id);
					var xj = $("#xj_" + id);
					var flag = $this.hasClass("jia") ? 1 : ($this.hasClass("jian") ? -1 : 0);
					
					if(xiangou > 0 && (count + flag > xiangou)) {
						message.text("该商品限购" + xiangou + "人次");
						return;
					}
					
					if(count > shengyu) {
						count = shengyu
					}
					
					if(flag == -1 && count <= 1) {
						return;
					}
					
					if(count < -1) {
						input.val(bkCount);
						return;
					}
					
					if(count + flag == bkCount) {
						return;
					}
					count += flag;
					input.val(count);
					xj.text(count * danjia);
					sum();
					message.text("");
					
					$.post("{:U('edit', '', '')}/" + id + "/" + count, null, function(result) {
						if(result.status == 0) {
							input.attr("bk", result.count);
						} else { // 失败
							message.text("修改失败");
							
							xj.text(bkCount * danjia);
							input.val(bkCount);
							sum();
						}
					});
				}
				
				var moenyCount = $("#moenyCount");
				function sum() {
					var total = 0;
					$(".end").each(function() {
						var $this = $(this);
						var input = $("input", $this);
						var count = Number(input.val());
						var danjia = Number(input.attr("dj"));
						total += count * danjia;
					});
					moenyCount.text(total);
				}
				
				$(".delgood").click(function() {
					var $this = $(this);
					var id = $this.attr("val");
					var message = $("#message_" + id);
					$.post("{:U('remove', '', '')}/" + id, null, function(result) {
						if(result.status == 0) {
							$this.closest(".end").remove();
							sum();
							countCart(-1);
						} else { // 失败
							message.text("删除失败");
						}
					});
				});
				window.removeCart = function(id) {
					$("#" + id).remove();
					sum();
				}
			});
		</script>
<include file="Public:footer"/>